# EditorConfig: http://EditorConfig.org

root = true

[*]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.sh]
end_of_line = lf

[*.yml]
indent_size = 2

[{Makefile,Makefile.*}]
indent_style = tab
