*.[oa]
*.exe
*.obj
*.so
*~
*.idb
*.suo
*.ncb
*.vcproj.*
*.log
*.tar.gz
*.bak

.deps
Makefile
Makefile.in
aclocal.m4
autodefs.h
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.h
depcomp
stamp-h1
install-sh
missing

.vs
x64
Debug