/*
 *  OpenVPN-GUI -- A Windows GUI for OpenVPN.
 *
 *  Copyright (C) 2009 Heiko Hund <heikoh@users.sf.net>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program (see the file COPYING included with this
 *  distribution); if not, write to the Free Software Foundation, Inc.,
 *  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

#ifdef HAVE_CONFIG_H
#include <config.h>
#endif

#include <winresrc.h>
#include "../openvpn-gui-res.h"

/* Language resource files are UTF-8 encoded */
#pragma code_page(65001)

/* Manifest for XP visual styles */
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "openvpn-gui.manifest"

/* Application Icons */
ID_ICO_APP           ICON  DISCARDABLE  "openvpn-gui.ico"
ID_ICO_CONNECTED     ICON  DISCARDABLE  "connected.ico"
ID_ICO_CONNECTING    ICON  DISCARDABLE  "connecting.ico"
ID_ICO_DISCONNECTED  ICON  DISCARDABLE  "disconnected.ico"

#ifdef _MSC_VER
#include "openvpn-gui-res-en-msvc.rc"
#else
#include "openvpn-gui-res-cs.rc"
#include "openvpn-gui-res-de.rc"
#include "openvpn-gui-res-dk.rc"
#include "openvpn-gui-res-en.rc"
#include "openvpn-gui-res-es.rc"
#include "openvpn-gui-res-fi.rc"
#include "openvpn-gui-res-fr.rc"
#include "openvpn-gui-res-it.rc"
#include "openvpn-gui-res-jp.rc"
#include "openvpn-gui-res-kr.rc"
#include "openvpn-gui-res-nl.rc"
#include "openvpn-gui-res-no.rc"
#include "openvpn-gui-res-pl.rc"
#include "openvpn-gui-res-pt.rc"
#include "openvpn-gui-res-ru.rc"
#include "openvpn-gui-res-se.rc"
#include "openvpn-gui-res-tr.rc"
#include "openvpn-gui-res-ua.rc"
#include "openvpn-gui-res-zh-hans.rc"
#include "openvpn-gui-res-zh-hant.rc"
#endif

/* Version information and such */
VS_VERSION_INFO VERSIONINFO
FILEVERSION   PACKAGE_VERSION_RESOURCE
PRODUCTVERSION   PACKAGE_VERSION_RESOURCE
FILEOS        VOS_NT
FILETYPE      VFT_APP
BEGIN
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation"
            , LANG_CZECH,       1200
            , LANG_GERMAN,      1200
            , LANG_DANISH,      1200
            , LANG_ENGLISH,     1200
            , LANG_SPANISH,     1200
            , LANG_FINNISH,     1200
            , LANG_FRENCH,      1200
            , LANG_ITALIAN,     1200
            , LANG_JAPANESE,    1200
            , LANG_DUTCH,       1200
            , LANG_NORWEGIAN,   1200
            , LANG_POLISH,      1200
            , LANG_PORTUGUESE,  1200
            , LANG_RUSSIAN,     1200
            , LANG_SWEDISH,     1200
            , LANG_TURKISH,     1200
            , LANG_UKRAINIAN,   1200
            , LANG_CHINESE,     1200
            , LANG_KOREAN,      1200
    END

    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"  /* en_US, Unicode */
        BEGIN
            VALUE "FileDescription",  PACKAGE_NAME " for Windows"
            VALUE "FileVersion",      PACKAGE_VERSION_RESOURCE_STR
            VALUE "InternalName",     PACKAGE_TARNAME
            VALUE "OriginalFilename", PACKAGE_TARNAME ".exe"
            VALUE "ProductName",      PACKAGE_NAME
            VALUE "ProductVersion",   PACKAGE_VERSION_RESOURCE_STR
            VALUE "Website",          PACKAGE_URL
            VALUE "LegalCopyright",   "The " PACKAGE_NAME " developers"
            VALUE "CompanyName",      PACKAGE_NAME
        END
    END
END
