/*
 *  OpenVPN-GUI -- A Windows GUI for OpenVPN.
 *
 *  Copyright (C) 2004 Mathias Sundman <mathias@nilings.se>
 *                2005 Morten Karlsen <mk@taide.net>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program (see the file COPYING included with this
 *  distribution); if not, write to the Free Software Foundation, Inc.,
 *  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Passphrase Dialog */
ID_DLG_PASSPHRASE DIALOGEX 6, 18, 160, 83
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "Oppgi passord:", 201, 6, 6, 100, 10
    EDITTEXT ID_EDT_PASSPHRASE, 6, 17, 107, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Husk passord", ID_CHK_SAVE_PASS, 6, 33, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 49, 50, 14
    PUSHBUTTON "Avbryt", IDCANCEL, 90, 49, 50, 14
    LTEXT "", ID_TXT_WARNING, 6, 65, 100, 10
END

/* Auth Username/Password Dialog */
ID_DLG_AUTH DIALOGEX 6, 18, 160, 95
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "Brukernavn:", 0, 6, 9, 50, 10
    LTEXT "Passord:", 0, 6, 26, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Husk passord", ID_CHK_SAVE_PASS, 6, 42, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 58, 50, 14, BS_DEFPUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "Avbryt", IDCANCEL, 90, 58, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 80, 150, 10
END

/* Auth Username/Password/Challenge Dialog */
ID_DLG_AUTH_CHALLENGE DIALOG 6, 18, 160, 129
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - Brukerautentisering"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "Brukernavn:", 0, 6, 9, 50, 10
    LTEXT "Passord:", 0, 6, 26, 50, 10
    LTEXT "Respons:", 0, 6, 60, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT "", ID_TXT_AUTH_CHALLENGE, 6, 43, 148, 10
    EDITTEXT ID_EDT_AUTH_CHALLENGE, 60, 57, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Husk passord", ID_CHK_SAVE_PASS, 6, 76, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 92, 50, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "Avbryt", IDCANCEL, 90, 92, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 108, 150, 10
END

/* Challenge Response Dialog */
ID_DLG_CHALLENGE_RESPONSE DIALOG 6, 18, 212, 72
STYLE WS_SIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - Challenge Response"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "", ID_TXT_DESCRIPTION, 6, 9, 208, 10
    LTEXT "Response:", 0, 6, 30, 50, 10
    EDITTEXT ID_EDT_RESPONSE, 60, 27, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 20, 51, 50, 14, BS_PUSHBUTTON | WS_TABSTOP
    PUSHBUTTON "Avbryt", IDCANCEL, 90, 51, 52, 14
END

/* Status Dialog */
ID_DLG_STATUS DIALOG 6, 18, 380, 210
STYLE WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "Kobler til…", ID_TXT_STATUS, 20, 5, 200, 10
    LTEXT "", ID_TXT_BYTECOUNT, 20, 175, 200, 10
    LTEXT "OpenVPN GUI 11.y.0.0/2.4.x", ID_TXT_VERSION, 220, 175, 150, 10
    LTEXT "", ID_TXT_IP, 20, 160, 300, 10
    PUSHBUTTON "Koble fra", ID_DISCONNECT, 50, 190, 50, 14
    PUSHBUTTON "Koble til på nytt", ID_RESTART, 150, 190, 40, 14
    PUSHBUTTON "Skjul", ID_HIDE, 100, 190, 40, 14
END

/* Change Passphrase Dialog */
ID_DLG_CHGPASS DIALOG 6, 18, 193, 82
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "OpenVPN - Endre passord"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "Nåværende passord:", 171, 6, 9, 85, 10
    LTEXT "Oppgi nytt passord:", 172, 6, 26, 85, 10
    LTEXT "Bekreft nytt passord:", 173, 6, 42, 85, 10
    EDITTEXT ID_EDT_PASS_CUR, 95, 6, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW, 95, 23, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW2, 95, 39, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 40, 59, 50, 14
    PUSHBUTTON "Avbryt", IDCANCEL, 103, 59, 50, 14
    LTEXT "", ID_TXT_KEYFORMAT, 0, 0, 0, 0
    LTEXT "", ID_TXT_KEYFILE, 0, 0, 0, 0
END

/* Proxy Settings Dialog */
ID_DLG_PROXY DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Proxy"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "   ", 201, 6, 46, 235, 52
    AUTORADIOBUTTON "Bruk innstillinger fra OpenVPNs konfigurasjonsfil", ID_RB_PROXY_OPENVPN, \
                    13, 16, 200, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Bruk innstillinger fra Internet Explorer", \
                    ID_RB_PROXY_MSIE, 13, 31, 200, 10
    AUTORADIOBUTTON "Manuell konfigurering", ID_RB_PROXY_MANUAL, 13, 46, 81, 10
    AUTORADIOBUTTON "HTTP Proxy", ID_RB_PROXY_HTTP, 20, 62, 90, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "SOCKS Proxy", ID_RB_PROXY_SOCKS, 120, 62, 90, 10
    LTEXT "Adresse:", ID_TXT_PROXY_ADDRESS, 20, 77, 32, 10
    RTEXT "Port:", ID_TXT_PROXY_PORT, 171, 77, 20, 10
    EDITTEXT ID_EDT_PROXY_ADDRESS, 53, 75, 117, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PROXY_PORT, 196, 75, 30, 12, ES_AUTOHSCROLL
END

/* General Settings Dialog */
ID_DLG_GENERAL DIALOGEX 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Generelt"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "Brukergrensesnitt", 201, 6, 12, 235, 30
    LTEXT "Språk:", ID_TXT_LANGUAGE, 17, 25, 23, 12
    COMBOBOX ID_CMB_LANGUAGE, 42, 23, 186, 400, CBS_DROPDOWNLIST | WS_TABSTOP
    GROUPBOX "Oppstart", 202, 6, 47, 235, 30
    AUTOCHECKBOX "Kjør automatisk når Windows starter", ID_CHK_STARTUP, 17, 59, 200, 12

    GROUPBOX "Innstillinger", 202, 6, 82, 235, 90
    AUTOCHECKBOX "Tilføy til eksisterende logg", ID_CHK_LOG_APPEND, 17, 95, 93, 10
    AUTOCHECKBOX "Vis scriptvindu", ID_CHK_SHOW_SCRIPT_WIN, 17, 110, 200, 10
    AUTOCHECKBOX "Skjul statusvindu ved tilkobling", ID_CHK_SILENT, 17, 125, 200, 10
    LTEXT "Vis ballong", ID_TXT_BALLOON, 17, 140, 100, 10
    AUTORADIOBUTTON "Ved tilkobling", ID_RB_BALLOON1, 28, 155, 58, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Ved tilkobling/gjenoppkobling", ID_RB_BALLOON2, 87, 155, 103, 10
    AUTORADIOBUTTON "Aldri", ID_RB_BALLOON0, 200, 155, 27, 10
END

/* Advanced Dialog */
ID_DLG_ADVANCED DIALOGEX 6, 18, 252, 218
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Avansert"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "Konfigurasjonsfiler", 201, 6, 12, 235, 45
    LTEXT "Mappe:", ID_TXT_FOLDER, 17, 25, 32, 10
    LTEXT "Filetternavn:", ID_TXT_EXTENSION, 17, 40, 40, 10
    EDITTEXT ID_EDT_CONFIG_DIR, 58, 23, 150, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_CONFIG_EXT, 58, 38, 25, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_CONFIG_DIR, 211, 23, 25, 12

    GROUPBOX "Loggfiler", 202, 6, 62, 235, 30
    LTEXT "Mappe:", ID_TXT_FOLDER, 17, 74, 32, 10
    EDITTEXT ID_EDT_LOG_DIR, 53, 72, 150, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_LOG_DIR, 208, 72, 25, 12

    GROUPBOX "Skript tidsavbrudd", 201, 6, 97, 235, 60
    LTEXT "Kjør skript før tilkobling:", ID_TXT_PRECONNECT_TIMEOUT, 17, 110, 100, 10
    LTEXT "Kjør skript når tilkoblet:", ID_TXT_CONNECT_TIMEOUT, 17, 125, 90, 10
    LTEXT "Kjør skript når frakoblet:", ID_TXT_DISCONNECT_TIMEOUT, 17, 140, 90, 10
    EDITTEXT ID_EDT_PRECONNECT_TIMEOUT, 103, 108, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_CONNECT_TIMEOUT, 103, 123, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_DISCONNECT_TIMEOUT, 103, 138, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
END

/* About Dialog */
ID_DLG_ABOUT DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Om"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
BEGIN
    ICON ID_ICO_APP, 0, 8, 16, 21, 20
    LTEXT "OpenVPN GUI v" PACKAGE_VERSION_RESOURCE_STR " - Et Windows-grensesnitt mot OpenVPN\n" \
          "Copyright (C) 2004-2005 Mathias Sundman <info@openvpn.se>\n" \
          "Copyright (C) 2008-2014 Heiko Hund <heikoh@users.sf.net>\n" \
          "Copyright (C) 2012-" GUI_COPYRIGHT_YEAR_END " OpenVPN GUI contributors\n" \
          "https://github.com/OpenVPN/openvpn-gui/", 0, 36, 15, 206, 50
    LTEXT "OpenVPN - En applikasjon for sikker kommunikasjon mellom nettverk over en usikker " \
          "kommunikasjonskanal på én enkelt port, med støtte for SSL/TLS-basert " \
          "sesjonsautentisering og nøkkelhåndtering, pakkekryptering,  " \
          "-autentisering og -komprimering.\n" \
          "\n" \
          "Copyright (C) 2002-" CORE_COPYRIGHT_YEAR_END " OpenVPN Technologies, Inc <info@openvpn.net>\n" \
          "https://openvpn.net/", 0, 8, 70, 240, 64
END

/* Proxy Authentication Dialog */
ID_DLG_PROXY_AUTH DIALOG 29, 23, 170, 65
STYLE DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN - Proxy Autentisering"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "Brukernavn:", 201, 9, 8, 55, 10
    EDITTEXT ID_EDT_PROXY_USER, 65, 5, 94, 12, ES_AUTOHSCROLL
    LTEXT "Passord:", 202, 9, 26, 55, 10
    EDITTEXT ID_EDT_PROXY_PASS, 65, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 60, 43, 50, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
END

STRINGTABLE
LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
BEGIN
    IDS_LANGUAGE_NAME "Norsk - Norwegian"

    /* Tray - Resources */
    IDS_TIP_DEFAULT "OpenVPN Brukergrensesnitt"
    IDS_TIP_CONNECTED "\nTilkoblet: "
    IDS_TIP_CONNECTING "\nKobler til: "
    IDS_TIP_CONNECTED_SINCE "\nTilkoblet siden: "
    IDS_TIP_ASSIGNED_IP "\nTildelt IP: %s"
    IDS_MENU_SERVICE "OpenVPN-tjenesten"
    IDS_MENU_IMPORT "Importer fil…"
    IDS_MENU_SETTINGS "Innstillinger…"
    IDS_MENU_CLOSE "Avslutte"
    IDS_MENU_CONNECT "Koble til"
    IDS_MENU_DISCONNECT "Koble fra"
    IDS_MENU_STATUS "Vis status"
    IDS_MENU_VIEWLOG "Vis logg"
    IDS_MENU_EDITCONFIG "Endre innstillinger"
    IDS_MENU_PASSPHRASE "Endre passord"
    IDS_MENU_CLEARPASS "Glem lagrede passord"
    IDS_MENU_SERVICE_START "Start"
    IDS_MENU_SERVICE_STOP "Stopp"
    IDS_MENU_SERVICE_RESTART "Start på nytt"
    IDS_MENU_SERVICEONLY_START "Koble til"
    IDS_MENU_SERVICEONLY_STOP "Koble fra"
    IDS_MENU_SERVICEONLY_RESTART "Koble til på nytt"
    IDS_MENU_ASK_STOP_SERVICE "Vil du koble fra (stoppe OpenVPN-tjenesten)?"

    /* Logviewer - Resources */
    IDS_ERR_START_LOG_VIEWER "Feil under oppstart av program for loggvisning: %s"
    IDS_ERR_START_CONF_EDITOR "Feil under oppstart av konfigurasjons-editor: %s"

    /* OpenVPN */
    IDS_ERR_MANY_CONFIGS "Du kan ikke ha flere enn %d konfigurasjonsfiler. Kontakt utvikleren av OpenVPN GUI om du har behov for å håndtere flere filer."
    IDS_NFO_NO_CONFIGS "Ingen lesbare tilkoblingsprofiler (konfigurasjonsfiler) funnet"
    IDS_ERR_CONFIG_NOT_AUTHORIZED "For å starte tilkoblingen (%s) kreves medlemskap i gruppen ""%s"". "\
                                  "Kontakt din systemadministrator for hjelp med dette.\n"
    IDS_ERR_CONFIG_TRY_AUTHORIZE  "For å starte tilkoblingen (%s) kreves medlemskap i gruppen ""%s"".\n\n"\
                                  "Vil du gjøre din brukerkonto medlem av denne gruppen?\n"\
                                  "Du kan bli spurt om administrator-rettigheter for å utføre denne endringen."
    IDS_ERR_ONE_CONN_OLD_VER "Du kan bare bruke én enkelt tilkobling av gangen med eldre versjoner av OpenVPN enn 2.0-beta6."
    IDS_ERR_STOP_SERV_OLD_VER "Du kan ikke koble til med OpenVPN GUI når OpenVPN-tjenesten kjører. (kun OpenVPN 1.5/1.6). Stopp tjenesten først om du vil benytte OpenVPN GUI."
    IDS_ERR_CREATE_EVENT "CreateEvent feilet med å opprette hendelsen: %s"
    IDS_ERR_UNKNOWN_PRIORITY "Ukjent prioritet: %s"
    IDS_ERR_LOG_APPEND_BOOL "Flagg for å overskrive eller beholde gammel loggfil ('%s') må være '0' eller '1'."
    IDS_ERR_GET_MSIE_PROXY "Kunne ikke hente HTTP proxy-innstillinger fra Internet Explorer."
    IDS_ERR_INIT_SEC_DESC "InitializeSecurityDescriptor feilet."
    IDS_ERR_SET_SEC_DESC_ACL "SetSecurityDescriptorDacl feilet."
    IDS_ERR_CREATE_PIPE_OUTPUT "CreatePipe på hOutputWrite feilet."
    IDS_ERR_CREATE_PIPE_INPUT "CreatePipe på hInputRead feilet."
    IDS_ERR_DUP_HANDLE_OUT_READ "DuplicateHandle på hOutputRead feilet."
    IDS_ERR_DUP_HANDLE_IN_WRITE "DuplicateHandle på hInputWrite feilet."
    IDS_ERR_CREATE_PROCESS "CreateProcess feilet, exe='%s' cmdline='%s' dir='%s'"
    IDS_ERR_CREATE_THREAD_STATUS "CreateThread for å vise statusvindu feilet."
    IDS_NFO_STATE_WAIT_TERM "Status: Venter på at OpenVPN stopper…"
    IDS_NFO_STATE_CONNECTED "Status: Tilkoblet"
    IDS_NFO_NOW_CONNECTED "%s er tilkoblet."
    IDS_NFO_ASSIGN_IP "Tildelt IP: %s"
    IDS_ERR_CERT_EXPIRED "Kunne ikke koble til. Sertifikatet er ikke lenger gyldig. Eventuelt kan klokken på datamaskinen din gå feil."
    IDS_ERR_CERT_NOT_YET_VALID "Kunne ikke koble til. Sertifikatet er ikke gyldig enda. Eventuelt kan klokken på datamaskinen din gå feil."
    IDS_NFO_STATE_RECONNECTING "Status: Kobler til på nytt"
    IDS_NFO_STATE_DISCONNECTED "Status: Koblet fra"
    IDS_NFO_CONN_TERMINATED "Du har blitt frakoblet %s."
    IDS_NFO_STATE_FAILED "Status: Tilkobling feilet."
    IDS_NFO_CONN_FAILED "Tilkobling til %s feilet."
    IDS_NFO_STATE_FAILED_RECONN "Status: Kunne ikke koble til på nytt"
    IDS_NFO_RECONN_FAILED "Tilkobling til %s feilet."
    IDS_NFO_STATE_SUSPENDED "Status: Hvilemodus"
    IDS_ERR_READ_STDOUT_PIPE "Feil under behandling av loggdata fra OpenVPN"
    IDS_ERR_CREATE_EDIT_LOGWINDOW "Kunne ikke klargjøre loggvindu"
    IDS_ERR_SET_SIZE "'Set Size' feilet!"
    IDS_ERR_AUTOSTART_CONF "Følgende konfig kunne ikke starte automatisk: %s"
    IDS_ERR_CREATE_PIPE_IN_READ "CreatePipe på hInputRead feilet."
    IDS_NFO_STATE_CONNECTING "Status: Kobler til"
    IDS_NFO_CONNECTION_XXX "OpenVPN Tilkoblet (%s)"
    IDS_NFO_STATE_CONN_SCRIPT "Status: Kjører skript for tilkobling"
    IDS_NFO_STATE_DISCONN_SCRIPT "Status: Kjører skript for frakobling"
    IDS_ERR_RUN_CONN_SCRIPT "En feil oppsto under kjøring av skript: %s"
    IDS_ERR_GET_EXIT_CODE "En feil oppsto da avslutningskode fra følgende skript skulle hentes: %s"
    IDS_ERR_CONN_SCRIPT_FAILED "Tilkoblingsskriptet feilet. (avslutningskode=%ld)"
    IDS_ERR_RUN_CONN_SCRIPT_TIMEOUT "Tilkoblingsskriptet fikk tidsavbrudd etter %d sekunder."
    IDS_ERR_CONFIG_EXIST "Det finnes allerede en konfigurasjonsfil med navnet '%s'. Du kan ikke ha flere " \
                         "konfigurasjonsfiler med samme navn, selv om de ligger i ulike kataloger."

    /* main - Resources */
    IDS_ERR_OPEN_DEBUG_FILE "Feil under åpning av feilsøkingsfil. (%s)"
    IDS_ERR_CREATE_PATH "Kunne ikke opprette filsti for %s:\n%s"
    IDS_ERR_LOAD_RICHED20 "Kunne ikke laste RICHED20.DLL."
    IDS_ERR_SHELL_DLL_VERSION "Din versjon av shell32.dll er for lav (0x%lx). Du trenger minst versjon 5.0."
    IDS_NFO_SERVICE_STARTED "OpenVPN-tjenesten startet."
    IDS_NFO_SERVICE_STOPPED "OpenVPN-tjenesten stoppet."
    IDS_NFO_ACTIVE_CONN_EXIT "Aktive tilkoblinger vil bli avbrutt om du avslutter OpenVPN GUI.\n\nVil du avslutte?"
    IDS_NFO_SERVICE_ACTIVE_EXIT "Du er tilkoblet med OpenVPN (OpenVPN-tjenesten kjører). " \
                                "Aktive tilkoblinger vil forbli tilkoblet om du avslutter OpenVPN GUI.\n\n" \
                                "Vil du avslutte?"

    /* options - Resources */
    IDS_NFO_USAGE "--help\t\t\t: Vis dene meldingen.\n" \
                  "--connect cnn \t\t: Koble til ""cnn"" ved oppstart. (filetternavn må være med)\n" \
                  "\t\t\t   Eksempel: openvpn-gui --connect office.ovpn\n" \
                  "\n" \
                  "Parametere som vil overstyre innstillinger gjort i registeret:\n" \
                  "--exe_path\t\t: Sti til openvpn.exe.\n" \
                  "--config_dir\t\t: Sti til mappe for konfigurasjonsfiler.\n" \
                  "--log_dir\t\t\t: Sti til mappe for loggfiler.\n" \
                  "--priority_string\t\t: Prioritet på OpenVPN prosesser (Se install.txt for detaljer).\n" \
                  "--append_string\t\t: 1=Behold gammel logg. 0=Tøm loggfil ved ny tilkobling.\n" \
                  "--log_viewer\t\t: Sti til program for å vise loggfiler.\n" \
                  "--editor\t\t\t: Sti til program for å endre konfigurasjonsfiler.\n" \
                  "--allow_edit\t\t: 1=Vis 'Endre innstillinger' i menyen.\n" \
                  "--allow_service\t\t: 1=Vis 'OpenVPN-tjenesten' i menyen.\n" \
                  "--allow_password\t\t: 1=Vis 'Endre passord' i menyen.\n" \
                  "--allow_proxy\t\t: 1=Vis 'Proxy-innstillinger' i menyen.\n" \
                  "--show_balloon\t\t: 0=Aldri, 1=under tilkobling, 2=Ved hver til- og gjenoppkobling.\n" \
                  "--service_only\t\t: 1=Kjør kun som bakgrunnstjeneste.\n" \
                  "--silent_connection\t\t: 1=Skjul statusvindu ved tilkobling.\n" \
                  "--show_script_window\t: 0=Skjul skriptvindu, 1=Vis skriptvindu.\n" \
                  "--passphrase_attempts\t: Antall tilkoblingsforsøk.\n" \
                  "--connectscript_timeout\t: Tidsavbrudd for skript etter tilkobling.\n" \
                  "--disconnectscript_timeout\t: Tidsavbrudd for skript etter frakobling.\n" \
                  "--preconnectscript_timeout\t: Tidsavbrudd for skript før tilkobling.\n"

    IDS_NFO_USAGECAPTION "OpenVPN GUI bruk"
    IDS_ERR_BAD_PARAMETER "Forsøkte å tolke ""%s"" som et --option parameter, " \
                          "men kunne ikke finne innledende '--'"
    IDS_ERR_BAD_OPTION "Ukjent parameter eller manglende argument: --%s\n" \
                       "Kjør openvpn-gui --help for hjelp."

    /* passphrase - Resources */
    IDS_ERR_CREATE_PASS_THREAD "Det oppsto en feil under åpning av dialogboksen for endring av passord."
    IDS_NFO_CHANGE_PWD "Endre passord (%s)"
    IDS_ERR_PWD_DONT_MATCH "Passordene som ble oppgitt samsvarer ikke med hverandre. Prøv igjen."
    IDS_ERR_PWD_TO_SHORT "Passordet må bestå av minst %d tegn."
    IDS_NFO_EMPTY_PWD "Er du sikker på at du vil benytte et BLANKT passord?"
    IDS_ERR_UNKNOWN_KEYFILE_FORMAT "Nøkkelfilen har ukjent format."
    IDS_ERR_OPEN_PRIVATE_KEY_FILE "En feil oppsto under åpning av nøkkelfilen (%s)."
    IDS_ERR_OLD_PWD_INCORRECT "Du har oppgitt feil passord."
    IDS_ERR_OPEN_WRITE_KEY "En feil oppsto under åpning av nøkkelfil for skrivning (%s)."
    IDS_ERR_WRITE_NEW_KEY "En feil oppsto under opprettelse av ny nøkkelfil (%s)."
    IDS_NFO_PWD_CHANGED "Passordet er endret."
    IDS_ERR_READ_PKCS12 "Feil under lesning fra PKCS #12 fil (%s)."
    IDS_ERR_CREATE_PKCS12 "En feil oppsto under opprettelse av PKCS #12 objekt."
    IDS_ERR_OPEN_CONFIG "En feil oppsto under åpningen av en konfigurasjonsfil: %s."
    IDS_ERR_ONLY_ONE_KEY_OPTION "Du kan ikke ha mer enn ett ""key""-parameter i din konfigurasjonsfil."
    IDS_ERR_ONLY_KEY_OR_PKCS12 "Du kan ikke ha både ""key""- og ""pkcs12""-parametetre i din konfigurasjonsfil."
    IDS_ERR_ONLY_ONE_PKCS12_OPTION "Du kan ikke ha mer enn ett ""pkcs12""-parameter i din konfigurasjonsfil."
    IDS_ERR_HAVE_KEY_OR_PKCS12 "Din konfigurasjonsfil mangler ""key""- eller ""pkcs12""-parameter."
    IDS_ERR_KEY_FILENAME_TO_LONG "Filstien til krypteringsnøkkelen oppgitt i konfigurasjonsfilen er for lang."
    IDS_ERR_PASSPHRASE2STDIN "En feil oppsto da passordet skulle sendes til OpenVPN via stdin."
    IDS_ERR_AUTH_USERNAME2STDIN "En feil oppsto da brukernavnet skulle sendes til OpenVPN via stdin."
    IDS_ERR_AUTH_PASSWORD2STDIN "En feil oppsto da passordet skulle sendes til OpenVPN via stdin."
    IDS_ERR_CR2STDIN "En feil oppsto da CR skulle sendes til OpenVPN via stdin."
    IDS_ERR_INVALID_CHARS_IN_PSW "Det nye passordet inneholder tegn som ikke er tillatt. Prøv et annet passord."

    /* settings */
    IDS_SETTINGS_CAPTION "OpenVPN - Innstillinger"

    /* proxy */
    IDS_ERR_HTTP_PROXY_ADDRESS "HTTP proxy addresse må oppgis."
    IDS_ERR_HTTP_PROXY_PORT "HTTP proxy port må oppgis."
    IDS_ERR_HTTP_PROXY_PORT_RANGE "HTTP proxy port må være et tall mellom 1 og 65535"
    IDS_ERR_SOCKS_PROXY_ADDRESS "SOCKS proxy addresse må oppgis."
    IDS_ERR_SOCKS_PROXY_PORT "SOCKS proxy port må oppgis."
    IDS_ERR_SOCKS_PROXY_PORT_RANGE "SOCKS proxy port må være ett tall mellom 1 og 65535"
    IDS_ERR_CREATE_REG_HKCU_KEY "En feil oppsto ved opprettelse av registernøkkelen ""HKEY_CURRENT_USER\\%s"""
    IDS_ERR_GET_TEMP_PATH "En feil oppsto da programmet forsøkte å finne stien til mappe for midlertidige filer (%TEMP%). ""C:\\"" vil bli brukt istedet."

    /* service */
    IDS_ERR_OPEN_VPN_SERVICE "Kunnne ikke åpne ""OpenVPN-tjenesten"""
    IDS_ERR_START_SERVICE "En feil oppsto under oppstart av OpenVPN-tjenesten"
    IDS_ERR_QUERY_SERVICE "En feil oppsto da status på OpenVPN-tjenesten skulle kontrolleres."
    IDS_ERR_SERVICE_START_FAILED "OpenVPN-tjenesten kunne ikke starte."
    IDS_ERR_OPEN_SCMGR "OpenSCManager feilet (%d)"
    IDS_ERR_STOP_SERVICE "En feil oppsto ved stopp av OpenVPN-tjenesten"
    IDS_NFO_RESTARTED "OpenVPN-tjenesten ble startet på nytt."
    IDS_ERR_ACCESS_SERVICE_PIPE "Klarte ikke få tilgang til bakgrunnstjenestens datakanal (service pipe)."
    IDS_ERR_WRITE_SERVICE_PIPE "Klarte ikke skrive til bakgrunnstjenestens datakanal (service pipe)."
    IDS_ERR_INSTALL_ISERVICE     """OpenVPNServiceInteractive"" er ikke installert.\n"
                                 "Denne oppgaven fungerer kanskje ikke uten administrator-rettigheter."
    IDS_ERR_NOTSTARTED_ISERVICE  """OpenVPNServiceInteractive"" er ikke startet.\n"
                                 "Denne oppgaven fungerer kanskje ikke uten administrator-rettigheter."

    /* registry */
    IDS_ERR_GET_WINDOWS_DIR "Kunne ikke finne mappen hvor Windows er installert."
    IDS_ERR_GET_PROFILE_DIR "Kunne ikke finne mappen til den aktive brukerprofilen."
    IDS_ERR_GET_PROGRAM_DIR "Kunne ikke finne filstien til mappen ""Program""."
    IDS_ERR_OPEN_REGISTRY "En feil oppsto under åpning av registeret for lesning (HKLM\\SOFTWARE\\OpenVPN).\n OpenVPN er kanskje ikke installert."
    IDS_ERR_READING_REGISTRY "En feil oppsto ved lesning av registernøkkel (HKLM\\SOFTWARE\\OpenVPN)."
    IDS_ERR_PASSPHRASE_ATTEMPTS "Registerverdien ""passphrase_attempts"" må være et tall mellom 1 og 9."
    IDS_ERR_CONN_SCRIPT_TIMEOUT "Registerverdien ""connectscript_timeout"" må være et tall mellom 0 og 99."
    IDS_ERR_DISCONN_SCRIPT_TIMEOUT "Registerverdien ""disconnectscript_timeout"" må være et tall mellom 1 og 99."
    IDS_ERR_PRECONN_SCRIPT_TIMEOUT "Registerverdien ""preconnectscript_timeout"" må være et tall mellom 1 og 99."
    IDS_ERR_CREATE_REG_KEY "En feil oppsto under opprettelse av registernøkkelen 'HKLM\\SOFTWARE\\OpenVPN-GUI'."
    IDS_ERR_OPEN_WRITE_REG "Kunne ikke oppdatere registeret. Du må starte programmet med administrator-rettigheter for å kunne gjøre endringer i registeret."
    IDS_ERR_READ_SET_KEY "Kunne ikke lese eller skrive til registernøkkelen ""%s""."
    IDS_ERR_WRITE_REGVALUE "Feil ved oppdatering av registerverdien ""HKEY_CURRENT_USER\\%s\\%s""."

    /* importation */
    IDS_ERR_IMPORT_EXISTS "En konfigurasjon med navnet ""%s"" eksisterer allerede."
    IDS_ERR_IMPORT_FAILED "En feil oppsto under importeringen. Kunne ikke opprette filstien:\n\n" \
                          "%s\n\nDet kan hende du trenger administrator-rettigheter for å importere filer."
    IDS_NFO_IMPORT_SUCCESS "Importeringen var vellykket."

    /* save/delete password */
    IDS_NFO_DELETE_PASS "Klikk OK for å slette lagrede passord for konfigurasjonen ""%s""."
END
