/*
 *  OpenVPN-GUI -- A Windows GUI for OpenVPN.
 *
 *  Copyright (C) 2004 Mathias Sundman <mathias@nilings.se>
 *                2009 Heiko Hund <heikoh@users.sf.net>
 *                2011 Taro Yamazaki <taro@plum-systems.co.jp>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program (see the file COPYING included with this
 *  distribution); if not, write to the Free Software Foundation, Inc.,
 *  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 *
 */

/* Passphrase Dialog */
ID_DLG_PASSPHRASE DIALOGEX 6, 18, 160, 83
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "パスワード:", 201, 6, 6, 100, 10
    EDITTEXT ID_EDT_PASSPHRASE, 6, 17, 107, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Save password", ID_CHK_SAVE_PASS, 6, 33, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 49, 50, 14
    PUSHBUTTON "キャンセル", IDCANCEL, 90, 49, 50, 14
    LTEXT "", ID_TXT_WARNING, 6, 65, 100, 10
END

/* Auth Username/Password Dialog */
ID_DLG_AUTH DIALOGEX 6, 18, 160, 95
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "ユーザー名:", 0, 6, 9, 50, 10
    LTEXT "パスワード:", 0, 6, 26, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Save password", ID_CHK_SAVE_PASS, 6, 42, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 58, 50, 14, BS_DEFPUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "キャンセル", IDCANCEL, 90, 58, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 80, 150, 10
END

/* Auth Username/Password/Challenge Dialog */
ID_DLG_AUTH_CHALLENGE DIALOG 6, 18, 160, 129
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - User Authentication"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "ユーザー名:", 0, 6, 9, 50, 10
    LTEXT "パスワード:", 0, 6, 26, 50, 10
    LTEXT "Response:", 0, 6, 60, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT "", ID_TXT_AUTH_CHALLENGE, 6, 43, 148, 10
    EDITTEXT ID_EDT_AUTH_CHALLENGE, 60, 57, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Save password", ID_CHK_SAVE_PASS, 6, 76, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 92, 50, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "キャンセル", IDCANCEL, 90, 92, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 108, 150, 10
END
/* Challenge Response Dialog */
ID_DLG_CHALLENGE_RESPONSE DIALOG 6, 18, 212, 72
STYLE WS_SIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - Challenge Response"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "", ID_TXT_DESCRIPTION, 6, 9, 208, 10
    LTEXT "Response:", 0, 6, 30, 50, 10
    EDITTEXT ID_EDT_RESPONSE, 60, 27, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 20, 51, 50, 14, BS_PUSHBUTTON | WS_TABSTOP
    PUSHBUTTON "キャンセル", IDCANCEL, 90, 51, 52, 14
END

/* Status Dialog */
ID_DLG_STATUS DIALOG 6, 18, 380, 210
STYLE WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "接続中…", ID_TXT_STATUS, 20, 5, 200, 10
    LTEXT "", ID_TXT_BYTECOUNT, 20, 175, 200, 10
    LTEXT "OpenVPN GUI 11.y.0.0/2.4.x", ID_TXT_VERSION, 220, 175, 150, 10
    LTEXT "", ID_TXT_IP, 20, 160, 300, 10
    PUSHBUTTON "切断", ID_DISCONNECT, 50, 190, 50, 14
    PUSHBUTTON "再接続", ID_RESTART, 150, 190, 50, 14
    PUSHBUTTON "隠す", ID_HIDE, 100, 190, 50, 14
END

/* Change Passphrase Dialog */
ID_DLG_CHGPASS DIALOG 6, 18, 193, 82
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "OpenVPN - パスフレーズの変更"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "古いパスワード:", 171, 6, 9, 85, 10
    LTEXT "新しいパスワード:", 172, 6, 26, 85, 10
    LTEXT "新しいパスワード（確認用）:", 173, 6, 42, 85, 10
    EDITTEXT ID_EDT_PASS_CUR, 95, 6, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW, 95, 23, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW2, 95, 39, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 40, 59, 50, 14
    PUSHBUTTON "キャンセル", IDCANCEL, 103, 59, 50, 14
    LTEXT "", ID_TXT_KEYFORMAT, 0, 0, 0, 0
    LTEXT "", ID_TXT_KEYFILE, 0, 0, 0, 0
END

/* Proxy Settings Dialog */
ID_DLG_PROXY DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "プロキシ"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "   ", 201, 6, 46, 235, 52
    AUTORADIOBUTTON "OpenVPN設定ファイルの設定を使用", ID_RB_PROXY_OPENVPN, \
                    13, 16, 200, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "システムのプロキシ設定を使用", \
                    ID_RB_PROXY_MSIE, 13, 31, 200, 10
    AUTORADIOBUTTON "手動設定", ID_RB_PROXY_MANUAL, 13, 46, 49, 10
    AUTORADIOBUTTON "HTTPプロキシ", ID_RB_PROXY_HTTP, 20, 62, 90, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "SOCKSプロキシ", ID_RB_PROXY_SOCKS, 120, 62, 90, 10
    LTEXT "アドレス:", ID_TXT_PROXY_ADDRESS, 20, 77, 32, 10
    RTEXT "ポート:", ID_TXT_PROXY_PORT, 161, 77, 30, 10
    EDITTEXT ID_EDT_PROXY_ADDRESS, 53, 75, 107, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PROXY_PORT, 196, 75, 30, 12, ES_AUTOHSCROLL
END

/* General Settings Dialog */
ID_DLG_GENERAL DIALOGEX 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "基本設定"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "ユーザーインターフェイス", 201, 6, 12, 235, 30
    LTEXT "言語:", ID_TXT_LANGUAGE, 17, 25, 52, 12
    COMBOBOX ID_CMB_LANGUAGE, 39, 23, 189, 400, CBS_DROPDOWNLIST | WS_TABSTOP
    GROUPBOX "Startup", 202, 6, 47, 235, 30
    AUTOCHECKBOX "Launch on Windows startup", ID_CHK_STARTUP, 17, 59, 200, 12

    GROUPBOX "Preferences", 202, 6, 82, 235, 90
    AUTOCHECKBOX "ログファイルに追記", ID_CHK_LOG_APPEND, 17, 95, 200, 10
    AUTOCHECKBOX "スクリプト実行ウィンドウを表示する", ID_CHK_SHOW_SCRIPT_WIN, 17, 110, 200, 10
    AUTOCHECKBOX "接続時にステータスダイアログを表示しない", ID_CHK_SILENT, 17, 125, 200, 10
    LTEXT "Show Balloon", ID_TXT_BALLOON, 17, 140, 100, 10
    AUTORADIOBUTTON "初期接続時", ID_RB_BALLOON1, 22, 155, 60, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "毎回の接続時", ID_RB_BALLOON2, 96, 155, 90, 10
    AUTORADIOBUTTON "表示しない", ID_RB_BALLOON0, 181, 155, 40, 10
END

/* Advanced Dialog */
ID_DLG_ADVANCED DIALOGEX 6, 18, 252, 218
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Advanced"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "設定ファイル", 201, 6, 12, 235, 45
    LTEXT "ディレクトリ:", ID_TXT_FOLDER, 17, 25, 52, 10
    LTEXT "拡張子:", ID_TXT_EXTENSION, 17, 40, 52, 10
    EDITTEXT ID_EDT_CONFIG_DIR, 58, 23, 145, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_CONFIG_EXT, 58, 38, 25, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_CONFIG_DIR, 208, 23, 25, 12

    GROUPBOX "ログファイル", 202, 6, 62, 235, 30
    LTEXT "ディレクトリ:", ID_TXT_FOLDER, 17, 74, 52, 10
    EDITTEXT ID_EDT_LOG_DIR, 58, 72, 145, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_LOG_DIR, 208, 72, 25, 12

    GROUPBOX "スクリプトの終了を待つ時間", 201, 6, 97, 235, 60
    LTEXT "接続前スクリプト:", ID_TXT_PRECONNECT_TIMEOUT, 17, 110, 120, 10
    LTEXT "接続スクリプト:", ID_TXT_CONNECT_TIMEOUT, 17, 125, 120, 10
    LTEXT "切断スクリプト:", ID_TXT_DISCONNECT_TIMEOUT, 17, 140, 120, 10
    EDITTEXT ID_EDT_PRECONNECT_TIMEOUT, 143, 108, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_CONNECT_TIMEOUT, 143, 123, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_DISCONNECT_TIMEOUT, 143, 138, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
END

/* About Dialog */
ID_DLG_ABOUT DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "バージョン情報"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
    ICON ID_ICO_APP, 0, 8, 16, 21, 20
    LTEXT "OpenVPN GUI v" PACKAGE_VERSION_RESOURCE_STR " - A Windows GUI for OpenVPN\n" \
          "Copyright (C) 2004-2005 Mathias Sundman <info@openvpn.se>\n" \
          "Copyright (C) 2008-2014 Heiko Hund <heikoh@users.sf.net>\n" \
          "Copyright (C) 2012-" GUI_COPYRIGHT_YEAR_END " OpenVPN GUI contributors\n" \
          "https://github.com/OpenVPN/openvpn-gui/", 0, 36, 15, 206, 42
    LTEXT "OpenVPN - An application to securely tunnel IP networks " \
          "over a single TCP/UDP port, with support for SSL/TLS-based " \
          "session authentication and key exchange, packet " \
          "encryption, packet authentication, and packet compression.\n" \
          "\n" \
          "Copyright (C) 2002-" CORE_COPYRIGHT_YEAR_END " OpenVPN Technologies, Inc <info@openvpn.net>\n" \
          "https://openvpn.net/", 0, 8, 61, 240, 64
END

/* Proxy Authentication Dialog */
ID_DLG_PROXY_AUTH DIALOG 29, 23, 154, 65
STYLE DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN - プロキシ認証"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "ユーザー名:", 201, 9, 8, 38, 10
    EDITTEXT ID_EDT_PROXY_USER, 49, 5, 94, 12, ES_AUTOHSCROLL
    LTEXT "パスワード:", 202, 9, 26, 38, 10
    EDITTEXT ID_EDT_PROXY_PASS, 49, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 58, 43, 40, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
END

STRINGTABLE
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
    IDS_LANGUAGE_NAME "日本語 - Japanese"

    /* Tray - Resources */
    IDS_TIP_DEFAULT "OpenVPN GUI "
    IDS_TIP_CONNECTED "\n接続済み: "
    IDS_TIP_CONNECTING "\n接続中: "
    IDS_TIP_CONNECTED_SINCE "\n接続時間: "
    IDS_TIP_ASSIGNED_IP "\n割り当てられたIP: %s"
    IDS_MENU_SERVICE "OpenVPNサービス"
    IDS_MENU_SETTINGS "設定…"
    IDS_MENU_CLOSE "終了"
    IDS_MENU_CONNECT "接続"
    IDS_MENU_DISCONNECT "切断"
    IDS_MENU_STATUS "ステータスの表示"
    IDS_MENU_VIEWLOG "ログの表示"
    IDS_MENU_EDITCONFIG "設定の編集"
    IDS_MENU_PASSPHRASE "パスワード変更"
    IDS_MENU_SERVICE_START "開始"
    IDS_MENU_SERVICE_STOP "停止"
    IDS_MENU_SERVICE_RESTART "再起動"
    IDS_MENU_SERVICEONLY_START "接続"
    IDS_MENU_SERVICEONLY_STOP "切断"
    IDS_MENU_SERVICEONLY_RESTART "再接続"
    IDS_MENU_ASK_STOP_SERVICE "切断しますか？（OpenVPNサービスを停止します）"

    /* Logviewer - Resources */
    IDS_ERR_START_LOG_VIEWER "ログビューアの起動に失敗しました: %s"
    IDS_ERR_START_CONF_EDITOR "設定エディタの起動に失敗しました: %s"

    /* OpenVPN */
    IDS_ERR_MANY_CONFIGS "OpenVPN GUIは %d 以上の設定はサポートしていません。これ以上の設定が必要な場合は開発者に連絡してください。"
    IDS_ERR_ONE_CONN_OLD_VER "OpenVPN 2.0-beta6 より古いバージョンでは、同時に使用できる接続は1つだけです。"
    IDS_ERR_STOP_SERV_OLD_VER "OpenVPNサービスが実行されているときには、OpenVPN GUI で接続を開始できません（OpenVPN 1.5/1.6）。OpenVPN GUIを使用する場合には先にOpenVPNサービスを停止してください。"
    IDS_ERR_CREATE_EVENT "CreateEvent failed on exit event: %s"
    IDS_ERR_UNKNOWN_PRIORITY "Unknown priority name: %s"
    IDS_ERR_LOG_APPEND_BOOL "ログファイルの追加フラグ（ '%s' が指定されています）は'0'か'1'である必要があります。"
    IDS_ERR_GET_MSIE_PROXY "MSIEのプロキシ設定が取得できません。"
    IDS_ERR_INIT_SEC_DESC "InitializeSecurityDescriptor failed."
    IDS_ERR_SET_SEC_DESC_ACL "SetSecurityDescriptorDacl failed."
    IDS_ERR_CREATE_PIPE_OUTPUT "CreatePipe on hOutputWrite failed."
    IDS_ERR_CREATE_PIPE_INPUT "CreatePipe on hInputRead failed."
    IDS_ERR_DUP_HANDLE_OUT_READ "DuplicateHandle on hOutputRead failed."
    IDS_ERR_DUP_HANDLE_IN_WRITE "DuplicateHandle on hInputWrite failed."
    IDS_ERR_CREATE_PROCESS "CreateProcess failed, exe='%s' cmdline='%s' dir='%s'"
    IDS_ERR_CREATE_THREAD_STATUS "CreateThread to show Status window Failed."
    IDS_NFO_STATE_WAIT_TERM "現在の状況: OpenVPNの終了を待機中…"
    IDS_NFO_STATE_CONNECTED "現在の状況: 接続済み"
    IDS_NFO_NOW_CONNECTED "%s に接続しました。"
    IDS_NFO_ASSIGN_IP "割り当てられたIP: %s"
    IDS_ERR_CERT_EXPIRED "証明書の期限が切れているかシステム時刻が正しくないため、接続できません。"
    IDS_ERR_CERT_NOT_YET_VALID "証明書の有効期間前のため接続できません。システム時刻が正しく設定されているかを確認してください。"
    IDS_NFO_STATE_RECONNECTING "現在の状況: 再接続中"
    IDS_NFO_STATE_DISCONNECTED "現在の状況: 切断"
    IDS_NFO_CONN_TERMINATED "%s への接続を終了しました。."
    IDS_NFO_STATE_FAILED "現在の状況: 接続に失敗しました。"
    IDS_NFO_CONN_FAILED "%s への接続に失敗しました。"
    IDS_NFO_STATE_FAILED_RECONN "現在の状況: 再接続に失敗"
    IDS_NFO_RECONN_FAILED "%s への再接続に失敗しました。"
    IDS_NFO_STATE_SUSPENDED "現在の状況: 保留中"
    IDS_ERR_READ_STDOUT_PIPE "OpenVPN 標準出力パイプからの読み取りでエラーが発生しました。"
    IDS_ERR_CREATE_EDIT_LOGWINDOW "Creating RichEdit LogWindow Failed!!"
    IDS_ERR_SET_SIZE "Set Size failed!"
    IDS_ERR_AUTOSTART_CONF "自動起動用の設定が見つかりません: %s"
    IDS_ERR_CREATE_PIPE_IN_READ "CreatePipe on hInputRead failed."
    IDS_NFO_STATE_CONNECTING "現在の状況: 接続中"
    IDS_NFO_CONNECTION_XXX "OpenVPN接続 (%s)"
    IDS_NFO_STATE_CONN_SCRIPT "現在の状況: 接続スクリプトを実行中"
    IDS_NFO_STATE_DISCONN_SCRIPT "現在の状況: 切断スクリプトを実行中"
    IDS_ERR_RUN_CONN_SCRIPT "接続スクリプトの実行に失敗: %s"
    IDS_ERR_GET_EXIT_CODE "接続スクリプトからの戻り値の取得に失敗 (%s)"
    IDS_ERR_CONN_SCRIPT_FAILED "接続スクリプトに失敗しました。 (exitcode=%ld)"
    IDS_ERR_RUN_CONN_SCRIPT_TIMEOUT "接続スクリプトに失敗しました。 %d 秒経過してタイムアウトしました。"
    IDS_ERR_CONFIG_EXIST "既に '%s'. という名前の設定ファイルが存在しています。" \
                         "別ディレクトリでも同じ名前での設定ファイルを複数格納することはできません。"
        
    /* main - Resources */
    IDS_ERR_OPEN_DEBUG_FILE "デバッグファイル (%s) を出力用に開くときにエラーが発生しました。"
    IDS_ERR_LOAD_RICHED20 "RICHED20.DLL が読み込めません。"
    IDS_ERR_SHELL_DLL_VERSION "shell32.dll のバージョンが古いです (0x%lx). バージョン 5.0 以降に更新してください。"
    IDS_NFO_SERVICE_STARTED "OpenVPNサービスが開始されました。"
    IDS_NFO_SERVICE_STOPPED "OpenVPNサービスが停止されました。"
    IDS_NFO_ACTIVE_CONN_EXIT "OpenVPN GUIを終了すると、現在接続中の接続が切断されます。" \
                             "\n\n終了してもよろしいですか？"
    IDS_NFO_SERVICE_ACTIVE_EXIT "現在接続中です（OpenVPN サービスが実行中です）。" \
                                "OpenVPN GUIを終了してもこの接続を継続します。\n\n" \
                                "OpenVPN GUIをこのまま終了しますか？"

    /* options - Resources */
    IDS_NFO_USAGE "--help\t\t\t: このメッセージを表示する。\n" \
                  "--connect cnn \t\t: 起動時に ""cnn"" に接続する（拡張子も含める必要があります）。\n" \
                  "\t\t\t   例: openvpn-gui --connect office.ovpn\n" \
                  "\n" \
                  "各オプションはレジストリの設定に優先されます:\n" \
                  "--exe_path\t\t: openvpn.exeへのパス。\n" \
                  "--config_dir\t\t: 設定ファイルを検索するディレクトリへのパス。\n" \
                  "--ext_string\t\t: 設定ファイルの拡張子。\n" \
                  "--log_dir\t\t\t: ログファイルが保存されるディレクトリへのパス。\n" \
                  "--priority_string\t\t: 優先順位（詳細についてはinstall.txtを参照）。\n" \
                  "--append_string\t\t: 1=ログファイルに追記。0=接続ごとに再作成。\n" \
                  "--log_viewer\t\t: ログビューアへのパス。\n" \
                  "--editor\t\t\t: 設定エディタへのパス。\n" \
                  "--allow_edit\t\t: 1=[設定の編集]メニューを表示する。\n" \
                  "--allow_service\t\t: 1=[サービス]メニューを表示する。\n" \
                  "--allow_password\t\t: 1=[パスワードの変更]メニューを表示する。\n" \
                  "--allow_proxy\t\t: 1=[プロキシ設定]メニューを表示する。\n" \
                  "--show_balloon\t\t: 0=表示しない, 1=初期接続時のみ, 2=毎回の接続時\n" \
                  "--service_only\t\t: 1=サービスのみのモードを有効にする。\n" \
                  "--silent_connection\t\t: 1=接続時にステータス表示ダイアログを表示しない。\n" \
                  "--show_script_window\t: 0=スクリプト実行ウィンドウを非表示にする。1=表示する。\n" \
                  "--passphrase_attempts\t: パスフレーズの入力可能回数。\n" \
                  "--connectscript_timeout\t: 接続スクリプトの終了を待つ時間。\n" \
                  "--disconnectscript_timeout\t: 切断スクリプトの終了を待つ時間。\n" \
                  "--preconnectscript_timeout\t: 接続前スクリプトの終了を待つ時間。\n"

    IDS_NFO_USAGECAPTION "OpenVPN GUIの使い方"
    IDS_ERR_BAD_PARAMETER "I'm trying to parse ""%s"" as an --option parameter " \
                      "but I don't see a leading '--'"
    IDS_ERR_BAD_OPTION "Options error: Unrecognized option or missing parameter(s): --%s\n" \
                   "Use openvpn-gui --help for more info."

    /* passphrase - Resources */
    IDS_ERR_CREATE_PASS_THREAD "CreateThread to show ChangePassphrase dialog failed."
    IDS_NFO_CHANGE_PWD "パスワード変更 (%s)"
    IDS_ERR_PWD_DONT_MATCH "入力されたパスワードが一致していません。再試行してください。"
    IDS_ERR_PWD_TO_SHORT "新しいパスワードは %d 文字以上で設定してください。"
    IDS_NFO_EMPTY_PWD "空のパスワードのまま設定しますか？"
    IDS_ERR_UNKNOWN_KEYFILE_FORMAT "鍵ファイルフォーマットが不明です。"
    IDS_ERR_OPEN_PRIVATE_KEY_FILE "秘密鍵ファイル (%s) を開くときにエラーが発生しました。"
    IDS_ERR_OLD_PWD_INCORRECT "古いパスワードが正しくありません。"
    IDS_ERR_OPEN_WRITE_KEY "秘密鍵ファイル (%s) を書き込み用に開くときにエラーが発生しました。"
    IDS_ERR_WRITE_NEW_KEY "新しい秘密鍵ファイル (%s) への書き込みでエラーが発生しました。"
    IDS_NFO_PWD_CHANGED "パスワードは変更されました。"
    IDS_ERR_READ_PKCS12 "PKCS #12 ファイル (%s) の読み込みでエラーが発生しました。"
    IDS_ERR_CREATE_PKCS12 "新しい PKCS #12 オブジェクトの作成でエラーが発生しました。パスワードの変更に失敗しました。"
    IDS_ERR_OPEN_CONFIG "設定ファイル (%s) を読み取り用に開くときにエラーが発生しました。"
    IDS_ERR_ONLY_ONE_KEY_OPTION "設定ファイル内に複数の ""key"" オプションを設定することはできません。"
    IDS_ERR_ONLY_KEY_OR_PKCS12 "設定ファイル内で ""key"" と ""pkcs12"" の両方を設定することはできません。"
    IDS_ERR_ONLY_ONE_PKCS12_OPTION "設定ファイル内に複数の ""pkcs12"" オプションを設定することはできません。"
    IDS_ERR_HAVE_KEY_OR_PKCS12 "設定ファイル内に ""key"" オプションも ""pkcs12"" オプションも設定されていません。"
    IDS_ERR_KEY_FILENAME_TO_LONG "設定ファイル内で設定されている鍵ファイル名が長すぎます。"
    IDS_ERR_PASSPHRASE2STDIN "標準入力にパスフレーズを渡すときにエラーが発生しました。"
    IDS_ERR_AUTH_USERNAME2STDIN "標準入力に認証ユーザー名を渡すときにエラーが発生しました。"
    IDS_ERR_AUTH_PASSWORD2STDIN "標準入力に認証パスワードを渡すときにエラーが発生しました。"
    IDS_ERR_CR2STDIN "標準入力にCRを渡すときにエラーが発生しました。"
    IDS_ERR_INVALID_CHARS_IN_PSW "新しいパスワードには使用できない文字が含まれています。" \
                             "他の文字を使って入力してください。"

    /* settings */
    IDS_SETTINGS_CAPTION "OpenVPN - 設定"

    /* proxy */
    IDS_ERR_HTTP_PROXY_ADDRESS "HTTPプロキシのアドレスを設定する必要があります。"
    IDS_ERR_HTTP_PROXY_PORT "HTTPプロキシのポートを設定する必要があります。"
    IDS_ERR_HTTP_PROXY_PORT_RANGE "HTTPプロキシのポートとして設定できるのは 1-65535 の範囲内です。"
    IDS_ERR_SOCKS_PROXY_ADDRESS "SOCKSプロキシのアドレスを設定する必要があります。"
    IDS_ERR_SOCKS_PROXY_PORT "SOCKSプロキシのポートを設定する必要があります。"
    IDS_ERR_SOCKS_PROXY_PORT_RANGE "SOCKSプロキシのポートとして設定できるのは 1-65535 の範囲内です。"
    IDS_ERR_CREATE_REG_HKCU_KEY """HKEY_CURRENT_USER\\%s"" キーの作成時にエラーが発生しました。"
    IDS_ERR_GET_TEMP_PATH "GetTempPath()で一時ディレクトリが取得できませんでした。""C:\\"" を使用します。"

    /* service */
    IDS_ERR_OPEN_VPN_SERVICE """OpenVPNService"" のオープンに失敗しました。"
    IDS_ERR_START_SERVICE """OpenVPNService"" の開始に失敗しました。"
    IDS_ERR_QUERY_SERVICE  "サービス状態の取得に失敗しました。"
    IDS_ERR_SERVICE_START_FAILED "OpenVPNサービスの開始に失敗しました。"
    IDS_ERR_OPEN_SCMGR "OpenSCManagerに失敗しました。 (%d)"
    IDS_ERR_STOP_SERVICE "OpenVPNサービスの停止に失敗しました。"
    IDS_NFO_RESTARTED "OpenVPNサービスを再起動しました。"

    /* registry */
    IDS_ERR_GET_WINDOWS_DIR "Windowsディレクトリが取得できませんでした。"
    IDS_ERR_GET_PROGRAM_DIR """Program""フォルダ名を取得できませんでした。"
    IDS_ERR_OPEN_REGISTRY  "レジストリ (HKLM\\SOFTWARE\\OpenVPN) が読み取れませんでした。\n " \
			    "OpenVPNがインストールされていない可能性があります。"
    IDS_ERR_READING_REGISTRY "レジストリ (HKLM\\SOFTWARE\\OpenVPN) の値が読み取れませんでした。"
    IDS_ERR_PASSPHRASE_ATTEMPTS "レジストリ ""passphrase_attempts"" の値は 1-9 の範囲内である必要があります。"
    IDS_ERR_CONN_SCRIPT_TIMEOUT "レジストリ ""connectscript_timeout"" の値は 0-99 の範囲内である必要があります。"
    IDS_ERR_DISCONN_SCRIPT_TIMEOUT "レジストリ ""disconnectscript_timeout"" の値は 1-99 の範囲内である必要があります。"
    IDS_ERR_PRECONN_SCRIPT_TIMEOUT "レジストリ ""preconnectscript_timeout"" の値は 1-99 の範囲内である必要があります。"
    IDS_ERR_CREATE_REG_KEY "キー HKLM\\SOFTWARE\\OpenVPN-GUI の作成に失敗しました。"
    IDS_ERR_OPEN_WRITE_REG "レジストリの書き込みに失敗しました。レジストリの更新時にはアプリケーションを管理者権限で実行する必要があります。"
    IDS_ERR_READ_SET_KEY "レジストリ ""%s"" の読み取り/書き込みに失敗しました。" 
    IDS_ERR_WRITE_REGVALUE "レジストリ ""HKEY_CURRENT_USER\\%s\\%s"" への書き込みに失敗しました。"
END
