/*
 *  OpenVPN-GUI -- A Windows GUI for OpenVPN.
 *
 *  Copyright (C) 2004 Mathias Sundman <mathias@nilings.se>
 *                2005 Morten Karlsen <mk@taide.net>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program (see the file COPYING included with this
 *  distribution); if not, write to the Free Software Foundation, Inc.,
 *  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Passphrase Dialog */
ID_DLG_PASSPHRASE DIALOG 6, 18, 120, 51
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL
BEGIN
    LTEXT "Oppgi passord:", 201, 6, 6, 100, 10
    EDITTEXT ID_EDT_PASSPHRASE, 6, 17, 107, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 6, 33, 50, 14
    PUSHBUTTON "Avbryt", IDCANCEL, 64, 33, 50, 14
END

/* Auth Username/Password Dialog */
ID_DLG_AUTH DIALOG 6, 18, 160, 62
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - Brukerautentisering"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL
BEGIN
    LTEXT "Brukernavn:", 0, 6, 9, 50, 10
    LTEXT "Passord:", 0, 6, 26, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 20, 42, 50, 14
    PUSHBUTTON "Avbryt", IDCANCEL, 90, 42, 52, 14
END

/* Status Dialog */
ID_DLG_STATUS DIALOG 6, 18, 380, 210
STYLE WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL
BEGIN
    LTEXT "Kobler til…", ID_TXT_STATUS, 20, 5, 200, 10
    PUSHBUTTON "Koble fra", ID_DISCONNECT, 50, 190, 50, 14
    PUSHBUTTON "Koble til på nytt", ID_RESTART, 150, 190, 40, 14
    PUSHBUTTON "Skjul", ID_HIDE, 100, 190, 40, 14
END

/* Change Passphrase Dialog */
ID_DLG_CHGPASS DIALOG 6, 18, 193, 82
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "OpenVPN - Ändra Lösenord"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL
BEGIN
    LTEXT "Nåværende passord:", 171, 6, 9, 85, 10
    LTEXT "Oppgi nytt passord:", 172, 6, 26, 85, 10
    LTEXT "Bekreft nytt passord:", 173, 6, 42, 85, 10
    EDITTEXT ID_EDT_PASS_CUR, 95, 6, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW, 95, 23, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW2, 95, 39, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 40, 59, 50, 14
    PUSHBUTTON "Avbryt", IDCANCEL, 103, 59, 50, 14
    LTEXT "", ID_TXT_KEYFORMAT, 0, 0, 0, 0
    LTEXT "", ID_TXT_KEYFILE, 0, 0, 0, 0
END

/* Proxy Settings Dialog */
ID_DLG_PROXY DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Proxy"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL
BEGIN
    GROUPBOX "   ", 201, 6, 46, 235, 52
    AUTORADIOBUTTON "Bruk innstillinger fra OpenVPNs konfig-fil", ID_RB_PROXY_OPENVPN, \
                    13, 16, 200, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Bruk innstillinger fra Internet Explorer", \
                    ID_RB_PROXY_MSIE, 13, 31, 200, 10
    AUTORADIOBUTTON "Manuell Konfigurering", ID_RB_PROXY_MANUAL, 13, 46, 81, 10
    AUTORADIOBUTTON "HTTP Proxy", ID_RB_PROXY_HTTP, 20, 62, 90, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "SOCKS Proxy", ID_RB_PROXY_SOCKS, 120, 62, 90, 10
    LTEXT "Adresse:", ID_TXT_PROXY_ADDRESS, 20, 77, 32, 10
    RTEXT "Port:", ID_TXT_PROXY_PORT, 171, 77, 20, 10
    EDITTEXT ID_EDT_PROXY_ADDRESS, 53, 75, 117, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PROXY_PORT, 196, 75, 30, 12, ES_AUTOHSCROLL
END

/* About Dialog */
ID_DLG_ABOUT DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Om"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL
BEGIN
    ICON ID_ICO_APP, 0, 8, 16, 21, 20
    LTEXT "OpenVPN GUI v" PACKAGE_VERSION " - Ett Windows-Grensesnitt mot OpenVPN\n" \
          "Copyright (C) 2004-2005 Mathias Sundman <info@openvpn.se>\n" \
          "http://openvpn.se/", 0, 36, 15, 206, 26
    LTEXT "OpenVPN - En applikasjon for sikker overføring av IP nett " \
          "over en enkel UDP port, med støtte for SSL/TLS-basert " \
          "sessjons autentisering og nøkkel håndtering, pakkekryptering, " \
          "-autentisering og -komprimering.\n" \
          "\n" \
          "Copyright (C) 2002-2005 OpenVPN Solutions LLC  <info@openvpn.net>\n" \
          "http://openvpn.net/", 0, 8, 45, 235, 56
END

/* Proxy Authentication Dialog */
ID_DLG_PROXY_AUTH DIALOG 29, 23, 170, 65
STYLE DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN - Proxy Autentisering"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL
BEGIN
    LTEXT "Brukernavn:", 201, 9, 8, 55, 10
    EDITTEXT ID_EDT_PROXY_USER, 65, 5, 94, 12, ES_AUTOHSCROLL
    LTEXT "Passord:", 202, 9, 26, 55, 10
    EDITTEXT ID_EDT_PROXY_PASS, 65, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 60, 43, 50, 14
END

STRINGTABLE
LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL
BEGIN
    IDS_LANGUAGE_NAME "Norsk - Norwegian"

    /* Tray - Resources */
    IDS_TIP_DEFAULT "OpenVPN Brukergrensesnitt"
    IDS_TIP_CONNECTED "\nTilkoblet: "
    IDS_TIP_CONNECTING "\nKobler til: "
    IDS_TIP_CONNECTED_SINCE "\nTilkoblet siden: "
    IDS_TIP_ASSIGNED_IP "\nTildelt IP: %s"
    IDS_MENU_SERVICE "OpenVPN Service"
    IDS_MENU_SETTINGS "Innstillinger…"
    IDS_MENU_CLOSE "Avslutte"
    IDS_MENU_CONNECT "Koble til"
    IDS_MENU_DISCONNECT "Koble fra"
    IDS_MENU_STATUS "Vis Status"
    IDS_MENU_VIEWLOG "Vis Logg"
    IDS_MENU_EDITCONFIG "Editere innstillinger"
    IDS_MENU_PASSPHRASE "Endre passord"
    IDS_MENU_SERVICE_START "Starte"
    IDS_MENU_SERVICE_STOP "Stoppe"
    IDS_MENU_SERVICE_RESTART "Starte på nytt"
    IDS_MENU_SERVICEONLY_START "Koble til"
    IDS_MENU_SERVICEONLY_STOP "Koble fra"
    IDS_MENU_SERVICEONLY_RESTART "Koble til på nytt"
    IDS_MENU_ASK_STOP_SERVICE "Vil du koble fra? (Stoppe OpenVPN Service)?"

    /* Logviewer - Resources */
    IDS_ERR_START_LOG_VIEWER "Feil under oppstart av log viewer: %s"
    IDS_ERR_START_CONF_EDITOR "Feil under oppstart av konfig editor: %s"

    /* OpenVPN */
    IDS_ERR_MANY_CONFIGS "Du kan ikke ha fler enn %d konfig-filer. Kontakt utvikleren av OpenVPN GUI om du har behov for å håndtere fler."
    IDS_ERR_ONE_CONN_OLD_VER "Du kan bara ha en tilkobling igang samtidig med eldre versjoner av OpenVPN enn 2.0-beta6."
    IDS_ERR_STOP_SERV_OLD_VER "Du kan ikke koble til med OpenVPN GUI når OpenVPN Service kjører. (kun OpenVPN 1.5/1.6). Stopp tjenesten først om du vil benytte OpenVPN GUI."
    IDS_ERR_CREATE_EVENT "CreateEvent feilet med å opprette event: %s"
    IDS_ERR_UNKNOWN_PRIORITY "Ukjent prioritet: %s"
    IDS_ERR_LOG_APPEND_BOOL "Legg til/Overskriv loggfil flagg (Oppgis som '%s') må være '0' eller '1'"
    IDS_ERR_GET_MSIE_PROXY "Kunne ikke hemte innstillinger for HTTP Proxy fra Internet Explorer."
    IDS_ERR_INIT_SEC_DESC "InitializeSecurityDescriptor feilet."
    IDS_ERR_SET_SEC_DESC_ACL "SetSecurityDescriptorDacl feilet."
    IDS_ERR_CREATE_PIPE_OUTPUT "CreatePipe på hOutputWrite feilet."
    IDS_ERR_CREATE_PIPE_INPUT "CreatePipe på hInputRead feilet."
    IDS_ERR_DUP_HANDLE_OUT_READ "DuplicateHandle på hOutputRead feilet."
    IDS_ERR_DUP_HANDLE_IN_WRITE "DuplicateHandle på hInputWrite feilet."
    IDS_ERR_CREATE_PROCESS "CreateProcess feilet, exe='%s' cmdline='%s' dir='%s'"
    IDS_ERR_CREATE_THREAD_STATUS "CreateThread for å vise statusvindu feilet."
    IDS_NFO_STATE_WAIT_TERM "Status: Ventar på OpenVPN avslutning…"
    IDS_NFO_STATE_CONNECTED "Status: Tilkoblet"
    IDS_NFO_NOW_CONNECTED "%s er tilkoblet."
    IDS_NFO_ASSIGN_IP "tildelt IP: %s"
    IDS_ERR_CERT_EXPIRED "Kunne ikke koble til, ditt sertifikat er for gammelt eller klokken i din datamaskin går feil."
    IDS_ERR_CERT_NOT_YET_VALID "Kunne ikke koble til, ditt sertifikat er datert frem i tid eller klokken i din datamaskin går feil."
    IDS_NFO_STATE_RECONNECTING "Status: Kobler til på nytt"
    IDS_NFO_STATE_DISCONNECTED "Status: Koblet fra"
    IDS_NFO_CONN_TERMINATED "Du har blitt frakoblet %s."
    IDS_NFO_STATE_FAILED "Status: Tilkobling feilet."
    IDS_NFO_CONN_FAILED "Tilkobling til %s feilet."
    IDS_NFO_STATE_FAILED_RECONN "Status: Kunne ikke koble til på nytt"
    IDS_NFO_RECONN_FAILED "Tilkobling til %s feilet."
    IDS_NFO_STATE_SUSPENDED "Status: Hvilemodus"
    IDS_ERR_READ_STDOUT_PIPE "Feil under lesning fra OpenVPN StdOut pipe."
    IDS_ERR_CREATE_EDIT_LOGWINDOW "Opprettelse av RichEdit LogWindow feilet!!"
    IDS_ERR_SET_SIZE "Set Size feilet!"
    IDS_ERR_AUTOSTART_CONF "Følgende konfig kunne ikke starte automatisk: %s"
    IDS_ERR_CREATE_PIPE_IN_READ "CreatePipe på hInputRead feilet."
    IDS_NFO_STATE_CONNECTING "Status: Kobler til"
    IDS_NFO_CONNECTION_XXX "OpenVPN Tilkoblet (%s)"
    IDS_NFO_STATE_CONN_SCRIPT "Status: Kjører skript for tilkobling"
    IDS_NFO_STATE_DISCONN_SCRIPT "Status: Kjører skript for frakobling"
    IDS_ERR_RUN_CONN_SCRIPT "En feil oppsto under kjøring av skript: %s"
    IDS_ERR_GET_EXIT_CODE "En feil oppsto når avslutningskode fra følgende skript skulle hentes: %s"
    IDS_ERR_CONN_SCRIPT_FAILED "Tilkoblingsskriptet feilet. (avslutningskode=%ld)"
    IDS_ERR_RUN_CONN_SCRIPT_TIMEOUT "Tilkoblingsskriptet fikk TimeOut etter %d sekunder."
    IDS_ERR_CONFIG_EXIST "Det finnes allerede en konfig-fil med navn '%s'. Du kan ikke ha flere " \
                         "konfigurasjons-filer med samme navn, selv om de ligger i ulike kataloger."

    /* main - Resources */
    IDS_ERR_OPEN_DEBUG_FILE "Feil under åpning av debug fil. (%s)"
    IDS_ERR_LOAD_RICHED20 "Kunne ikke laste RICHED20.DLL."
    IDS_ERR_SHELL_DLL_VERSION "Din shell32.dll versjon er for lav (0x%lx). Du trenger minst versjon 5.0."
    IDS_ERR_GUI_ALREADY_RUNNING "OpenVPN GUI kjører allerede."
    IDS_NFO_SERVICE_STARTED "OpenVPN Service startet."
    IDS_NFO_SERVICE_STOPPED "OpenVPN Service stoppet."
    IDS_NFO_ACTIVE_CONN_EXIT "Aktive tilkoblinger vil bli avbrutt om du avslutter OpenVPN GUI.\n\nVil du avslutte?"
    IDS_NFO_SERVICE_ACTIVE_EXIT "Du er tilkoblet med OpenVPN (OpenVPN tjenesten kjører). " \
                                "Aktive tilkoblinger vil forbli tilkoblet om du avslutter OpenVPN GUI.\n\n" \
                                "Vil du avslutte?"

    /* options - Resources */
    IDS_NFO_USAGE "--help\t\t\t: Vis dene meldingen.\n" \
                  "--connect cnn \t\t: Koble til ""cnn"" ved oppstart. (filtypen må være med)\n" \
                  "\t\t\t   Eksempel: openvpn-gui --connect office.ovpn\n" \
                  "\n" \
                  "Parametre som vil overstyre instillinger gjort i registret:\n" \
                  "--exe_path\t\t: Path til openvpn.exe.\n" \
                  "--config_dir\t\t: Path til OpenVPNs konfig-katalog.\n" \
                  "--ext_string\t\t: Filtype for konfig-filer.\n" \
                  "--log_dir\t\t\t: Path til loggfil-katalog.\n" \
                  "--priority_string\t\t: Prioritet på OpenVPN processer (Se install.txt for detaljer).\n" \
                  "--append_string\t\t: 1=Behold gammel logg. 0=Tøm loggfil ved ny tilkobling.\n" \
                  "--log_viewer\t\t: Path til logg-viewer.\n" \
                  "--editor\t\t\t: Path til konfig-editor.\n" \
                  "--allow_edit\t\t: 1=Vise Editere Konfig i meny.\n" \
                  "--allow_service\t\t: 1=Vise OpenVPN Service i meny.\n" \
                  "--allow_password\t\t: 1=Vise Endre Passord i meny.\n" \
                  "--allow_proxy\t\t: 1=Vise Proxy Innstillinger i meny.\n" \
                  "--show_balloon\t\t: 0=Aldri, 1=under tilkobling, 2=Ved hver ""tilkobling på nytt"".\n" \
                  "--service_only\t\t: 1=Aktivere ""Service Only"" modus.\n" \
                  "--silent_connection\t\t: 1=ikke vis status-vindu ved tilkobling.\n" \
                  "--show_script_window\t: 0=Skjul skript-vindu, 1=Vise skript-vindu.\n" \
                  "--passphrase_attempts\t: Antall tilkoblings-forsøk.\n" \
                  "--connectscript_timeout\t: Max tillatt connect-skript tid.\n" \
                  "--disconnectscript_timeout\t: Max tillat disconnect-skript tid.\n" \
                  "--preconnectscript_timeout\t: Max tillat preconnect-skript tid.\n"

    IDS_NFO_USAGECAPTION "OpenVPN GUI bruk"
    IDS_ERR_BAD_PARAMETER "Forsøker tolke ""%s"" som en --option parameter " \
                          "men kan ikke finne innledende '--'"
    IDS_ERR_BAD_OPTION "Parameter feil: Ukjent parameter eller manglende argument: --%s\n" \
                       "Kjør openvpn-gui --help for hjelp."

    /* passphrase - Resources */
    IDS_ERR_CREATE_PASS_THREAD "CreateThread for å vise ChangePassphrase dialogen feilet."
    IDS_NFO_CHANGE_PWD "Endre passord (%s)"
    IDS_ERR_PWD_DONT_MATCH "De oppgitte nye passord er forskjellige. Prøv igjen"
    IDS_ERR_PWD_TO_SHORT "Passord må være minst %d tegn."
    IDS_NFO_EMPTY_PWD "Er du sikker på at du vil benytte et BLANKT passord??"
    IDS_ERR_UNKNOWN_KEYFILE_FORMAT "Nøkkelfilen har ukjent format."
    IDS_ERR_OPEN_PRIVATE_KEY_FILE "En feil oppsto under åpning av nøkkel-fil (%s)."
    IDS_ERR_OLD_PWD_INCORRECT "Du har oppgitt feil passord."
    IDS_ERR_OPEN_WRITE_KEY "En feil oppsto under åpning av nøkkel-fil for skrivning (%s)."
    IDS_ERR_WRITE_NEW_KEY "En feil oppsto under opprettelse av ny nøkkel-fil (%s)."
    IDS_NFO_PWD_CHANGED "Dn passord har blitt endret."
    IDS_ERR_READ_PKCS12 "Feil under lesning fra pkcs #12 fil (%s)."
    IDS_ERR_CREATE_PKCS12 "En feil oppsto under opprettelse av pkcs12 objekt."
    IDS_ERR_OPEN_CONFIG "En feil oppsto under åpning av følgende konfig-fil: %s."
    IDS_ERR_ONLY_ONE_KEY_OPTION "Du kan ikke ha mer enn en ""key"" parameter i din konfig-fil."
    IDS_ERR_ONLY_KEY_OR_PKCS12 "Du kan ikke ha både ""key"" og ""pkcs12"" parametetre i din konfig-fil."
    IDS_ERR_ONLY_ONE_PKCS12_OPTION "Du kan ikke ha mer enn en ""pkcs12"" parameter i din konfig-fil."
    IDS_ERR_HAVE_KEY_OR_PKCS12 "Din konfig-fil mangler ""key"" eller ""pkcs12"" parameter."
    IDS_ERR_KEY_FILENAME_TO_LONG "Den oppgitte path til din nøkkel i konfig-fil er for lang!"
    IDS_ERR_PASSPHRASE2STDIN "En feil oppsto når passordet skulle sendes til OpenVPN via stdin."
    IDS_ERR_AUTH_USERNAME2STDIN "En feil oppsto når brukernavnet skulle sendes til OpenVPN via stdin."
    IDS_ERR_AUTH_PASSWORD2STDIN "En feil oppsto når passordet skulle sendes til OpenVPN via stdin."
    IDS_ERR_CR2STDIN "En feil oppsto når CR skulle sendes til OpenVPN via stdin."
    IDS_ERR_INVALID_CHARS_IN_PSW "Nytt passord inneholder tegn som ikke er tillatt. " \
                                 "Forsøk igjen."

    /* settings */
    IDS_SETTINGS_CAPTION "OpenVPN - Inställningar"

    /* proxy */
    IDS_ERR_HTTP_PROXY_ADDRESS "HTTP proxy addresse må oppgis."
    IDS_ERR_HTTP_PROXY_PORT "HTTP proxy port må oppgis."
    IDS_ERR_HTTP_PROXY_PORT_RANGE "HTTP proxy port må være et tall mellom 1 og 65535"
    IDS_ERR_SOCKS_PROXY_ADDRESS "SOCKS proxy addresse må oppgis."
    IDS_ERR_SOCKS_PROXY_PORT "SOCKS proxy port må oppgis."
    IDS_ERR_SOCKS_PROXY_PORT_RANGE "SOCKS proxy port må være ett tall mellom 1 og 65535"
    IDS_ERR_CREATE_REG_HKCU_KEY "En feil oppsto ved opprettelse av register-nøkkel ""HKEY_CURRENT_USER\\%s"""
    IDS_ERR_GET_TEMP_PATH "En feil oppsto når GetTempPath() ble kalt opp. Alternativ ""C:\\"" vil bi benyttet."

    /* service */
    IDS_ERR_OPEN_SCMGR_ADMIN "En feil oppsto under åpning av Service Manager. Du har sannsynligvis ikke rettigheter til å starte/stoppe en service."
    IDS_ERR_OPEN_VPN_SERVICE "Kunnne ike åpne ""OpenVPNService"""
    IDS_ERR_START_SERVICE "En feil oppsto under oppstart av OpenVPN Service"
    IDS_ERR_QUERY_SERVICE "En feil oppsto når status på OpenVPN Service skulle kontrolleres."
    IDS_ERR_SERVICE_START_FAILED "OpenVPN Service kunne ikke starte."
    IDS_ERR_OPEN_SCMGR "OpenSCManager feilet (%d)"
    IDS_ERR_STOP_SERVICE "En feil oppsto ved stopp av OpenVPN Service"
    IDS_NFO_RESTARTED "OpenVPN Service omstart utført."

    /* registry */
    IDS_ERR_GET_WINDOWS_DIR "Kunne ikke finne katalog hvor Windows er installert."
    IDS_ERR_GET_PROGRAM_DIR "Kunne ikke finne path til din ""Program"" katalog."
    IDS_ERR_OPEN_REGISTRY "Feil under åpning av register for lesning (HKLM\\SOFTWARE\\OpenVPN).\n OpenVPN er kanskje ikke installert."
    IDS_ERR_READING_REGISTRY "Feil under lesning av register-nøkkel (HKLM\\SOFTWARE\\OpenVPN)."
    IDS_ERR_PASSPHRASE_ATTEMPTS "Register-verdi ""passphrase_attempts"" må være ett tall mellom 1 og 9."
    IDS_ERR_CONN_SCRIPT_TIMEOUT "Register-verdi ""connectscript_timeout"" må være ett tall mellom 0 og 99."
    IDS_ERR_DISCONN_SCRIPT_TIMEOUT "Register-verdi ""disconnectscript_timeout"" må være ett tall mellom 1 og 99."
    IDS_ERR_PRECONN_SCRIPT_TIMEOUT "Register-verdi ""preconnectscript_timeout"" må være ett tall mellom 1 og 99."
    IDS_ERR_CREATE_REG_KEY "Feil under opprettelse av register-nøkkel HKLM\\SOFTWARE\\OpenVPN-GUI."
    IDS_ERR_OPEN_WRITE_REG "Feil under åpning av register for skrivning. Du må starte programmet en gang som administrator for å oppdatere registret."
    IDS_ERR_READ_SET_KEY "Feil under lesning og skrivning av register-verdi ""%s""."
    IDS_ERR_WRITE_REGVALUE "Feil under skrivning av register-verdi ""HKEY_CURRENT_USER\\%s\\%s""."
END
