/*
 *  OpenVPN-GUI -- A Windows GUI for OpenVPN.
 *
 *  Copyright (C) 2004 Mathias Sundman <mathias@nilings.se>
 *                2009 Heiko Hund <heikoh@users.sf.net>
 *                2011 Hakan Darama <hakandarama@gmail.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program (see the file COPYING included with this
 *  distribution); if not, write to the Free Software Foundation, Inc.,
 *  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Passphrase Dialog */
ID_DLG_PASSPHRASE DIALOGEX 6, 18, 160, 83
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Şifreyi Giriniz:", 201, 6, 6, 100, 10
    EDITTEXT ID_EDT_PASSPHRASE, 6, 17, 107, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Save password", ID_CHK_SAVE_PASS, 6, 33, 100, 10
    PUSHBUTTON "Tamam", IDOK, 20, 49, 50, 14
    PUSHBUTTON "Çıkış", IDCANCEL, 90, 49, 50, 14
    LTEXT "", ID_TXT_WARNING, 6, 65, 100, 10
END

/* Auth Username/Password Dialog */
ID_DLG_AUTH DIALOGEX 6, 18, 160, 95
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Kullanıcı Adı:", ID_LTEXT_USERNAME, 6, 9, 50, 10
    LTEXT "Şifre:", ID_LTEXT_PASSWORD, 6, 26, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 50, 6, 104, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 50, 23, 104, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Save password", ID_CHK_SAVE_PASS, 6, 42, 100, 10
    PUSHBUTTON "Tamam", IDOK, 20, 58, 50, 14, BS_DEFPUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "Çıkış", IDCANCEL, 90, 58, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 80, 150, 10
END

/* Auth Username/Password/Challenge Dialog */
ID_DLG_AUTH_CHALLENGE DIALOG 6, 18, 160, 129
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - User Authentication"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Kullanıcı Adı:", ID_LTEXT_USERNAME, 6, 9, 50, 10
    LTEXT "Şifre:", ID_LTEXT_PASSWORD, 6, 26, 50, 10
    LTEXT "Response:", ID_LTEXT_RESPONSE, 6, 60, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT "", ID_TXT_AUTH_CHALLENGE, 6, 43, 148, 10
    EDITTEXT ID_EDT_AUTH_CHALLENGE, 60, 57, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Save password", ID_CHK_SAVE_PASS, 6, 76, 100, 10
    PUSHBUTTON "Tamam", IDOK, 20, 92, 50, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "Çıkış", IDCANCEL, 90, 92, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 108, 150, 10
END

/* Challenge Response Dialog */
ID_DLG_CHALLENGE_RESPONSE DIALOG 6, 18, 212, 72
STYLE WS_SIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - Challenge Response"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "", ID_TXT_DESCRIPTION, 6, 9, 208, 10
    LTEXT "Response:", ID_LTEXT_RESPONSE, 6, 30, 50, 10
    EDITTEXT ID_EDT_RESPONSE, 60, 27, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "Tamam", IDOK, 20, 51, 50, 14, BS_PUSHBUTTON | WS_TABSTOP
    PUSHBUTTON "Çıkış", IDCANCEL, 90, 51, 52, 14
END

/* Status Dialog */
ID_DLG_STATUS DIALOG 6, 18, 380, 210
STYLE WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Bağlanıyor…", ID_TXT_STATUS, 20, 5, 200, 10
    LTEXT "", ID_TXT_BYTECOUNT, 20, 175, 200, 10
    LTEXT "OpenVPN GUI 11.y.0.0/2.4.x", ID_TXT_VERSION, 220, 175, 150, 10
    LTEXT "", ID_TXT_IP, 20, 160, 300, 10
    PUSHBUTTON "Bağlantıyı Kes", ID_DISCONNECT, 50, 190, 50, 14
    PUSHBUTTON "Yeniden Bağlan", ID_RESTART, 150, 190, 50, 14
    PUSHBUTTON "Gizle", ID_HIDE, 100, 190, 50, 14
END

/* Change Passphrase Dialog */
ID_DLG_CHGPASS DIALOG 6, 18, 193, 82
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "OpenVPN - Şifreyi değiştir"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Eski Şifre:", 171, 6, 9, 85, 10
    LTEXT "Yeni Şifre:", 172, 6, 26, 85, 10
    LTEXT "Tekrar Yeni Şifre:", 173, 6, 42, 85, 10
    EDITTEXT ID_EDT_PASS_CUR, 65, 6, 120, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW, 65, 23, 120, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW2, 65, 39, 120, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "Tamam", IDOK, 40, 59, 50, 14
    PUSHBUTTON "Çıkış", IDCANCEL, 103, 59, 50, 14
    LTEXT "", ID_TXT_KEYFORMAT, 0, 0, 0, 0
    LTEXT "", ID_TXT_KEYFILE, 0, 0, 0, 0
END

/* Proxy Settings Dialog */
ID_DLG_PROXY DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Proxy Ayarları"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "   ", 201, 6, 46, 235, 52
    AUTORADIOBUTTON "OpenVPN konfigürasyon dosyasını kullan", ID_RB_PROXY_OPENVPN,
                    13, 16, 200, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Sistem Proxy ayarlarını kullan",
                    ID_RB_PROXY_MSIE, 13, 31, 200, 10
    AUTORADIOBUTTON "Elle Ayarlama", ID_RB_PROXY_MANUAL, 13, 46, 59, 10
    AUTORADIOBUTTON "HTTP Proxy", ID_RB_PROXY_HTTP, 20, 62, 90, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "SOCKS Proxy", ID_RB_PROXY_SOCKS, 120, 62, 90, 10
    LTEXT "Adres:", ID_TXT_PROXY_ADDRESS, 20, 77, 32, 10
    RTEXT "Port:", ID_TXT_PROXY_PORT, 171, 77, 20, 10
    EDITTEXT ID_EDT_PROXY_ADDRESS, 53, 75, 117, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PROXY_PORT, 196, 75, 30, 12, ES_AUTOHSCROLL
END

/* General Settings Dialog */
ID_DLG_GENERAL DIALOGEX 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Genel"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "Kullanıcı Arayüzü", 201, 6, 12, 235, 30
    LTEXT "Dil:", ID_TXT_LANGUAGE, 17, 25, 52, 12
    COMBOBOX ID_CMB_LANGUAGE, 31, 23, 197, 400, CBS_DROPDOWNLIST | WS_TABSTOP
    GROUPBOX "Startup", 202, 6, 47, 235, 30
    AUTOCHECKBOX "Launch on Windows startup", ID_CHK_STARTUP, 17, 59, 200, 12

    GROUPBOX "Preferences", ID_GROUPBOX3, 6, 82, 235, 105
    AUTOCHECKBOX "Append to log", ID_CHK_LOG_APPEND, 17, 95, 60, 10
    AUTOCHECKBOX "Show script window", ID_CHK_SHOW_SCRIPT_WIN, 17, 110, 200, 10
    AUTOCHECKBOX "Silent connection", ID_CHK_SILENT, 17, 125, 200, 10
    AUTOCHECKBOX "Always use interactive service", ID_CHK_ALWAYS_USE_ISERVICE, 17, 140, 200, 10
    LTEXT "Show Balloon", ID_TXT_BALLOON, 17, 155, 100, 10
    AUTORADIOBUTTON "On connect", ID_RB_BALLOON1, 28, 170, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "On connect/reconnect", ID_RB_BALLOON2, 86, 170, 90, 10
    AUTORADIOBUTTON "Never", ID_RB_BALLOON0, 181, 170, 40, 10
END

/* Advanced Dialog */
ID_DLG_ADVANCED DIALOGEX 6, 18, 252, 280
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Advanced"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "Configuration Files", 201, 6, 12, 235, 45
    LTEXT "Folder:", ID_TXT_FOLDER, 17, 25, 32, 10
    LTEXT "Extension:", ID_TXT_EXTENSION, 17, 40, 52, 10
    EDITTEXT ID_EDT_CONFIG_DIR, 53, 23, 150, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_CONFIG_EXT, 53, 38, 25, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_CONFIG_DIR, 208, 23, 25, 12

    GROUPBOX "Log Files", 202, 6, 62, 235, 30
    LTEXT "Folder:", ID_TXT_FOLDER1, 17, 74, 32, 10
    EDITTEXT ID_EDT_LOG_DIR, 53, 72, 150, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_LOG_DIR, 208, 72, 25, 12

    GROUPBOX "Script Timeout", 203, 6, 97, 235, 60
    LTEXT "Preconnect script timeout:", ID_TXT_PRECONNECT_TIMEOUT, 17, 110, 100, 10
    LTEXT "Connect script timeout:", ID_TXT_CONNECT_TIMEOUT, 17, 125, 90, 10
    LTEXT "Disconnect script timeout:", ID_TXT_DISCONNECT_TIMEOUT, 17, 140, 90, 10
    EDITTEXT ID_EDT_PRECONNECT_TIMEOUT, 103, 108, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_CONNECT_TIMEOUT, 103, 123, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_DISCONNECT_TIMEOUT, 103, 138, 20, 12, ES_AUTOHSCROLL|ES_NUMBER

    GROUPBOX "Management interface", 204, 6, 163, 235, 30
    LTEXT "Port offset:", 205, 17, 175, 75, 10
    EDITTEXT ID_EDT_MGMT_PORT, 103, 173, 30, 12, ES_AUTOHSCROLL

    GROUPBOX "Config menu view", 206, 6, 198, 235, 30
    AUTORADIOBUTTON "&Auto", ID_RB_BALLOON0, 28, 210, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "&Flat", ID_RB_BALLOON1, 88, 210, 50, 10
    AUTORADIOBUTTON "&Nested", ID_RB_BALLOON2, 148, 210, 50, 10

    GROUPBOX "Echo message display", 207, 6, 233, 235, 45
    AUTORADIOBUTTON "A&uto", ID_RB_BALLOON3, 28, 245, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Ne&ver", ID_RB_BALLOON4, 88, 245, 50, 10
    LTEXT "Repeated messages are muted for: ", 208, 17, 260, 125, 10
    EDITTEXT ID_EDT_POPUP_MUTE, 150, 258, 30, 12, ES_AUTOHSCROLL
    LTEXT "hours", 209, 190, 260, 40, 10

END

/* About Dialog */
ID_DLG_ABOUT DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Hakkında"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
BEGIN
    ICON ID_ICO_APP, ID_ICON_ABOUT, 8, 16, 21, 20
    LTEXT "OpenVPN GUI v%s - OpenVPN için Windows Arayüzü\n\
Copyright (C) 2004-2005 Mathias Sundman <info@openvpn.se>\n\
Copyright (C) 2008-2014 Heiko Hund <heikoh@users.sf.net>\n\
Copyright (C) 2012-2021 OpenVPN GUI contributors\n", ID_TXT_VERSION, 36, 15, 206, 50
    LTEXT "https://github.com/OpenVPN/openvpn-gui/", ID_LTEXT_ABOUT2, 36, 55, 206, 42
    LTEXT "OpenVPN - SSL/TLS tabanlı güvenli oturumlar, anahtar doğrulama \
paket şifreleme, paket sıkıştırma ve paket doğrulama işlemlerini \
tek bir TCP/UDP portu üzerinden güvenli IP tünelleri oluşturarak \
yapabilen bir uygulamadır.\n\
\n", ID_LTEXT_ABOUT3, 8, 70, 240, 64
    LTEXT "Copyright (C) 2002-2021 OpenVPN Technologies, Inc <info@openvpn.net>\n\
https://openvpn.net/", ID_LTEXT_ABOUT4, 8, 106, 240, 64
END

/* Proxy Authentication Dialog */
ID_DLG_PROXY_AUTH DIALOG 29, 23, 154, 65
STYLE DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN - Proxy Oturumu Açma"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Kullanıcı Adı:", 201, 9, 8, 42, 10
    EDITTEXT ID_EDT_PROXY_USER, 53, 5, 90, 12, ES_AUTOHSCROLL
    LTEXT "Şifre:", 202, 9, 26, 42, 10
    EDITTEXT ID_EDT_PROXY_PASS, 53, 23, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "Tamam", IDOK, 58, 43, 40, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
END

STRINGTABLE
LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
BEGIN
    IDS_LANGUAGE_NAME "Türkçe - Turkish"

    /* Tray - Resources */
    IDS_TIP_DEFAULT "OpenVPN GUI "
    IDS_TIP_CONNECTED "\nBağlanıldı: "
    IDS_TIP_CONNECTING "\nBağlanılıyor: "
    IDS_TIP_CONNECTED_SINCE "\nBağlanıldı: "
    IDS_TIP_ASSIGNED_IP "\nBağlanılan IP: %s"
    IDS_MENU_SERVICE "OpenVPN Servisi"
    IDS_MENU_IMPORT "Import file…"
    IDS_MENU_SETTINGS "Ayarlar…"
    IDS_MENU_CLOSE "Çıkış"
    IDS_MENU_CONNECT "Bağlan"
    IDS_MENU_DISCONNECT "Bağlantıyı Kes"
    IDS_MENU_RECONNECT "Reconnect"
    IDS_MENU_STATUS "Durum"
    IDS_MENU_VIEWLOG "Günlüğe Bak"
    IDS_MENU_EDITCONFIG "Ayarlar"
    IDS_MENU_PASSPHRASE "Şifreyi Değiştir"
    IDS_MENU_CLEARPASS  "Clear Saved Passwords"
    IDS_MENU_SERVICE_START "Başla"
    IDS_MENU_SERVICE_STOP "Durdur"
    IDS_MENU_SERVICE_RESTART "Yeniden Başlat"
    IDS_MENU_SERVICEONLY_START "Bağlan"
    IDS_MENU_SERVICEONLY_STOP "Bağlantıyı Kes"
    IDS_MENU_SERVICEONLY_RESTART "Yeniden Bağlan"
    IDS_MENU_ASK_STOP_SERVICE "Bağlantıyı koparmak istediğinize emin misiniz ? (OpenVPN Servisini Durdurur)?"

    /* Logviewer - Resources */
    IDS_ERR_START_LOG_VIEWER "Olay görüntüleyici başlarken hata oluştu: %s"
    IDS_ERR_START_CONF_EDITOR "Ayar editörü başlarken hata oluştu: %s"

    /* OpenVPN */
    IDS_ERR_MANY_CONFIGS "OpenVPN GUI %d den fazla konfigürasyonu desteklemiyor. Eğer daha fazlasına ihtiyacınız varsa lütfen hak sahibi ile görüşün."
    IDS_NFO_NO_CONFIGS "No readable connection profiles (config files) found.\n\
Use the ""Import File.."" menu or copy your config files to ""%s"" or ""%s""."
    IDS_ERR_CONFIG_NOT_AUTHORIZED "Starting this connection (%s) requires membership in \
""%s"" group. Contact your system administrator.\n"
    IDS_ERR_CONFIG_TRY_AUTHORIZE  "Starting this connection (%s) requires membership in \
""%s"" group.\n\n\
Do you want to add yourself to this group?\n\
This action may prompt for administrative password or consent."
    IDS_NFO_CONFIG_AUTH_PENDING   "Starting this connection (%s) requires membership in \
""%s"" group.\n\n\
Please complete the previous authorization dialog."
    IDS_ERR_ADD_USER_TO_ADMIN_GROUP "Adding the user to ""%s"" group failed."
    IDS_ERR_ONE_CONN_OLD_VER "OpenVPN 2.0-beta6 sürümünden daha eski bir versiyon açıkken, aynı anda sadece bir bağlantı açabilirsiniz!"
    IDS_ERR_STOP_SERV_OLD_VER "OpenVPN servisi çalışırken (OpenVPN ver.1.5/1.6) OpenVPN GUI ile bağlantı yapamazsınız. OpenVPN GUI yi kullanacaksanız, öncelikle OpenVPN servisini durdurmanız gerekmektedir."
    IDS_ERR_CREATE_EVENT "Çıkılırken hata oluştu: %s"
    IDS_ERR_UNKNOWN_PRIORITY "Bilinmeyen öncelik ismi: %s"
    IDS_ERR_LOG_APPEND_BOOL "Günlük dosyası ekleme değeri('%s') olarak verilmiş.'0' veya '1' olmalıdır."
    IDS_ERR_GET_MSIE_PROXY "MSIE (Internet Explorer) proxy ayarlarına erişilemiyor."
    IDS_ERR_INIT_SEC_DESC "InitializeSecurityDescriptor hatası."
    IDS_ERR_SET_SEC_DESC_ACL "SetSecurityDescriptorDacl hatası."
    IDS_ERR_CREATE_PIPE_OUTPUT "CreatePipe on hOutputWrite hatası."
    IDS_ERR_CREATE_PIPE_INPUT "CreatePipe on hInputRead hatası."
    IDS_ERR_DUP_HANDLE_OUT_READ "DuplicateHandle on hOutputRead hatası."
    IDS_ERR_DUP_HANDLE_IN_WRITE "DuplicateHandle on hInputWrite hatası."
    IDS_ERR_CREATE_PROCESS "CreateProcess hatası, exe='%s' cmdline='%s' dir='%s'"
    IDS_ERR_CREATE_THREAD_STATUS "CreateThread anında durum penceresi gösterilemedi hatası."
    IDS_NFO_STATE_WAIT_TERM "Geçerli Durum: OpenVPN' in kapanması bekleniyor…"
    IDS_NFO_STATE_CONNECTED "Geçerli Durum: Bağlandı"
    IDS_NFO_NOW_CONNECTED "%s şu an bağlı."
    IDS_NFO_ASSIGN_IP "Atanan IP: %s"
    IDS_ERR_CERT_EXPIRED "Sertifikanız veya sistem tarih/zaman ayarlarınız geçersiz olduğundan bağlantı sağlanamadı."
    IDS_ERR_CERT_NOT_YET_VALID "Sertifikanız geçersiz olduğundan bağlantı sağlanamadı. Sistem zamanınızın doğruluğunu kontrol edin."
    IDS_NFO_STATE_RECONNECTING "Geçerli Durum: Yeniden Bağlanılıyor"
    IDS_NFO_STATE_DISCONNECTED "Geçerli Durum: Bağlantı Kesildi"
    IDS_NFO_CONN_TERMINATED "%s ile olan bağlantı kesildi. "
    IDS_NFO_STATE_FAILED "Geçerli Durum: Bağlantı sağlanamadı."
    IDS_NFO_CONN_FAILED "%s ile bağlantı kurulamadı"
    IDS_NFO_STATE_FAILED_RECONN "Geçerli Durum: Bağlantı sağlanamadı"
    IDS_NFO_RECONN_FAILED "%s ile yeniden bağlantı sağlanırken hata oluştu."
    IDS_NFO_STATE_SUSPENDED "Geçerli Durum: Beklemede"
    IDS_ERR_READ_STDOUT_PIPE "OpenVPN StdOut Pipe okunurken hata oluştu."
    IDS_ERR_CREATE_EDIT_LOGWINDOW "Günlük dosyası oluşturulurken hata oluştu!!"
    IDS_ERR_SET_SIZE "Boyut ayarlanırken hata oluştu!"
    IDS_ERR_AUTOSTART_CONF "İstenilen konfigürasyon dosyası yeniden başlatılırken hata oluştu.: %s"
    IDS_ERR_CREATE_PIPE_IN_READ "CreatePipe on hInputRead başarısız oldu!."
    IDS_NFO_STATE_CONNECTING "Geçerli Durum: Bağlanıyor!"
    IDS_NFO_CONNECTION_XXX "OpenVPN Bağlantısı (%s)"
    IDS_NFO_STATE_CONN_SCRIPT "Geçerli Durum: Bağlantı betiği çalıştırılıyor"
    IDS_NFO_STATE_DISCONN_SCRIPT "Geçerli Durum: Bağlantıyı koparmak için betik çalıştırılıyor"
    IDS_ERR_RUN_CONN_SCRIPT "Bağlantı betiği çalıştırma hatası: %s"
    IDS_ERR_GET_EXIT_CODE "Bağlantı betiğinde ExitCode çalıştırılamadı: (%s)"
    IDS_ERR_CONN_SCRIPT_FAILED "Bağlantı betiği başarısız oldu. (exitcode=%ld)"
    IDS_ERR_RUN_CONN_SCRIPT_TIMEOUT "Bağlantı betiği başarısız oldu. %d saniyede timeout oldu."
    IDS_ERR_CONFIG_EXIST "Zaten '%s' ismi ile kayıtlı bir ayar dosyası mevcut. \
Ayrı klasörlerde olmadığı sürece, aynı isimle ayar dosyası \
kayıt edemezsiniz."
    /* main - Resources */
    IDS_ERR_OPEN_DEBUG_FILE "Debug dosyası açılırken hata oluştu (%s)"
    IDS_ERR_CREATE_PATH "Could not create %s path:\n%s"
    IDS_ERR_LOAD_RICHED20 "RICHED20.DLL yüklenemedi."
    IDS_ERR_SHELL_DLL_VERSION "Sistemde bulunan shell32.dll verdsiyonu eski. (0x%lx). En az 5.0 versiyonuna sahip olmalısınız."
    IDS_NFO_SERVICE_STARTED "OpenVPN Servisi başlatıldı."
    IDS_NFO_SERVICE_STOPPED "OpenVPN Service durduruldu."
    IDS_NFO_ACTIVE_CONN_EXIT "OpenVPN GUI ' yi kapatırsanız, açık olan bağlantılarınız sonlandırılacaktır.\
\n\nÇıkmak istediğinize emin misiniz?"
    IDS_NFO_SERVICE_ACTIVE_EXIT "Şu an bağlısınız(OpenVPN Servisi çalışıyor). \
OpenVPN GUI yi kapatsanız dahi bağlantı devam edecek.\n\n\
OpenVPN GUI den çıkmak istiyor musunuz?"

    /* options - Resources */
    IDS_NFO_USAGE "--help\t\t\t: Yardım mesajını gözter.\n\
--connect cnn \t\t: Başlangıçta otomatik olarak ""cnn"" e bağlan. (uzantılar dahil edilmelidir.)\n\
\t\t\t   Örnek: openvpn-gui --connect office.ovpn\n\
--command cmd [args]\t: Send a command to a running instance of the GUI\n\
Supported commands:\n\
    connect cnn            \t: connect the config named ""cnn""\n\
    disconnect cnn         \t: disconnect the config named ""cnn""\n\
    reconnect cnn          \t: reconnect the config named ""cnn""\n\
    disconnect_all         \t: disconnect all connected configs\n\
    exit                 \t\t: terminate the running GUI instance (may ask for confirmation)\n\
    status cnn           \t\t: show the status window of config ""cnn"" if connected\n\
    silent_connection [0|1]\t: set the silent_connection flag on (1) or off (0)\n\
\t\t\tExample: openvpn-gui.exe --command disconnect myconfig\n\
\n\
Registry ayarları için:\n\
--exe_path\t\t: openvpn.exe yolu.\n\
--config_dir\t\t: Ayar dosyalarının bulunduğu dizini belirtmek için.\n\
--ext_string\t\t: Config dosyalarının uzantıları.\n\
--log_dir\t\t\t: Günlük dosyalarının kayıt edileceği dizini belirtmek için.\n\
--priority_string\t\t: Öncelik belirleme ifadesi (Daha fazla bilgi için install.txt dosyasına bakınız).\n\
--append_string\t\t: 1=Log dosyasının sonuna ekle. 0=Bağlantı sırasında log dosyasını sil ve üzerine yaz.\n\
--log_viewer\t\t: Log görüntüleyicinin yolu.\n\
--editor\t\t\t: Ayar editörünün yolu.\n\
--allow_edit\t\t: 1=Ayarlar menüsünü göster.\n\
--allow_service\t\t: 1=Servis Kontrol menüsünü göster.\n\
--allow_password\t\t: 1=Şifre değiştirme menü öğesini göster.\n\
--allow_proxy\t\t: 1=Proxy Ayarları menüsünü gözter.\n\
--show_balloon\t\t: 0=Hiç bir zaman, 1=Bağlantı yapılırken, 2=Bağlantı her yeniden yapıldığında.\n\
--service_only\t\t: 1=Sadece servis çalışsın, arayüz gösterilmesin.\n\
--silent_connection\t\t: 1=Bağlantı sırasında durum diyaloğu görünmesin.\n\
--show_script_window\t: 0=Betik çalıştırma penceresi görünmesin, 1=Betik çalıştırma penceresi görünsün.\n\
--passphrase_attempts\t: Kaç defa şifre giriş denemesi yapılabilir.\n\
--connectscript_timeout\t: Bağlantı betiğinin çalışma süresi.\n\
--disconnectscript_timeout\t: Bağlantı kesme betiğinin çalışma süresi.\n\
--preconnectscript_timeout\t: Time to wait for preconnect script to finish.\n\
--iservice_admin\t\t: 0=Do not use interactive service when started as admin (default is 1 for Windows 7 and newer)\n\
--disable_popup_messages\t: Do not popup (i.e., show) the echo message window. Default is to show.\n\
--popup_mute_interval\t: Time in hours for which a previously shown echo message is not re-displayed. Default=24 hours.\n\
--management_port_offset\t: Offset value added to config index to determine the management port for a connection.\n\
\t\t\t Must be in the range 1 to 61000. Maximum number of configs is limited by 65536 minus this value. Default=25340.\n"


    IDS_NFO_USAGECAPTION "OpenVPN GUI Kullanımı"
    IDS_ERR_BAD_PARAMETER " ""%s"" ifadesini --seçenek parametre olarak ayırmaya çalışıyorum \
fakat şu ifadeleri göremedim '--'"
    IDS_ERR_BAD_OPTION "Seçenek hatası: Bilinmeyen bir parametre girişi yaptınız: --%s\n\
Daha fazla bilgi için komut satırında openvpn-gui --help ifadesini kullanın."

    /* passphrase - Resources */
    IDS_ERR_CREATE_PASS_THREAD "Şifre değiştirme diyaloğunu başlatma olayı başarısız oldu."
    IDS_NFO_CHANGE_PWD "Şifre Değiştir (%s)"
    IDS_ERR_PWD_DONT_MATCH "Girdiğiniz şifreler eşleşmiyor."
    IDS_ERR_PWD_TO_SHORT "yeni şifreniz en az %d karakter uzunluğunda olmalıdır."
    IDS_NFO_EMPTY_PWD "Boş bir şifreyi kullanmak istediğinize gerçekten emin misiniz?"
    IDS_ERR_UNKNOWN_KEYFILE_FORMAT "Bilinmeyen anahtar dosyası biçimi."
    IDS_ERR_OPEN_PRIVATE_KEY_FILE "private key açılırken hata oluştu(%s)."
    IDS_ERR_OLD_PWD_INCORRECT "Yanlış şifre girdiniz."
    IDS_ERR_OPEN_WRITE_KEY "private key dosyası yazılırken hata oluştu (%s)."
    IDS_ERR_WRITE_NEW_KEY "Yeni private key dosyası yazılırken hata oluştu (%s)."
    IDS_NFO_PWD_CHANGED "Şifreniz değiştirildi."
    IDS_ERR_READ_PKCS12 "PKCS #12 dosyası okunurken hata oluştu (%s)."
    IDS_ERR_CREATE_PKCS12 "Yeni PKCS #12 oluşturulurken hata oluştu. Yeni şifre dosyası oluşturulamadı."
    IDS_ERR_OPEN_CONFIG "Ayar dosyası okuma için açılamadı: (%s)"
    IDS_ERR_ONLY_ONE_KEY_OPTION "Ayar dosyasında birden fazla anahtar ""key"" belirtemezsiniz."
    IDS_ERR_ONLY_KEY_OR_PKCS12 "Ayarlarınızda aynı anda anahtar ""key"" ve pkcs12 ""pkcs12"" seçimlerini kullanamazsınız."
    IDS_ERR_ONLY_ONE_PKCS12_OPTION "Ayar dosyanızda birden fazla pkcs12 ""pkcs12"" seçimi bulunduramazsınız."
    IDS_ERR_HAVE_KEY_OR_PKCS12 "Ayar dosyanızda herhangi bir ""key"" yada ""pkcs12"" seçeneği bulunamadı."
    IDS_ERR_KEY_FILENAME_TO_LONG "Ayarlarınızda bulunan anahtar dosyasının adı çok uzun!"
    IDS_ERR_PASSPHRASE2STDIN "Standart girişten şifreniz okunurken hata oluştu."
    IDS_ERR_AUTH_USERNAME2STDIN "Standart girişten kullanıcı adınız okunurken hata oluştu."
    IDS_ERR_AUTH_PASSWORD2STDIN "Standart girişten şifreniz ile giriş yapılırken hata oluştu."
    IDS_ERR_CR2STDIN "Error passing CR to stdin."
    IDS_ERR_INVALID_CHARS_IN_PSW "Yeni şifreniz geçersiz karakterler içeriyor. \
Lütfen yeni bir tane seçiniz."

    /* settings */
    IDS_SETTINGS_CAPTION "OpenVPN - Ayarlar"

    /* proxy */
    IDS_ERR_HTTP_PROXY_ADDRESS "HTTP proxy adresi girmelisiniz."
    IDS_ERR_HTTP_PROXY_PORT "HTTP proxy port' u girmelisiniz."
    IDS_ERR_HTTP_PROXY_PORT_RANGE "1 ila 65535 arasında HTTP proxy port numarası girmelisiniz."
    IDS_ERR_SOCKS_PROXY_ADDRESS "Bir SOCKS proxy adresi girmelisiniz."
    IDS_ERR_SOCKS_PROXY_PORT "Bir SOCKS proxy port u girmelisiniz."
    IDS_ERR_SOCKS_PROXY_PORT_RANGE "1 ila 65535 arasında bir SOCKS proxy port numarası girmelisiniz."
    IDS_ERR_CREATE_REG_HKCU_KEY """HKEY_CURRENT_USER\\%s"" anahtarı oluşturulurken hata oluştu."
    IDS_ERR_GET_TEMP_PATH "GetTempPath() ile TempPath aranırken hata oluştu. ""C:\\"" kullanılacak."

    /* service */
    IDS_ERR_OPEN_VPN_SERVICE """OpenVPNService"" başlatımı başarısız oldu."
    IDS_ERR_START_SERVICE """OpenVPNService"" başlatımı başarısız oldu."
    IDS_ERR_QUERY_SERVICE "Servis durumu sorgulaması başarısız oldu."
    IDS_ERR_SERVICE_START_FAILED "OpenVPN Servisi başlatımı başarısız oldu."
    IDS_ERR_OPEN_SCMGR "OpenSCManager başarısız oldu. (%d)"
    IDS_ERR_STOP_SERVICE "OpenVPN Servisini durdurma girişimi başarısız oldu."
    IDS_NFO_RESTARTED "OpenVPN Servisi başlatıldı."
    IDS_ERR_ACCESS_SERVICE_PIPE "Access to service pipe failed."
    IDS_ERR_WRITE_SERVICE_PIPE "Writing to service pipe failed."
    IDS_ERR_INSTALL_ISERVICE     """OpenVPNServiceInteractive"" is not installed.\n\
Tasks requiring administrative access may not work."
    IDS_ERR_NOTSTARTED_ISERVICE  """OpenVPNServiceInteractive"" is not started.\n\
Tasks requiring administrative access may not work."
    IDS_ERR_NOTSTARTED_ISERVICE_ADM  """OpenVPNServiceInteractive"" is not started.\n\
Wintun driver will not work."

    /* registry */
    IDS_ERR_GET_WINDOWS_DIR "Windows dizinine erişim başarısız oldu."
    IDS_ERR_GET_PROFILE_DIR "Error getting User Profile Directory."
    IDS_ERR_GET_PROGRAM_DIR """Program"" dizine erişim başarısız oldu ."
    IDS_ERR_OPEN_REGISTRY "Registry açılamadı(HKLM\\SOFTWARE\\OpenVPN).\n \
Muhtemelen OpenVPN yüklü değil."
    IDS_ERR_READING_REGISTRY "Registry anahtarı okunurken başarısız oldu (HKLM\\SOFTWARE\\OpenVPN)."
    IDS_ERR_PASSPHRASE_ATTEMPTS "Registry anahtarı ""passphrase_attempts"" 1 ile 9 arasında bir değer almalı."
    IDS_ERR_CONN_SCRIPT_TIMEOUT "Registry anahtarı ""connectscript_timeout"" 0 ile 99 arasında bir değer almalı."
    IDS_ERR_DISCONN_SCRIPT_TIMEOUT "Registry anahtarı ""disconnectscript_timeout"" 1 ile 99 arasında bir değer almalı."
    IDS_ERR_PRECONN_SCRIPT_TIMEOUT "Registry anahtarı ""preconnectscript_timeout"" 1 ile 99 arasında bir değer almalı."
    IDS_ERR_CREATE_REG_KEY "HKLM\\SOFTWARE\\OpenVPN-GUI anahtarı oluşturulamadı."
    IDS_ERR_OPEN_WRITE_REG "Windows Registry açılmadı. Registry' i açabilmek için \
sistem yönetici haklarına sahip olmanız gerekmektedir.."
    IDS_ERR_READ_SET_KEY """%s"" anahtarı ayarlanırken hata oluştu."
    IDS_ERR_WRITE_REGVALUE """HKEY_CURRENT_USER\\%s\\%s"" anahtarı yazılırken hata oluştu."

    /* importation */
    IDS_ERR_IMPORT_EXISTS "A config named ""%s"" already exists."
    IDS_ERR_IMPORT_FAILED "Failed to import file. The following path could not be created.\n\n\
%s\n\nMake sure you have the right permissions."
    IDS_NFO_IMPORT_SUCCESS "File imported successfully."
    IDS_NFO_IMPORT_OVERWRITE "A config named ""%s"" already exists. Do you want to replace it?"
    IDS_ERR_IMPORT_SOURCE "Cannot import file <%s> as it is already in the global or local config directory"

    /* save/delete password */
    IDS_NFO_DELETE_PASS "Press OK to delete saved passwords for config ""%s"""

    /* Token password related */
    IDS_NFO_TOKEN_PASSWORD_CAPTION "OpenVPN – Token Password"
    IDS_NFO_TOKEN_PASSWORD_REQUEST "Input Password/PIN for Token '%S'"

    IDS_NFO_AUTH_PASS_RETRY "Wrong credentials. Try again…"
    IDS_NFO_KEY_PASS_RETRY  "Wrong password. Try again…"
    IDS_ERR_INVALID_PASSWORD_INPUT "Invalid character in password"
    IDS_ERR_INVALID_USERNAME_INPUT "Invalid character in username"
    IDS_NFO_AUTO_CONNECT    "Connecting automatically in %u seconds…"
    IDS_NFO_CLICK_HERE_TO_START "OpenVPN GUI is already running. Right click on the tray icon to start."
    IDS_NFO_BYTECOUNT "Bytes in: %s  out: %s"

END
