/*
 *  OpenVPN-GUI -- A Windows GUI for OpenVPN.
 *
 *  Copyright (C) 2004 Mathias Sundman <mathias@nilings.se>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program (see the file COPYING included with this
 *  distribution); if not, write to the Free Software Foundation, Inc.,
 *  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Passphrase Dialog */
ID_DLG_PASSPHRASE DIALOGEX 6, 18, 160, 83
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Entrez un mot de passe:", 201, 6, 6, 100, 10
    EDITTEXT ID_EDT_PASSPHRASE, 6, 17, 107, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Se souvenir du mot de passe", ID_CHK_SAVE_PASS, 6, 33, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 49, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 90, 49, 50, 14
    LTEXT "", ID_TXT_WARNING, 6, 65, 100, 10
END

/* Auth Username/Password Dialog */
ID_DLG_AUTH DIALOGEX 6, 18, 160, 95
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Utilisateur:", ID_LTEXT_USERNAME, 6, 9, 50, 10
    LTEXT "Mot de passe:", ID_LTEXT_PASSWORD, 6, 26, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Se souvenir du mot de passe", ID_CHK_SAVE_PASS, 6, 42, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 58, 50, 14, BS_DEFPUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "Annuler", IDCANCEL, 90, 58, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 80, 150, 10
END

/* Auth Username/Password/Challenge Dialog */
ID_DLG_AUTH_CHALLENGE DIALOG 6, 18, 160, 129
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - User Authentication"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Utilisateur:", ID_LTEXT_USERNAME, 6, 9, 50, 10
    LTEXT "Mot de passe:", ID_LTEXT_PASSWORD, 6, 26, 50, 10
    LTEXT "Réponse:", ID_LTEXT_RESPONSE, 6, 60, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT "", ID_TXT_AUTH_CHALLENGE, 6, 43, 148, 10
    EDITTEXT ID_EDT_AUTH_CHALLENGE, 60, 57, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Se souvenir du mot de passe", ID_CHK_SAVE_PASS, 6, 76, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 92, 50, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "Annuler", IDCANCEL, 90, 92, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 108, 150, 10
END

/* Challenge Response Dialog */
ID_DLG_CHALLENGE_RESPONSE DIALOG 6, 18, 212, 72
STYLE WS_SIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - Réponse de défi"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
BEGIN
    LTEXT "", ID_TXT_DESCRIPTION, 6, 9, 208, 10
    LTEXT "Réponse:", ID_LTEXT_RESPONSE, 6, 30, 50, 10
    EDITTEXT ID_EDT_RESPONSE, 60, 27, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 20, 51, 50, 14, BS_PUSHBUTTON | WS_TABSTOP
    PUSHBUTTON "Annuler", IDCANCEL, 90, 51, 52, 14
END

/* Status Dialog */
ID_DLG_STATUS DIALOG 6, 18, 380, 210
STYLE WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Connexion…", ID_TXT_STATUS, 20, 5, 200, 10
    LTEXT "", ID_TXT_BYTECOUNT, 20, 175, 200, 10
    LTEXT "OpenVPN GUI 11.y.0.0/2.4.x", ID_TXT_VERSION, 220, 175, 150, 10
    LTEXT "", ID_TXT_IP, 20, 160, 300, 10
    PUSHBUTTON "Déconnecter", ID_DISCONNECT, 50, 190, 50, 14
    PUSHBUTTON "Reconnecter", ID_RESTART, 150, 190, 50, 14
    PUSHBUTTON "Fermer", ID_HIDE, 100, 190, 50, 14
END

/* Change Passphrase Dialog */
ID_DLG_CHGPASS DIALOG 6, 18, 193, 82
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Changer le Mot de passe"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Ancien Mot de passe:", 171, 6, 9, 85, 10
    LTEXT "Nouveau Mot de passe:", 172, 6, 26, 85, 10
    LTEXT "Confirmer le Mot de passe:", 173, 6, 42, 85, 10
    EDITTEXT ID_EDT_PASS_CUR, 95, 6, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW, 95, 23, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW2, 95, 39, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 40, 59, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 103, 59, 50, 14
    LTEXT "", ID_TXT_KEYFORMAT, 0, 0, 0, 0
    LTEXT "", ID_TXT_KEYFILE, 0, 0, 0, 0
END

/* Proxy Settings Dialog */
ID_DLG_PROXY DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Proxy"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "   ", 201, 6, 46, 235, 52
    AUTORADIOBUTTON "Utiliser le fichier de la configuration OpenVPN", ID_RB_PROXY_OPENVPN,
                    13, 16, 200, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Utiliser la configuration d'Internet Explorer",
                    ID_RB_PROXY_MSIE, 13, 31, 200, 10
    AUTORADIOBUTTON "Configuration manuelle", ID_RB_PROXY_MANUAL, 13, 46, 84, 10
    AUTORADIOBUTTON "Proxy HTTP", ID_RB_PROXY_HTTP, 20, 62, 90, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Proxy SOCKS", ID_RB_PROXY_SOCKS, 120, 62, 90, 10
    LTEXT "Addresse:", ID_TXT_PROXY_ADDRESS, 20, 77, 36, 10
    RTEXT "Port:", ID_TXT_PROXY_PORT, 171, 77, 20, 10
    EDITTEXT ID_EDT_PROXY_ADDRESS, 57, 75, 113, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PROXY_PORT, 196, 75, 30, 12, ES_AUTOHSCROLL
END

/* General Settings Dialog */
ID_DLG_GENERAL DIALOGEX 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Général"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "Interface utilisateur", 201, 6, 12, 235, 30
    LTEXT "Langue:", ID_TXT_LANGUAGE, 17, 25, 52, 12
    COMBOBOX ID_CMB_LANGUAGE, 47, 23, 181, 400, CBS_DROPDOWNLIST | WS_TABSTOP
    
    GROUPBOX "Démarrage", 202, 6, 47, 235, 30
    AUTOCHECKBOX "Lancer au démarrage de Windows", ID_CHK_STARTUP, 17, 59, 200, 12

    GROUPBOX "Préférences", ID_GROUPBOX3, 6, 82, 235, 105
    AUTOCHECKBOX "Ajouter au fichier log", ID_CHK_LOG_APPEND, 17, 95, 81, 10
    AUTOCHECKBOX "Afficher la fenêtre des scripts", ID_CHK_SHOW_SCRIPT_WIN, 17, 110, 200, 10
    AUTOCHECKBOX "Connexion silencieuse", ID_CHK_SILENT, 17, 125, 200, 10
    AUTOCHECKBOX "Always use interactive service", ID_CHK_ALWAYS_USE_ISERVICE, 17, 140, 200, 10
    LTEXT "Afficher une bulle d'information", ID_TXT_BALLOON, 17, 155, 100, 10
    AUTORADIOBUTTON "Connexion", ID_RB_BALLOON1, 28, 170, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Connexion/Reconnexion", ID_RB_BALLOON2, 86, 170, 90, 10
    AUTORADIOBUTTON "Jamais", ID_RB_BALLOON0, 181, 170, 40, 10
END

/* Advanced Dialog */
ID_DLG_ADVANCED DIALOGEX 6, 18, 252, 280
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Avancé"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "Fichiers de configuration", 201, 6, 12, 235, 45
    LTEXT "Dossier:", ID_TXT_FOLDER, 17, 25, 32, 10
    LTEXT "Extension:", ID_TXT_EXTENSION, 17, 40, 52, 10
    EDITTEXT ID_EDT_CONFIG_DIR, 53, 23, 150, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_CONFIG_EXT, 53, 38, 25, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_CONFIG_DIR, 208, 23, 25, 12

    GROUPBOX "Fichiers log", 202, 6, 62, 235, 30
    LTEXT "Dossier:", ID_TXT_FOLDER1, 17, 74, 32, 10
    EDITTEXT ID_EDT_LOG_DIR, 53, 72, 150, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_LOG_DIR, 208, 72, 25, 12

    GROUPBOX "Temps d’exécution maximum des scripts", 203, 6, 97, 235, 60
    LTEXT "Script de préconnexion:", ID_TXT_PRECONNECT_TIMEOUT, 17, 110, 100, 10
    LTEXT "Script de connexion:", ID_TXT_CONNECT_TIMEOUT, 17, 125, 90, 10
    LTEXT "Script de déconnexion:", ID_TXT_DISCONNECT_TIMEOUT, 17, 140, 90, 10
    EDITTEXT ID_EDT_PRECONNECT_TIMEOUT, 103, 108, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_CONNECT_TIMEOUT, 103, 123, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_DISCONNECT_TIMEOUT, 103, 138, 20, 12, ES_AUTOHSCROLL|ES_NUMBER

    GROUPBOX "Management interface", 204, 6, 163, 235, 30
    LTEXT "Port offset:", 205, 17, 175, 75, 10
    EDITTEXT ID_EDT_MGMT_PORT, 103, 173, 30, 12, ES_AUTOHSCROLL

    GROUPBOX "Config menu view", 206, 6, 198, 235, 30
    AUTORADIOBUTTON "&Auto", ID_RB_BALLOON0, 28, 210, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "&Flat", ID_RB_BALLOON1, 88, 210, 50, 10
    AUTORADIOBUTTON "&Nested", ID_RB_BALLOON2, 148, 210, 50, 10

    GROUPBOX "Echo message display", 207, 6, 233, 235, 45
    AUTORADIOBUTTON "A&uto", ID_RB_BALLOON3, 28, 245, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Ne&ver", ID_RB_BALLOON4, 88, 245, 50, 10
    LTEXT "Repeated messages are muted for: ", 208, 17, 260, 125, 10
    EDITTEXT ID_EDT_POPUP_MUTE, 150, 258, 30, 12, ES_AUTOHSCROLL
    LTEXT "hours", 209, 190, 260, 40, 10

END

/* About Dialog */
ID_DLG_ABOUT DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "A Propos"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
BEGIN
    ICON ID_ICO_APP, ID_ICON_ABOUT, 8, 16, 21, 20
    LTEXT "OpenVPN GUI v%s - A Windows GUI for OpenVPN\n\
Copyright (C) 2004-2005 Mathias Sundman <info@openvpn.se>\n\
Copyright (C) 2008-2014 Heiko Hund <heikoh@users.sf.net>\n\
Copyright (C) 2012-2021 OpenVPN GUI contributors\n", ID_TXT_VERSION, 36, 15, 206, 50
    LTEXT "https://github.com/OpenVPN/openvpn-gui/", ID_LTEXT_ABOUT2, 36, 55, 206, 42
    LTEXT "OpenVPN - Une application permettant d'ouvrir un tunnel IP sécurisé \
sur un simple port TCP/UDP avec un support SSL/TLS pour l'authentification de \
session, échange de clés, cryptage de paquets, authentification des \
paquets, et compression de paquets.\n\
\n", ID_LTEXT_ABOUT3, 8, 70, 240, 64
    LTEXT "Copyright (C) 2002-2021 OpenVPN Technologies, Inc <info@openvpn.net>\n\
https://openvpn.net/", ID_LTEXT_ABOUT4, 8, 106, 240, 64
END

/* Proxy Authentication Dialog */
ID_DLG_PROXY_AUTH DIALOG 29, 23, 154, 65
STYLE DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER
CAPTION "Authentification Proxy"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Utilisateur:", 201, 9, 8, 38, 10
    EDITTEXT ID_EDT_PROXY_USER, 57, 5, 87, 12, ES_AUTOHSCROLL
    LTEXT "Mot de passe:", 202, 9, 26, 47, 10
    EDITTEXT ID_EDT_PROXY_PASS, 57, 23, 87, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 58, 43, 40, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
END

STRINGTABLE
LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
BEGIN
    IDS_LANGUAGE_NAME "Français - French"

    /* Tray - Resources */
    IDS_TIP_DEFAULT "OpenVPN GUI "
    IDS_TIP_CONNECTED "\nConnecté à: "
    IDS_TIP_CONNECTING "\nConnexion à: "
    IDS_TIP_CONNECTED_SINCE "\nConnecté depuis: "
    IDS_TIP_ASSIGNED_IP "\nAdresse IP assignée: %s"
    IDS_MENU_SERVICE "OpenVPN Service"
    IDS_MENU_IMPORT "Importer fichier…"
    IDS_MENU_SETTINGS "Configuration…"
    IDS_MENU_CLOSE "Quitter"
    IDS_MENU_CONNECT "Connecter"
    IDS_MENU_DISCONNECT "Déconnecter"
    IDS_MENU_RECONNECT "Reconnect"
    IDS_MENU_STATUS "Afficher le statut"
    IDS_MENU_VIEWLOG "Voir le log"
    IDS_MENU_EDITCONFIG "Editer la configuration"
    IDS_MENU_PASSPHRASE "Changer le Mot de passe"
    IDS_MENU_CLEARPASS  "Effacer les mots de passe enregistrés"
    IDS_MENU_SERVICE_START "Démarrer"
    IDS_MENU_SERVICE_STOP "Arrêter"
    IDS_MENU_SERVICE_RESTART "Redémarrer"
    IDS_MENU_SERVICEONLY_START "Connecter"
    IDS_MENU_SERVICEONLY_STOP "Déconnecter"
    IDS_MENU_SERVICEONLY_RESTART "Reconnecter"
    IDS_MENU_ASK_STOP_SERVICE "Voulez-vous vous déconnecter (arrêter le service OpenVPN) ?"

    /* Logviewer - Resources */
    IDS_ERR_START_LOG_VIEWER "Erreur au démarrage de l'afficheur de log: %s"
    IDS_ERR_START_CONF_EDITOR "Erreur au démarrage de l'éditeur de la configuration: %s"

    /* OpenVPN */
    IDS_ERR_MANY_CONFIGS "OpenVPN GUI ne permet pas plus de %d configurations. Contacter l'auteur si vous en avez besoin de plus."
    IDS_NFO_NO_CONFIGS "Aucun profil de connexion lisible trouvé (fichiers de configuration).\n\
Utilisez le menu ""Importer fichier.."" ou copiez vos fichiers de configuration vers ""%s"" ou ""%s""."
    IDS_ERR_CONFIG_NOT_AUTHORIZED "À partir de cette connexion (%s) une adhésion est nécessaire au groupe \
""%s"". Contactez votre administrateur système.\n"
    IDS_ERR_CONFIG_TRY_AUTHORIZE  "À partir de cette connexion (%s) une adhésion est nécessaire au groupe \
""%s"".\n\n\
Voulez-vous vous ajouter à ce groupe?\n\
Cette action peut demander un mot de passe administratif ou un consentement."
    IDS_NFO_CONFIG_AUTH_PENDING   "À partir de cette connexion (%s) une adhésion est nécessaire au groupe \
""%s"".\n\n\
Veuillez compléter la boîte de dialogue d'autorisation précédente."
    IDS_ERR_ADD_USER_TO_ADMIN_GROUP "Ajout de l'utilisateur au groupe ""%s"" échoué."
    IDS_ERR_ONE_CONN_OLD_VER "Vous ne pouvez avoir qu'une connexion en même temps si vous utilisez une version d'OpenVPN plus ancienne que la 2.0-beta6."
    IDS_ERR_STOP_SERV_OLD_VER "Vous ne pouvez utiliser OpenVPN GUI pour ouvrir une connexion lorsque que le service OpenVPN est actif (avec OpenVPN 1.5/1.6). Arrêtez le service OpenVPN si vous voulez utiliser OpenVPN GUI."
    IDS_ERR_CREATE_EVENT "CreateEvent échoué à la terminaison. Code d'événnement: %s"
    IDS_ERR_UNKNOWN_PRIORITY "Nom de priorité inconnu: %s"
    IDS_ERR_LOG_APPEND_BOOL "L'indicateur de log incrémenté (donné par '%s') doit être '0' ou '1'"
    IDS_ERR_GET_MSIE_PROXY "Impossible d'obtenir la configuration Proxy d'IE parce que."
    IDS_ERR_INIT_SEC_DESC "InitializeSecurityDescriptor échoué."
    IDS_ERR_SET_SEC_DESC_ACL "SetSecurityDescriptorDacl échoué."
    IDS_ERR_CREATE_PIPE_OUTPUT "CreatePipe sur hOutputWrite échoué."
    IDS_ERR_CREATE_PIPE_INPUT "CreatePipe sur hInputRead échoué."
    IDS_ERR_DUP_HANDLE_OUT_READ "DuplicateHandle sur hOutputRead échoué."
    IDS_ERR_DUP_HANDLE_IN_WRITE "DuplicateHandle sur hInputWrite échoué."
    IDS_ERR_CREATE_PROCESS "CreateProcess échoué, exe='%s' cmdline='%s' dir='%s'"
    IDS_ERR_CREATE_THREAD_STATUS "CreateThread échoué pour afficher la fenêtre de statut."
    IDS_NFO_STATE_WAIT_TERM "Etat actuel: Attente que OpenVPN se termine…"
    IDS_NFO_STATE_CONNECTED "Etat actuel: Connecté"
    IDS_NFO_NOW_CONNECTED "%s est désormais connecté."
    IDS_NFO_ASSIGN_IP "Adresse IP assignée: %s"
    IDS_ERR_CERT_EXPIRED "Connexion impossible car votre certificat a expiré ou la date de votre système est incorrecte."
    IDS_ERR_CERT_NOT_YET_VALID "Connexion impossible car votre certificat n'est plus valide. Véfifiez que la date de votre système est correcte."
    IDS_NFO_STATE_RECONNECTING "Etat actuel: Reconnexion"
    IDS_NFO_STATE_DISCONNECTED "Etat actuel: Deconnecté"
    IDS_NFO_CONN_TERMINATED "La Connexion à %s était terminée."
    IDS_NFO_STATE_FAILED "Etat actuel: connexion échouée"
    IDS_NFO_CONN_FAILED "La Connexion à %s a échouée."
    IDS_NFO_STATE_FAILED_RECONN "Etat actuel: Reconnexion échouée"
    IDS_NFO_RECONN_FAILED "La Reconnexion à %s a échouée."
    IDS_NFO_STATE_SUSPENDED "Etat actuel: Suspendu"
    IDS_ERR_READ_STDOUT_PIPE "Erreur lors de la lecture d'OpenVPN StdOut Pipe."
    IDS_ERR_CREATE_EDIT_LOGWINDOW "Creating RichEdit LogWindow échoué !"
    IDS_ERR_SET_SIZE "Set Size échoué !"
    IDS_ERR_AUTOSTART_CONF "Impossible de trouver la configuration pour démarrer automatiquement: %s"
    IDS_ERR_CREATE_PIPE_IN_READ "CreatePipe sur hInputRead échoué."
    IDS_NFO_STATE_CONNECTING "Etat actuel: En cours de connexion"
    IDS_NFO_CONNECTION_XXX "Connexion OpenVPN (%s)"
    IDS_NFO_STATE_CONN_SCRIPT "Etat actuel: Exécution du script de connexion"
    IDS_NFO_STATE_DISCONN_SCRIPT "Etat actuel: Exécution du script de déconnexion"
    IDS_ERR_RUN_CONN_SCRIPT "Erreur d'exécution du script de connexion: %s"
    IDS_ERR_GET_EXIT_CODE "Impossible d'obtenir l'ExitCode du script de connexion (%s)"
    IDS_ERR_CONN_SCRIPT_FAILED "Le script de connexion à échoué. (code de sortie=%ld)"
    IDS_ERR_RUN_CONN_SCRIPT_TIMEOUT "Le script de connexion à échoué. TimeOut après %d sec."
    IDS_ERR_CONFIG_EXIST "Il éxiste déjà un fichier de configuration nommé '%s'. Vous ne pouvez \
pas avoir différentes configurations avec le même nom même s'ils \
ont placés dans un répertoire différent."
    IDS_NFO_CONN_TIMEOUT "La connexion à l'interface de gestion a échoué.\n\
Afficher le fichier journal (%s) pour plus de détails."
    /* main - Resources */
    IDS_ERR_OPEN_DEBUG_FILE "Erreur d'ouverture du fichier de debug (%s) pour output."
    IDS_ERR_CREATE_PATH "Impossible de créer le chemin vers %s:\n%s"
    IDS_ERR_LOAD_RICHED20 "Impossible de charger RICHED20.DLL."
    IDS_ERR_SHELL_DLL_VERSION "La version de votre shell32.dll est trop basse (0x%lx). Vous devez avoir au moins la version 5.0."
    IDS_NFO_SERVICE_STARTED "Service OpenVPN démarré."
    IDS_NFO_SERVICE_STOPPED "Service OpenVPN arreté."
    IDS_NFO_ACTIVE_CONN_EXIT "Les connexions en cours seront interrompues si vous fermez OpenVPN GUI.\
\n\nVous êtes sûr de vouloir fermer l'application ?"
    IDS_NFO_SERVICE_ACTIVE_EXIT "Vous êtes actuellement connecté (Le service OpenVPN est actif). \
Vous restez connecté même si vous terminez l'OpenVPN GUI.\n\n\
Voulez-vous continuer et fermer l'OpenVPN GUI ?"

    /* options - Resources */
    IDS_NFO_USAGE "--help\t\t\t: Afficher ce message.\n\
--connect cnn \t\t: Connecte à ""cnn"" au démarrage. (l'extension doit être incluse)\n\
\t\t\t   Exemple: openvpn-gui --connect office.ovpn\n\
--command cmd [args]\t: Send a command to a running instance of the GUI\n\
Supported commands:\n\
    connect cnn            \t: connect the config named ""cnn""\n\
    disconnect cnn         \t: disconnect the config named ""cnn""\n\
    reconnect cnn          \t: reconnect the config named ""cnn""\n\
    disconnect_all         \t: disconnect all connected configs\n\
    exit                 \t\t: terminate the running GUI instance (may ask for confirmation)\n\
    status cnn           \t\t: show the status window of config ""cnn"" if connected\n\
    silent_connection [0|1]\t: set the silent_connection flag on (1) or off (0)\n\
\t\t\tExample: openvpn-gui.exe --command disconnect myconfig\n\
\n\
Options pour corriger la configuration de registre:\n\
--exe_path\t\t: Chemin vers openvpn.exe.\n\
--config_dir\t\t: Chemin du répertoire contenant les fichiers de la configuration.\n\
--ext_string\t\t: Extension dans le fichier de la configuration.\n\
--log_dir\t\t\t: Chemin du répertoire ou sont sauvegardés les fichiers de log.\n\
--priority_string\t\t: Valeur de priorité (Voir install.txt pour plus d'info).\n\
--append_string\t\t: 1=Ajouter au fichier de log. 0=Tronquer le fichier de log à la connexion.\n\
--log_viewer\t\t: Chemin vers l'afficheur de log.\n\
--editor\t\t\t: Chemin vers l'éditeur de la configuration.\n\
--allow_edit\t\t: 1=Afficher le menu de la configuration pour l'élément.\n\
--allow_service\t\t: 1=Afficher le menu Services.\n\
--allow_password\t\t: 1=Afficher le menu de Changement de Mot de passe.\n\
--allow_proxy\t\t: 1=Afficher le menu de la configuration du Proxy.\n\
--show_balloon\t\t: 0=Jamais, 1=A la connexion initiale, 2=A toutes les reconnexions.\n\
--service_only\t\t: 1=Activer le mode Service seul Enable.\n\
--silent_connection\t\t: 1=Ne pas ouvrir le dialogue de Statut à la connexion.\n\
--show_script_window\t: 0=Cacher la fenêtre d'exécution du script, 1=Afficher la fenêtre.\n\
--passphrase_attempts\t: Nombre de tentatives de Mot de passe permises.\n\
--connectscript_timeout\t: Temps d'attente de terminaison du script.\n\
--disconnectscript_timeout\t: Temps d'attente de terminaison du script de déconnexion.\n\
--preconnectscript_timeout\t: Time to wait for preconnect script to finish.\n\
--iservice_admin\t\t: 0=Do not use interactive service when started as admin (default is 1 for Windows 7 and newer)\n\
--disable_popup_messages\t: Do not popup (i.e., show) the echo message window. Default is to show.\n\
--popup_mute_interval\t: Time in hours for which a previously shown echo message is not re-displayed. Default=24 hours.\n\
--management_port_offset\t: Offset value added to config index to determine the management port for a connection.\n\
\t\t\t Must be in the range 1 to 61000. Maximum number of configs is limited by 65536 minus this value. Default=25340.\n"


    IDS_NFO_USAGECAPTION "Usage OpenVPN GUI"
    IDS_ERR_BAD_PARAMETER "J'essaie de décoder ""%s"" comme un --option parameter \
mais je ne vois pas de correspondance '--'"
    IDS_ERR_BAD_OPTION "Erreur d'Options: Option(s) ou paramettre(s) manquant(s): --%s\n\
Utiliser openvpn-gui --help pour plus d'informations."

    /* passphrase - Resources */
    IDS_ERR_CREATE_PASS_THREAD "CreateThread pour afficher la dialogue ChangePassphrase échoué."
    IDS_NFO_CHANGE_PWD "Modification du Mot de passe (%s)"
    IDS_ERR_PWD_DONT_MATCH "Les Mots de passe que vous avez tappé ne correspondent pas, essayez encore."
    IDS_ERR_PWD_TO_SHORT "Le Mot de passe que vous avez tappé doit avoir au moins %d caractères."
    IDS_NFO_EMPTY_PWD "Vous êtes sûr de définir un Mot de passe VIDE ?"
    IDS_ERR_UNKNOWN_KEYFILE_FORMAT "Format du fichier de clé inconnu."
    IDS_ERR_OPEN_PRIVATE_KEY_FILE "Erreur à l'ouverture de la clé privée (%s)."
    IDS_ERR_OLD_PWD_INCORRECT "L'ancien Mot de passe est incorrect."
    IDS_ERR_OPEN_WRITE_KEY "Erreur d'ouverture du fichier de clé privé pour écriture (%s)."
    IDS_ERR_WRITE_NEW_KEY "Erreur d'écriture du fichier de clé privé (%s)."
    IDS_NFO_PWD_CHANGED "Votre Mot de passe a été modifié."
    IDS_ERR_READ_PKCS12 "Erreur de lecture du fichier PKCS #12 X509 (%s)."
    IDS_ERR_CREATE_PKCS12 "Erreur de création du nouveau fichier PKCS #12 X509. La modification du Mot de passe a échouée."
    IDS_ERR_OPEN_CONFIG "Impossible d'ouvrir le fichier de la configuration en mode de lecture: (%s)"
    IDS_ERR_ONLY_ONE_KEY_OPTION "Vous ne pouvez pas avoir plus d'une option ""key"" dans votre fichier de configuration."
    IDS_ERR_ONLY_KEY_OR_PKCS12 "Vous ne pouvez pas avoir à la fois les options ""key"" et ""pkcs12"" dans votre configuration."
    IDS_ERR_ONLY_ONE_PKCS12_OPTION "Vous ne pouvez pas avoir plus d'une option ""pkcs12"" dans votre configuration."
    IDS_ERR_HAVE_KEY_OR_PKCS12 "Votre fichier de configuration ne contient aucune option ""key"" ou ""pkcs12""."
    IDS_ERR_KEY_FILENAME_TO_LONG "Le nom de votre fichier clé est trop long !"
    IDS_ERR_PASSPHRASE2STDIN "Erreur d'envoi du Mot de passe vers stdin."
    IDS_ERR_AUTH_USERNAME2STDIN "Erreur d'envoi d'authentification du nom d'utilisateur vers stdin."
    IDS_ERR_AUTH_PASSWORD2STDIN "Erreur d'envoi d'authentification du Mot de passe vers stdin."
    IDS_ERR_CR2STDIN "Erreur d'envoi du CR vers stdin."
    IDS_ERR_INVALID_CHARS_IN_PSW "Votre nouveau Mot de passe ne contient des caractères invalides. \
Merci de choisir un autre."

    /* settings */
    IDS_SETTINGS_CAPTION "OpenVPN - Configuration"

    /* proxy */
    IDS_ERR_HTTP_PROXY_ADDRESS "Vous devez spécifier une adresse Proxy HTTP."
    IDS_ERR_HTTP_PROXY_PORT "Vous devez spécifier un port Proxy HTTP."
    IDS_ERR_HTTP_PROXY_PORT_RANGE "Vous devez spécifier un port Proxy HTTP entre 1-65535"
    IDS_ERR_SOCKS_PROXY_ADDRESS "Vous devez spécifier une adresse Proxy SOCKS."
    IDS_ERR_SOCKS_PROXY_PORT "Vous devez spécifier un port Proxy SOCKS."
    IDS_ERR_SOCKS_PROXY_PORT_RANGE "Vous devez spécifier un port SOCKS entre 1-65535"
    IDS_ERR_CREATE_REG_HKCU_KEY "Erreur de création de la clé ""HKEY_CURRENT_USER\\%s""."
    IDS_ERR_GET_TEMP_PATH "Erreur de détermination TempPath avec GetTempPath(). Utiliser ""C:\\"" à la place."

    /* service */
    IDS_ERR_OPEN_VPN_SERVICE "Impossible d'ouvrir ""OpenVPNService"""
    IDS_ERR_START_SERVICE "Impossible de démarrer ""OpenVPNService"""
    IDS_ERR_QUERY_SERVICE "Demande du statut de Service échoué."
    IDS_ERR_SERVICE_START_FAILED "Impossible de démarrer le Service OpenVPN."
    IDS_ERR_OPEN_SCMGR "OpenSCManager échoué (%d)"
    IDS_ERR_STOP_SERVICE "Impossible de terminer le Service OpenVPN"
    IDS_NFO_RESTARTED "Service OpenVPN redémarré."
    IDS_ERR_ACCESS_SERVICE_PIPE "L'accès au canal de service a échoué."
    IDS_ERR_WRITE_SERVICE_PIPE "L'écriture au canal de service a échoué."
    IDS_ERR_INSTALL_ISERVICE     """OpenVPNServiceInteractive"" n'est pas installé.\n\
Les tâches nécessitant un accès administratif peuvent ne pas fonctionner."
    IDS_ERR_NOTSTARTED_ISERVICE  """OpenVPNServiceInteractive"" n'est pas démarré.\n\
Les tâches nécessitant un accès administratif peuvent ne pas fonctionner."
    IDS_ERR_NOTSTARTED_ISERVICE_ADM  """OpenVPNServiceInteractive"" n'est pas démarré.\n\
Wintun driver will not work."

    /* registry */
    IDS_ERR_GET_WINDOWS_DIR "Impossible d'obtenir le Répertoire Windows."
    IDS_ERR_GET_PROFILE_DIR "Erreur lors de l'obtention du répertoire de profil utilisateur."
    IDS_ERR_GET_PROGRAM_DIR "Impossible d'obtenir le nom du répertoire ""Program""."
    IDS_ERR_OPEN_REGISTRY "Erreur d'ouverture du registre pour lecture (HKLM\\SOFTWARE\\OpenVPN).\n \
OpenVPN n'est probablement pas installé."
    IDS_ERR_READING_REGISTRY "Erreur de lecture du registre (HKLM\\SOFTWARE\\OpenVPN)."
    IDS_ERR_PASSPHRASE_ATTEMPTS "La valeur du registre ""passphrase_attempts"" doit être un nombre entre 1 et 9."
    IDS_ERR_CONN_SCRIPT_TIMEOUT "La valeur du registre ""connectscript_timeout"" doit être un nombre entre 0 et 99."
    IDS_ERR_DISCONN_SCRIPT_TIMEOUT "La valeur du registre ""disconnectscript_timeout"" doit être un nombre entre 1 et 99."
    IDS_ERR_PRECONN_SCRIPT_TIMEOUT "La valeur du registre ""preconnectscript_timeout"" doit être un nombre entre 1 et 99."
    IDS_ERR_CREATE_REG_KEY "Erreur de création de la clé HKLM\\SOFTWARE\\OpenVPN-GUI."
    IDS_ERR_OPEN_WRITE_REG "Impossible d'ouvrir le registre en mode écriture. Vous devez lancer cette application \
en tant qu'Administrator pour mettre à jour la base de registre."
    IDS_ERR_READ_SET_KEY "Impossible de lire et modifier la clé de registre ""%s""."
    IDS_ERR_WRITE_REGVALUE "Impossible d'écrire la valeur de registre ""HKEY_CURRENT_USER\\%s\\%s""."
    
    /* importation */
    IDS_ERR_IMPORT_EXISTS "Une configuration nommée ""%s"" existe déjà."
    IDS_ERR_IMPORT_FAILED "Impossible d'importer un fichier. Le chemin suivant n'a pas pu être créé.\n\n\
%s\n\nAssurez-vous d'avoir les bonnes autorisations."
    IDS_NFO_IMPORT_SUCCESS "Fichier importé avec succès."
    IDS_NFO_IMPORT_OVERWRITE "A config named ""%s"" already exists. Do you want to replace it?"
    IDS_ERR_IMPORT_SOURCE "Cannot import file <%s> as it is already in the global or local config directory"

    /* save/delete password */
    IDS_NFO_DELETE_PASS "Appuyez sur OK pour supprimer les mots de passe enregistrés pour config ""%s"""

    /* Token password related */
    IDS_NFO_TOKEN_PASSWORD_CAPTION "OpenVPN - Mot de passe Token"
    IDS_NFO_TOKEN_PASSWORD_REQUEST "Entrer le mot de passe/PIN pour Token '%S'"

    IDS_NFO_AUTH_PASS_RETRY "Nom d'utilisateur ou mot de passe incorrect. Réessayer..."
    IDS_NFO_KEY_PASS_RETRY  "Mauvais mot de passe. Réessayer..."
    IDS_ERR_INVALID_PASSWORD_INPUT "Invalid character in password"
    IDS_ERR_INVALID_USERNAME_INPUT "Invalid character in username"
    IDS_NFO_AUTO_CONNECT    "Connecting automatically in %u seconds…"
    IDS_NFO_CLICK_HERE_TO_START "OpenVPN GUI is already running. Right click on the tray icon to start."
    IDS_NFO_BYTECOUNT "Bytes in: %s  out: %s"

END
