/*
 *  OpenVPN-GUI -- A Windows GUI for OpenVPN.
 *
 *  Copyright (C) 2004 Mathias Sundman <mathias@nilings.se>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program (see the file COPYING included with this
 *  distribution); if not, write to the Free Software Foundation, Inc.,
 *  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Passphrase Dialog */
ID_DLG_PASSPHRASE DIALOGEX 6, 18, 160, 83
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "Digite a senha:", 201, 6, 6, 100, 10
    EDITTEXT ID_EDT_PASSPHRASE, 6, 17, 107, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Save password", ID_CHK_SAVE_PASS, 6, 33, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 49, 50, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 90, 49, 50, 14
    LTEXT "", ID_TXT_WARNING, 6, 65, 100, 10
END

/* Auth Username/Password Dialog */
ID_DLG_AUTH DIALOGEX 6, 18, 160, 95
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "Usuário:", 0, 6, 9, 50, 10
    LTEXT "Senha:", 0, 6, 26, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Save password", ID_CHK_SAVE_PASS, 6, 42, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 58, 50, 14, BS_DEFPUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "Cancelar", IDCANCEL, 90, 58, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 80, 150, 10
END

/* Auth Username/Password/Challenge Dialog */
ID_DLG_AUTH_CHALLENGE DIALOG 6, 18, 160, 129
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - Autenticação de usuário"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "Usuário:", 0, 6, 9, 50, 10
    LTEXT "Senha:", 0, 6, 26, 50, 10
    LTEXT "Resposta:", 0, 6, 60, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT "", ID_TXT_AUTH_CHALLENGE, 6, 43, 148, 10
    EDITTEXT ID_EDT_AUTH_CHALLENGE, 60, 57, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Save password", ID_CHK_SAVE_PASS, 6, 76, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 92, 50, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "Cancelar", IDCANCEL, 90, 92, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 108, 150, 10
END

/* Challenge Response Dialog */
ID_DLG_CHALLENGE_RESPONSE DIALOG 6, 18, 212, 72
STYLE WS_SIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - Challenge Response"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "", ID_TXT_DESCRIPTION, 6, 9, 208, 10
    LTEXT "Response:", 0, 6, 30, 50, 10
    EDITTEXT ID_EDT_RESPONSE, 60, 27, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 20, 51, 50, 14, BS_PUSHBUTTON | WS_TABSTOP
    PUSHBUTTON "Cancelar", IDCANCEL, 90, 51, 52, 14
END

/* Status Dialog */
ID_DLG_STATUS DIALOG 6, 18, 380, 210
STYLE WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "Conectando…", ID_TXT_STATUS, 20, 5, 200, 10
    LTEXT "", ID_TXT_BYTECOUNT, 20, 175, 200, 10
    LTEXT "OpenVPN GUI 11.y.0.0/2.4.x", ID_TXT_VERSION, 220, 175, 150, 10
    LTEXT "", ID_TXT_IP, 20, 160, 300, 10
    PUSHBUTTON "Desconectar", ID_DISCONNECT, 50, 190, 50, 14
    PUSHBUTTON "Reconectar", ID_RESTART, 150, 190, 50, 14
    PUSHBUTTON "Ocultar", ID_HIDE, 100, 190, 50, 14
END

/* Change Passphrase Dialog */
ID_DLG_CHGPASS DIALOG 6, 18, 193, 82
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "OpenVPN - Alterar senha"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "Senha antiga:", 171, 6, 9, 85, 10
    LTEXT "Nova senha:", 172, 6, 26, 85, 10
    LTEXT "Confime a nova senha:", 173, 6, 42, 85, 10
    EDITTEXT ID_EDT_PASS_CUR, 95, 6, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW, 95, 23, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW2, 95, 39, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 40, 59, 50, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 103, 59, 50, 14
    LTEXT "", ID_TXT_KEYFORMAT, 0, 0, 0, 0
    LTEXT "", ID_TXT_KEYFILE, 0, 0, 0, 0
END

/* Proxy Settings Dialog */
ID_DLG_PROXY DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Proxy"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "   ", 201, 6, 46, 235, 52
    AUTORADIOBUTTON "Usar aquivo de configuração do OpenVPN", ID_RB_PROXY_OPENVPN, \
                    13, 16, 200, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Usar configurações do Internet Explorer", \
                    ID_RB_PROXY_MSIE, 13, 31, 200, 10
    AUTORADIOBUTTON "Configuração manual", ID_RB_PROXY_MANUAL, 13, 46, 80, 10
    AUTORADIOBUTTON "HTTP Proxy", ID_RB_PROXY_HTTP, 20, 62, 90, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "SOCKS Proxy", ID_RB_PROXY_SOCKS, 120, 62, 90, 10
    LTEXT "Endereço:", ID_TXT_PROXY_ADDRESS, 20, 77, 37, 10
    RTEXT "Porta:", ID_TXT_PROXY_PORT, 167, 77, 24, 10
    EDITTEXT ID_EDT_PROXY_ADDRESS, 58, 75, 108, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PROXY_PORT, 196, 75, 30, 12, ES_AUTOHSCROLL
END

/* General Settings Dialog */
ID_DLG_GENERAL DIALOGEX 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Geral"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "Interface do Usuário", 201, 6, 12, 235, 30
    LTEXT "Idioma:", ID_TXT_LANGUAGE, 17, 25, 52, 12
    COMBOBOX ID_CMB_LANGUAGE, 57, 23, 171, 400, CBS_DROPDOWNLIST | WS_TABSTOP
    GROUPBOX "Inicialização", 202, 6, 47, 235, 30
    AUTOCHECKBOX "Executar ao iniciar o Windows", ID_CHK_STARTUP, 17, 59, 200, 12

    GROUPBOX "Preferences", 202, 6, 82, 235, 90
    AUTOCHECKBOX "Append to log", ID_CHK_LOG_APPEND, 17, 95, 60, 10
    AUTOCHECKBOX "Show script window", ID_CHK_SHOW_SCRIPT_WIN, 17, 110, 200, 10
    AUTOCHECKBOX "Silent connection", ID_CHK_SILENT, 17, 125, 200, 10
    LTEXT "Show Balloon", ID_TXT_BALLOON, 17, 140, 100, 10
    AUTORADIOBUTTON "On connect", ID_RB_BALLOON1, 28, 155, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "On connect/reconnect", ID_RB_BALLOON2, 86, 155, 90, 10
    AUTORADIOBUTTON "Never", ID_RB_BALLOON0, 181, 155, 40, 10
END

/* Advanced Dialog */
ID_DLG_ADVANCED DIALOGEX 6, 18, 252, 218
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Advanced"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "Configuration Files", 201, 6, 12, 235, 45
    LTEXT "Folder:", ID_TXT_FOLDER, 17, 25, 32, 10
    LTEXT "Extension:", ID_TXT_EXTENSION, 17, 40, 52, 10
    EDITTEXT ID_EDT_CONFIG_DIR, 53, 23, 150, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_CONFIG_EXT, 53, 38, 25, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_CONFIG_DIR, 208, 23, 25, 12

    GROUPBOX "Log Files", 202, 6, 62, 235, 30
    LTEXT "Folder:", ID_TXT_FOLDER, 17, 74, 32, 10
    EDITTEXT ID_EDT_LOG_DIR, 53, 72, 150, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_LOG_DIR, 208, 72, 25, 12

    GROUPBOX "Script Timeout", 201, 6, 97, 235, 60
    LTEXT "Preconnect script timeout:", ID_TXT_PRECONNECT_TIMEOUT, 17, 110, 100, 10
    LTEXT "Connect script timeout:", ID_TXT_CONNECT_TIMEOUT, 17, 125, 90, 10
    LTEXT "Disconnect script timeout:", ID_TXT_DISCONNECT_TIMEOUT, 17, 140, 90, 10
    EDITTEXT ID_EDT_PRECONNECT_TIMEOUT, 103, 108, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_CONNECT_TIMEOUT, 103, 123, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_DISCONNECT_TIMEOUT, 103, 138, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
END

/* About Dialog */
ID_DLG_ABOUT DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Sobre"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
BEGIN
    ICON ID_ICO_APP, 0, 8, 16, 21, 20
    LTEXT "OpenVPN GUI v" PACKAGE_VERSION_RESOURCE_STR " - Uma GUI Windows para OpenVPN\n" \
          "Copyright (C) 2004-2005 Mathias Sundman <info@openvpn.se>\n" \
          "Copyright (C) 2008-2014 Heiko Hund <heikoh@users.sf.net>\n" \
          "Copyright (C) 2012-" GUI_COPYRIGHT_YEAR_END " OpenVPN GUI contributors\n" \
          "https://github.com/OpenVPN/openvpn-gui/", 0, 36, 15, 206, 42
    LTEXT "OpenVPN - An application to securely tunnel IP networks " \
          "over a single TCP/UDP port, with support for SSL/TLS-based " \
          "session authentication and key exchange, packet " \
          "encryption, packet authentication, and packet compression.\n" \
          "\n" \
          "Copyright (C) 2002-" CORE_COPYRIGHT_YEAR_END " OpenVPN Technologies, Inc <info@openvpn.net>\n" \
          "https://openvpn.net/", 0, 8, 61, 240, 64
END

/* Proxy Authentication Dialog */
ID_DLG_PROXY_AUTH DIALOG 29, 23, 154, 65
STYLE DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN - Autenticação Proxy"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
BEGIN
    LTEXT "Usuário:", 201, 9, 8, 38, 10
    EDITTEXT ID_EDT_PROXY_USER, 49, 5, 94, 12, ES_AUTOHSCROLL
    LTEXT "Senha:", 202, 9, 26, 38, 10
    EDITTEXT ID_EDT_PROXY_PASS, 49, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 58, 43, 40, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
END

STRINGTABLE
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
BEGIN
    IDS_LANGUAGE_NAME "Português - Portuguese"

    /* Tray - Resources */
    IDS_TIP_DEFAULT "OpenVPN GUI "
    IDS_TIP_CONNECTED "\nConectado a: "
    IDS_TIP_CONNECTING "\nConectando a: "
    IDS_TIP_CONNECTED_SINCE "\nConectado desde: "
    IDS_TIP_ASSIGNED_IP "\nIP atribuído: %s"
    IDS_MENU_SERVICE "Serviço OpenVPN"
    IDS_MENU_IMPORT "Importar arquivo…"
    IDS_MENU_SETTINGS "Configurações…"
    IDS_MENU_CLOSE "Sair"
    IDS_MENU_CONNECT "Conectar"
    IDS_MENU_DISCONNECT "Desconectar"
    IDS_MENU_STATUS "Mostrar status"
    IDS_MENU_VIEWLOG "Visualizar log"
    IDS_MENU_EDITCONFIG "Editar configurações"
    IDS_MENU_PASSPHRASE "Alterar senha"
    IDS_MENU_SERVICE_START "Iniciar"
    IDS_MENU_SERVICE_STOP "Parar"
    IDS_MENU_SERVICE_RESTART "Reiniciar"
    IDS_MENU_SERVICEONLY_START "Conectar"
    IDS_MENU_SERVICEONLY_STOP "Desconectar"
    IDS_MENU_SERVICEONLY_RESTART "Reconectar"
    IDS_MENU_ASK_STOP_SERVICE "Você deseja desconectar (Parar o serviço OpenVPN)?"

    /* Logviewer - Resources */
    IDS_ERR_START_LOG_VIEWER "Erro iniciando o visualizador de log: %s"
    IDS_ERR_START_CONF_EDITOR "Erro iniciando o editor de configuração: %s"

    /* OpenVPN */
    IDS_ERR_MANY_CONFIGS "OpenVPN GUI não suporta mais do que %d configurações. Contate o autor se você necessita de mais."
    IDS_NFO_NO_CONFIGS "Nenhum perfil de conexão (arquivo de configuração) foi localizado.\n"\
                       "Use the ""Import File.."" menu or copy your config files to ""%s"" or ""%s""."
    IDS_ERR_ONE_CONN_OLD_VER "Você pode ter apenas uma conexão ativa enquanto estiver usando uma versão anterior a OpenVPN 2.0-beta6."
    IDS_ERR_STOP_SERV_OLD_VER "Você não pode usar o OpenVPN GUI para iniciar uma conexão enquanto o serviço OpenVPN estiver em execução (com OpenVPN 1.5/1.6). Pare o serviço OpenVPN primero se você quiser utilizar o OpenVPN GUI."
    IDS_ERR_CREATE_EVENT "CreateEvent falhou no evento de saída: %s"
    IDS_ERR_UNKNOWN_PRIORITY "Nome de prioridade desconhecida: %s"
    IDS_ERR_LOG_APPEND_BOOL "Parâmetro ""adicionar ao arquivo de log"" (informado como '%s') deve ser '0' ou '1'"
    IDS_ERR_GET_MSIE_PROXY "Impossível carregar configurações de proxy do MSIE."
    IDS_ERR_INIT_SEC_DESC "InitializeSecurityDescriptor falhou."
    IDS_ERR_SET_SEC_DESC_ACL "SetSecurityDescriptorDacl falhou."
    IDS_ERR_CREATE_PIPE_OUTPUT "CreatePipe em hOutputWrite falhou."
    IDS_ERR_CREATE_PIPE_INPUT "CreatePipe em hInputRead falhou."
    IDS_ERR_DUP_HANDLE_OUT_READ "DuplicateHandle em hOutputRead falhou."
    IDS_ERR_DUP_HANDLE_IN_WRITE "DuplicateHandle em hInputWrite falhou."
    IDS_ERR_CREATE_PROCESS "CreateProcess falhou, exe='%s' cmdline='%s' dir='%s'"
    IDS_ERR_CREATE_THREAD_STATUS "CreateThread falhou ao mostrar janela de status."
    IDS_NFO_STATE_WAIT_TERM "Estado atual: Aguardando OpenVPN terminar…"
    IDS_NFO_STATE_CONNECTED "Estado atual: Conectado"
    IDS_NFO_NOW_CONNECTED "%s está conectado."
    IDS_NFO_ASSIGN_IP "IP atribuído: %s"
    IDS_ERR_CERT_EXPIRED "Impossível conectar porque seu certificado expirou ou a data do sistema está incorreta."
    IDS_ERR_CERT_NOT_YET_VALID "Impossível conectar porque seu certificado não é mais válido. Verifique a data/hora de seu sistema."
    IDS_NFO_STATE_RECONNECTING "Estado atual: Reconectando"
    IDS_NFO_STATE_DISCONNECTED "Estado atual: Desconectado"
    IDS_NFO_CONN_TERMINATED "Conexão para %s foi terminada."
    IDS_NFO_STATE_FAILED "Estado atual: Falha ao conectar"
    IDS_NFO_CONN_FAILED "Conectando a %s falhou."
    IDS_NFO_STATE_FAILED_RECONN "Estado atual: Falha ao reconectar"
    IDS_NFO_RECONN_FAILED "Reconexão a %s falhou."
    IDS_NFO_STATE_SUSPENDED "Estado atual: Suspenso"
    IDS_ERR_READ_STDOUT_PIPE "Erro lendo o pipe de stdout do OpenVPN."
    IDS_ERR_CREATE_EDIT_LOGWINDOW "Creating RichEdit LogWindow falhou!!"
    IDS_ERR_SET_SIZE "Set Size falhou!"
    IDS_ERR_AUTOSTART_CONF "Impossível encontrar configurações para autoinício: %s"
    IDS_ERR_CREATE_PIPE_IN_READ "CreatePipe em hInputRead falhou."
    IDS_NFO_STATE_CONNECTING "Estado atual: Conectando"
    IDS_NFO_CONNECTION_XXX "Conexão OpenVPN (%s)"
    IDS_NFO_STATE_CONN_SCRIPT "Estado atual: Rodando script de conexão"
    IDS_NFO_STATE_DISCONN_SCRIPT "Estado atual: Running script de desconexão"
    IDS_ERR_RUN_CONN_SCRIPT "Erro ao executar o script de conexão: %s"
    IDS_ERR_GET_EXIT_CODE "Falha ao obter o código de saída do script de conexão (%s)"
    IDS_ERR_CONN_SCRIPT_FAILED "Script de conexão falhou. (exitcode=%ld)"
    IDS_ERR_RUN_CONN_SCRIPT_TIMEOUT "Script de conexão falhou. Tempo limite depois de %d seg."
    IDS_ERR_CONFIG_EXIST "O arquivo de configuração '%s' já existe. Você não pode " \
                         "ter vários arquivos de configuração com o mesmo nome, mesmo que " \
                         "em pastas diferentes."
    IDS_NFO_CONN_TIMEOUT "A conexão com a interface de gerenciamento falhou.\n" \
                         "Consulte o arquivo de log (%s) para mais detalhes."
    /* main - Resources */
    IDS_ERR_OPEN_DEBUG_FILE "Erro ao abrir arquivo de debug (%s) para saída."
    IDS_ERR_CREATE_PATH "Não foi possível criar o caminho %s:\n%s"
    IDS_ERR_LOAD_RICHED20 "Erro ao carregar RICHED20.DLL."
    IDS_ERR_SHELL_DLL_VERSION "Sua versão do shell32.dll é antiga (0x%lx). Você precisa de no mínimo da versão 5.0."
    IDS_NFO_SERVICE_STARTED "Serviço OpenVPN iniciado."
    IDS_NFO_SERVICE_STOPPED "Serviço OpenVPN parado."
    IDS_NFO_ACTIVE_CONN_EXIT "Ainda existem conexões ativas. Estas conexões serão encerradas se você sair do OpenVPN GUI." \
                             "\n\nVocê tem certeza de que deseja sair?"
    IDS_NFO_SERVICE_ACTIVE_EXIT "Você está conectado atualmente (Serviço OpenVPN está rodando). " \
                                "Você permanecerá conectado mesmo que feche o OpenVPN GUI.\n\n" \
                                "Você deseja continuar e fechar o OpenVPN GUI?"

    /* options - Resources */
    IDS_NFO_USAGE "--help\t\t\t: Mostra esta mensagem.\n" \
                  "--connect cnn \t\t: Conecta a ""cnn"" no início. (extensão deve ser incluída)\n" \
                  "\t\t\t   Exemplo: openvpn-gui --connect escritorio.ovpn\n" \
                  "\n" \
                  "Opções para sobrescrever opções do registro:\n" \
                  "--exe_path\t\t: Caminho para openvpn.exe.\n" \
                  "--config_dir\t\t: Caminho para o diretório dos arquivos de configuração.\n" \
                  "--ext_string\t\t: Extensão dos arquivos de configuração.\n" \
                  "--log_dir\t\t\t: Caminho para o diretório onde os logs serão salvos.\n" \
                  "--priority_string\t\t: String de prioridade (Ver install.txt para mais informações).\n" \
                  "--append_string\t\t: 1=Adicionar ao arquivo de log. 0=Truncar o arquivo de log quando conectando.\n" \
                  "--log_viewer\t\t: Caminho para Visualizador de log.\n" \
                  "--editor\t\t\t: Caminho para config editor.\n" \
                  "--allow_edit\t\t: 1=Mostrar menu para Editor de Configuração.\n" \
                  "--allow_service\t\t: 1=Mostrar menu de controle de serviço.\n" \
                  "--allow_password\t\t: 1=Mostrar menu de troca de senha.\n" \
                  "--allow_proxy\t\t: 1=Mostrar menu de configurações de Proxy.\n" \
                  "--show_balloon\t\t: 0=Nunca, 1=Ao iniciar conexão, 2=Sempre que reconectar.\n" \
                  "--service_only\t\t: 1=Habilitar modo Service Only .\n" \
                  "--silent_connection\t\t: 1=Não mostrar dialogo de status quando estiver conectando.\n" \
                  "--show_script_window\t: 0=Esconder janela de execução de script, 1=Mostrar.\n" \
                  "--passphrase_attempts\t: Número de tentativas de digitação de senha.\n" \
                  "--connectscript_timeout\t: Tempo de espera para o connect script terminar.\n" \
                  "--disconnectscript_timeout\t: Tempo de espera para o disconnect script terminar.\n" \
                  "--preconnectscript_timeout\t: Tempo de espera para o preconnect script terminar.\n"

    IDS_NFO_USAGECAPTION "Uso do OpenVPN GUI"
    IDS_ERR_BAD_PARAMETER "Tentando analisar ""%s"" como um --option parâmetro " \
                          "mas não foi encontrado '--' antes do parâmetro"
    IDS_ERR_BAD_OPTION "Erro: Parâmetro desconhecido ou parâmetro(s) faltando: --%s\n" \
                       "Use openvpn-gui --help para maiores informações."

    /* passphrase - Resources */
    IDS_ERR_CREATE_PASS_THREAD "CreateThread para mostrar ChangePassphrase dialog falhou."
    IDS_NFO_CHANGE_PWD "Alterar senha (%s)"
    IDS_ERR_PWD_DONT_MATCH "As senhas digitadas não conferem. Tente novamente."
    IDS_ERR_PWD_TO_SHORT "A nova senha deve ter no mínimo %d caracteres."
    IDS_NFO_EMPTY_PWD "Você tem certeza de que deseja deixar a senha em branco?"
    IDS_ERR_UNKNOWN_KEYFILE_FORMAT "Formato do keyfile inválido."
    IDS_ERR_OPEN_PRIVATE_KEY_FILE "Erro abrindo arquivo private key (%s)."
    IDS_ERR_OLD_PWD_INCORRECT "A senha antiga está incorreta."
    IDS_ERR_OPEN_WRITE_KEY "Erro abrindo arquivo private key para gravação (%s)."
    IDS_ERR_WRITE_NEW_KEY "Erro gravando novo arquivo private key (%s)."
    IDS_NFO_PWD_CHANGED "Sua senha foi alterada."
    IDS_ERR_READ_PKCS12 "Erro lendo arquivo PKCS #12 (%s)."
    IDS_ERR_CREATE_PKCS12 "Erro criando novo objeto PKCS #12. Troca da senha falhou."
    IDS_ERR_OPEN_CONFIG "Impossível abrir arquivo de configuração para leitura: (%s)"
    IDS_ERR_ONLY_ONE_KEY_OPTION "Você não pode ter mais do que uma opção ""key"" na sua configuração."
    IDS_ERR_ONLY_KEY_OR_PKCS12 "Você não pode ter as duas opções ""key"" e ""pkcs12"" na sua configuração."
    IDS_ERR_ONLY_ONE_PKCS12_OPTION "Você não pode ter mais do que uma opção ""pkcs12"" na sua configuração."
    IDS_ERR_HAVE_KEY_OR_PKCS12 "Seu arquivo de configuração não contém nenhuma opção ""key"" ou ""pkcs12"" ."
    IDS_ERR_KEY_FILENAME_TO_LONG "Seu arquivo key na configuração é muito longo."
    IDS_ERR_PASSPHRASE2STDIN "Erro passando passphrase para stdin."
    IDS_ERR_AUTH_USERNAME2STDIN "Erro passando auth usuário para stdin."
    IDS_ERR_AUTH_PASSWORD2STDIN "Erro passando auth senha para stdin."
    IDS_ERR_CR2STDIN "Erro passando CR para stdin."
    IDS_ERR_INVALID_CHARS_IN_PSW "A nova senha contém caracteres inválidos. " \
                                 "Por favor, escolha outra."

    /* settings */
    IDS_SETTINGS_CAPTION "OpenVPN - Configurações"

    /* proxy */
    IDS_ERR_HTTP_PROXY_ADDRESS "Você precisa especificar o endereço de proxy HTTP."
    IDS_ERR_HTTP_PROXY_PORT "Você precisa especificar a porta para proxy HTTP."
    IDS_ERR_HTTP_PROXY_PORT_RANGE "Você precisa especificar uma porta entre 1-65535 para proxy HTTP"
    IDS_ERR_SOCKS_PROXY_ADDRESS "Você precisa especificar o endereço de proxy SOCKS."
    IDS_ERR_SOCKS_PROXY_PORT "Você precisa especificar a porta para proxy SOCKS."
    IDS_ERR_SOCKS_PROXY_PORT_RANGE "Você precisa especificar uma porta entre 1-65535 para o proxy SOCKS"
    IDS_ERR_CREATE_REG_HKCU_KEY "Erro criando chave ""HKEY_CURRENT_USER\\%s""."
    IDS_ERR_GET_TEMP_PATH "Erro ao determinar TempPath com GetTempPath(). Usando ""C:\\"" no lugar."

    /* service */
    IDS_ERR_OPEN_VPN_SERVICE "Falha ao abrir ""OpenVPNService"""
    IDS_ERR_START_SERVICE "Falha ao iniciar ""OpenVPNService"""
    IDS_ERR_QUERY_SERVICE "Falha ao consultar status do serviço."
    IDS_ERR_SERVICE_START_FAILED "O serviço OpenVPN falhou ao iniciar."
    IDS_ERR_OPEN_SCMGR "OpenSCManager falhou (%d)"
    IDS_ERR_STOP_SERVICE "Falha ao parar o serviço OpenVPN."
    IDS_NFO_RESTARTED "Serviço OpenVPN reiniciado."
    IDS_ERR_ACCESS_SERVICE_PIPE "O acesso ao pipe do serviço falhou."
    IDS_ERR_WRITE_SERVICE_PIPE "Falha ao escrever no pipe do serviço."
    IDS_ERR_INSTALL_ISERVICE     """OpenVPNServiceInteractive"" não está instalado.\n"
                                 "Operações que requeiram acesso de administrador podem não funcionar."
    IDS_ERR_NOTSTARTED_ISERVICE  """OpenVPNServiceInteractive"" não foi iniciado.\n"
                                 "Operações que requeiram acesso de administrador podem não funcionar."

    /* registry */
    IDS_ERR_GET_WINDOWS_DIR "Erro ao localizar o diretório do Windows."
    IDS_ERR_GET_PROFILE_DIR "Erro ao localizar o diretório do perfil do usuário."
    IDS_ERR_GET_PROGRAM_DIR "Erro ao localizar o diretório ""Program""."
    IDS_ERR_OPEN_REGISTRY "Erro abrindo registro para leitura (HKLM\\SOFTWARE\\OpenVPN).\n " \
                          "OpenVPN provavelmente não está instalado"
    IDS_ERR_READING_REGISTRY "Erro lendo valor da chave de registro (HKLM\\SOFTWARE\\OpenVPN)."
    IDS_ERR_PASSPHRASE_ATTEMPTS "Valor de registro ""passphrase_attempts"" deve ser um número entre 1 e 9."
    IDS_ERR_CONN_SCRIPT_TIMEOUT "Valor de registro ""connectscript_timeout"" deve ser um número entre 0 e 99."
    IDS_ERR_DISCONN_SCRIPT_TIMEOUT "Valor de registro ""disconnectscript_timeout"" deve ser um número entre 1 e 99."
    IDS_ERR_PRECONN_SCRIPT_TIMEOUT "Valor de registro ""preconnectscript_timeout"" deve ser um número entre 1 e 99."
    IDS_ERR_CREATE_REG_KEY "Erro criando chave HKLM\\SOFTWARE\\OpenVPN-GUI."
    IDS_ERR_OPEN_WRITE_REG "Erro ao abrir o registro para gravação. Você deve executar esta aplicação " \
                           "uma vez como Administrador para alterar o registro."
    IDS_ERR_READ_SET_KEY "Erro ao ler e ajustar chave de registro ""%s""."
    IDS_ERR_WRITE_REGVALUE "Erro ao gravar valor da chave de registro ""HKEY_CURRENT_USER\\%s\\%s""."

    /* importation */
    IDS_ERR_IMPORT_EXISTS "Já existe uma configuração com o nome ""%s""."
    IDS_ERR_IMPORT_FAILED "Falha ao importar o arquivo. O seguinte caminho não pôde ser criado.\n\n" \
                          "%s\n\nCertifique-se de que você possui as permissões necessárias."
    IDS_NFO_IMPORT_SUCCESS "Arquivo importado com sucesso."
END
