/*
 *  OpenVPN-GUI -- A Windows GUI for OpenVPN.
 *
 *  Copyright (C) 2004 Mathias Sundman <mathias@nilings.se>
 *                2009 Heiko Hund <heikoh@users.sf.net>
 *                2017 JoungKyun Kim <hostmaster@oops.org>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program (see the file COPYING included with this
 *  distribution); if not, write to the Free Software Foundation, Inc.,
 *  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Passphrase Dialog */
ID_DLG_PASSPHRASE DIALOGEX 6, 18, 160, 83
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
CAPTION "OpenVPN - 개인 키 암호"
FONT 9, "맑은 고딕"
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "암호:", 201, 6, 6, 100, 10
    EDITTEXT ID_EDT_PASSPHRASE, 6, 17, 107, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "암호 저장", ID_CHK_SAVE_PASS, 6, 33, 100, 10
    PUSHBUTTON "확인", IDOK, 20, 49, 50, 14
    PUSHBUTTON "취소", IDCANCEL, 90, 49, 50, 14
    LTEXT "", ID_TXT_WARNING, 6, 65, 100, 10
END

/* Auth Username/Password Dialog */
ID_DLG_AUTH DIALOGEX 6, 18, 160, 95
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
FONT 9, "맑은 고딕"
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "사용자:", 0, 6, 9, 30, 10
    LTEXT "암호:", 0, 6, 26, 30, 10
    EDITTEXT ID_EDT_AUTH_USER, 35, 6, 115, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 35, 23, 115, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "암호 저장", ID_CHK_SAVE_PASS, 6, 42, 100, 10
    PUSHBUTTON "확인", IDOK, 25, 58, 50, 14, BS_DEFPUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "취소", IDCANCEL, 85, 58, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 80, 150, 10
END

/* Auth Username/Password/Challenge Dialog */
ID_DLG_AUTH_CHALLENGE DIALOG 6, 18, 160, 129
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - 사용자 인증"
FONT 9, "맑은 고딕"
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "사용자:", 0, 6, 9, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    LTEXT "암호:", 0, 6, 26, 50, 10
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT "요청값:", 0, 6, 60, 50, 10
    LTEXT "", ID_TXT_AUTH_CHALLENGE, 6, 43, 148, 10
    EDITTEXT ID_EDT_AUTH_CHALLENGE, 60, 57, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "암호 저장", ID_CHK_SAVE_PASS, 6, 76, 100, 10
    PUSHBUTTON "확인", IDOK, 25, 92, 50, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "취소", IDCANCEL, 85, 92, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 108, 150, 10
END

/* Challenge Response Dialog */
ID_DLG_CHALLENGE_RESPONSE DIALOG 6, 18, 212, 72
STYLE WS_SIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - 자격증명"
FONT 9, "맑은 고딕"
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "", ID_TXT_DESCRIPTION, 6, 9, 208, 10
    LTEXT "요청값:", 0, 6, 30, 50, 10
    EDITTEXT ID_EDT_RESPONSE, 60, 27, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "확인", IDOK, 25, 58, 50, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "취소", IDCANCEL, 85, 58, 52, 14
END

/* Status Dialog */
ID_DLG_STATUS DIALOG 6, 18, 380, 210
STYLE WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN"
FONT 9, "맑은 고딕"
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "연결중…", ID_TXT_STATUS, 20, 5, 200, 10
    LTEXT "", ID_TXT_BYTECOUNT, 20, 175, 200, 10
    LTEXT "OpenVPN GUI 11.y.0.0/2.4.x", ID_TXT_VERSION, 220, 175, 150, 10
    LTEXT "", ID_TXT_IP, 20, 160, 300, 10
    PUSHBUTTON "연결해제", ID_DISCONNECT, 50, 190, 50, 14
    PUSHBUTTON "재연결", ID_RESTART, 150, 190, 50, 14
    PUSHBUTTON "숨기기", ID_HIDE, 100, 190, 50, 14
END

/* Change Passphrase Dialog */
ID_DLG_CHGPASS DIALOG 6, 18, 193, 82
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "OpenVPN - 개인키 암호 변경"
FONT 9, "맑은 고딕"
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "이전 암호:", 171, 6, 9, 85, 10
    LTEXT "새 암호:", 172, 6, 26, 85, 10
    LTEXT "새 암호(확인):", 173, 6, 42, 85, 10
    EDITTEXT ID_EDT_PASS_CUR, 95, 6, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW, 95, 23, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW2, 95, 39, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "확인", IDOK, 40, 59, 50, 14
    PUSHBUTTON "취소", IDCANCEL, 103, 59, 50, 14
    LTEXT "", ID_TXT_KEYFORMAT, 0, 0, 0, 0
    LTEXT "", ID_TXT_KEYFILE, 0, 0, 0, 0
END

/* Proxy Settings Dialog */
ID_DLG_PROXY DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Proxy"
FONT 9, "맑은 고딕"
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "   ", 201, 6, 46, 235, 52
    AUTORADIOBUTTON "OpenVPN 설정 사용", ID_RB_PROXY_OPENVPN, \
                    13, 16, 200, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "시스템 Proxy 설정 사용", \
                    ID_RB_PROXY_MSIE, 13, 31, 200, 10
    AUTORADIOBUTTON "수동 설정", ID_RB_PROXY_MANUAL, 13, 46, 44, 10
    AUTORADIOBUTTON "HTTP Proxy", ID_RB_PROXY_HTTP, 20, 62, 90, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "SOCKS Proxy", ID_RB_PROXY_SOCKS, 120, 62, 90, 10
    LTEXT "주소:", ID_TXT_PROXY_ADDRESS, 20, 77, 20, 10
    RTEXT "포트:", ID_TXT_PROXY_PORT, 171, 77, 20, 10
    EDITTEXT ID_EDT_PROXY_ADDRESS, 41, 75, 129, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PROXY_PORT, 196, 75, 30, 12, ES_AUTOHSCROLL
END

/* General Settings Dialog */
ID_DLG_GENERAL DIALOGEX 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "일반"
FONT 9, "맑은 고딕"
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "사용자 환경", 201, 6, 12, 235, 30
    LTEXT "언어:", ID_TXT_LANGUAGE, 17, 25, 52, 12
    COMBOBOX ID_CMB_LANGUAGE, 57, 23, 171, 400, CBS_DROPDOWNLIST | WS_TABSTOP

    GROUPBOX "시작 설정", 202, 6, 47, 235, 30
    AUTOCHECKBOX "Windows 시작 시에 실행", ID_CHK_STARTUP, 17, 59, 100, 12

    GROUPBOX "환경 설정", 202, 6, 82, 235, 90
    AUTOCHECKBOX "로그 파일에 추가", ID_CHK_LOG_APPEND, 17, 95, 200, 10
    AUTOCHECKBOX "스크립트 창 보기", ID_CHK_SHOW_SCRIPT_WIN, 17, 110, 200, 10
    AUTOCHECKBOX "연결 시 상태 대화 상자 표시하지 않기", ID_CHK_SILENT, 17, 125, 200, 10
    LTEXT "풍선말 보기", ID_TXT_BALLOON, 17, 140, 100, 10
    AUTORADIOBUTTON "연결 시", ID_RB_BALLOON1, 28, 155, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "연결/재연결 시", ID_RB_BALLOON2, 86, 155, 88, 10
    AUTORADIOBUTTON "표시 안함", ID_RB_BALLOON0, 176, 155, 45, 10
END

/* Advanced Dialog */
ID_DLG_ADVANCED DIALOGEX 6, 18, 252, 218
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "상세"
FONT 9, "맑은 고딕"
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "설정 파일", 201, 6, 12, 235, 45
    LTEXT "폴더:", ID_TXT_FOLDER, 17, 25, 32, 10
    LTEXT "확장자:", ID_TXT_EXTENSION, 17, 40, 52, 10
    EDITTEXT ID_EDT_CONFIG_DIR, 53, 23, 150, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_CONFIG_EXT, 53, 38, 25, 12, ES_AUTOHSCROLL
    PUSHBUTTON "선택", ID_BTN_CONFIG_DIR, 208, 23, 25, 12

    GROUPBOX "로그 파일", 202, 6, 62, 235, 30
    LTEXT "폴더:", ID_TXT_FOLDER, 17, 74, 32, 10
    EDITTEXT ID_EDT_LOG_DIR, 53, 72, 150, 12, ES_AUTOHSCROLL
    PUSHBUTTON "선택", ID_BTN_LOG_DIR, 208, 72, 25, 12

    GROUPBOX "스크립트 실행 제한", 201, 6, 97, 235, 60
    LTEXT "연결 전 스크립트:", ID_TXT_PRECONNECT_TIMEOUT, 17, 110, 100, 10
    LTEXT "연결 스크립트:", ID_TXT_CONNECT_TIMEOUT, 17, 125, 90, 10
    LTEXT "연결 해제 스크립트:", ID_TXT_DISCONNECT_TIMEOUT, 17, 140, 90, 10
    EDITTEXT ID_EDT_PRECONNECT_TIMEOUT, 103, 108, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_CONNECT_TIMEOUT, 103, 123, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_DISCONNECT_TIMEOUT, 103, 138, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
END

/* About Dialog */
ID_DLG_ABOUT DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "정보"
FONT 9, "맑은 고딕"
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
BEGIN
    ICON ID_ICO_APP, 0, 8, 16, 21, 20
    LTEXT "OpenVPN GUI v" PACKAGE_VERSION_RESOURCE_STR " - A Windows GUI for OpenVPN\n" \
          "Copyright (C) 2004-2005 Mathias Sundman <info@openvpn.se>\n" \
          "Copyright (C) 2008-2014 Heiko Hund <heikoh@users.sf.net>\n" \
          "Copyright (C) 2012-" GUI_COPYRIGHT_YEAR_END " OpenVPN GUI contributors\n" \
          "https://github.com/OpenVPN/openvpn-gui/", 0, 36, 15, 206, 42
    LTEXT "OpenVPN - SSL/TLS 기반의 세션 인증, 키 교환, 패킷 암호화, "\
          "패킷 인증 및 패킷 압축을 지원하여 단일 TCP/UDP 포트를 통해 " \
          "IP 네트워크를 안전하게 터널링하는 응용 프로그램 입니다.\n" \
          "\n" \
          "Copyright (C) 2002-" CORE_COPYRIGHT_YEAR_END " OpenVPN Technologies, Inc <info@openvpn.net>\n" \
          "https://openvpn.net/", 0, 8, 61, 240, 64
END

/* Proxy Authentication Dialog */
ID_DLG_PROXY_AUTH DIALOG 29, 23, 154, 65
STYLE DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN - Proxy 인증"
FONT 9, "맑은 고딕"
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
BEGIN
    LTEXT "사용자:", 201, 9, 8, 38, 10
    EDITTEXT ID_EDT_PROXY_USER, 49, 5, 94, 12, ES_AUTOHSCROLL
    LTEXT "암호:", 202, 9, 26, 38, 10
    EDITTEXT ID_EDT_PROXY_PASS, 49, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "확인", IDOK, 58, 43, 40, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
END

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
BEGIN
    IDS_LANGUAGE_NAME "한국어 - Korean"

    /* Tray - Resources */
    IDS_TIP_DEFAULT "OpenVPN GUI "
    IDS_TIP_CONNECTED "\n연결됨: "
    IDS_TIP_CONNECTING "\n연결중: "
    IDS_TIP_CONNECTED_SINCE "\n연결 시간: "
    IDS_TIP_ASSIGNED_IP "\n할당된 IP: %s"
    IDS_MENU_SERVICE "OpenVPN 서비스"
    IDS_MENU_IMPORT "파일 불러오기…"
    IDS_MENU_SETTINGS "설정…"
    IDS_MENU_CLOSE "종료"
    IDS_MENU_CONNECT "연결"
    IDS_MENU_DISCONNECT "연결 해제"
    IDS_MENU_RECONNECT "재연결"
    IDS_MENU_STATUS "상태 보기"
    IDS_MENU_VIEWLOG "로그 보기"
    IDS_MENU_EDITCONFIG "설정 편집"
    IDS_MENU_PASSPHRASE "암호 변경"
    IDS_MENU_CLEARPASS  "저장된 암호 삭제"
    IDS_MENU_SERVICE_START "시작"
    IDS_MENU_SERVICE_STOP "정지"
    IDS_MENU_SERVICE_RESTART "재시작"
    IDS_MENU_SERVICEONLY_START "연결"
    IDS_MENU_SERVICEONLY_STOP "연결 해제"
    IDS_MENU_SERVICEONLY_RESTART "재연결"
    IDS_MENU_ASK_STOP_SERVICE "연결을 해제하겠습니까? (OpenVPN 서비스 중지)"

    /* Logviewer - Resources */
    IDS_ERR_START_LOG_VIEWER "로그 뷰어 시작 실패: %s"
    IDS_ERR_START_CONF_EDITOR "설정 편집기 시작 실패: %s"

    /* OpenVPN */
    IDS_ERR_MANY_CONFIGS "OpenVPN GUI는 %d config 이상의 설정은 지원하지 않습니다. 더이상 설정이 필요한 경우 개발자에게 연락 하십시오."
    IDS_NFO_NO_CONFIGS "설정 파일이 없습니다.\n" \
                       """파일 불러오기.."" 메뉴를 이용하거나 설정 파일을 ""%s"" 또는 ""%s""로 복사 하십시오."
    IDS_ERR_CONFIG_NOT_AUTHORIZED "이 연결(%s)을 시작하기 위하여 ""%s"" 그룹 권한이 필요합니다." \
                                  "시스템 관리자에게 문의 하십시오.\n"
    IDS_ERR_CONFIG_TRY_AUTHORIZE  "이 연결(%s)을 시작하기 위하여 ""%s"" 그룹 권한이 필요합니다.\n\n" \
                                  "자신을 이 그룹에 추가하겠습니까?\n" \
                                  "이 작업은 관리자 암호 또는 동의를 요구할 수 있습니다."
    IDS_NFO_CONFIG_AUTH_PENDING   "이 연결(%s)을 시작하기 위하여 ""%s"" 그룹 권한이 필요합니다.\n\n" \
                                  "이전의 인증 대화 상자를 완료 하십시오."
    IDS_ERR_ADD_USER_TO_ADMIN_GROUP """%s"" group에 사용자 추가를 실패했습니다."
    IDS_ERR_ONE_CONN_OLD_VER "OpenVPN 2.0-beta6 이전 버전에서는 2개 이상의 동시 연결을 지원하지 않습니다."
    IDS_ERR_STOP_SERV_OLD_VER "OpenVPN 1.5/1.6을 사용할 경우, OpenVPN 서비스가 구동되고 있으면 OpenVPN GUI을 이용하여 연결을 할 수 없습니다. OpenVPN GUI를 사용하려면, 먼저 OpenVPN 서비스를 중지 시키십시오."
    IDS_ERR_CREATE_EVENT "CreateEvent failed on exit event: %s"
    IDS_ERR_UNKNOWN_PRIORITY "Unknown priority name: %s"
    IDS_ERR_LOG_APPEND_BOOL "로그 파일의 '%s'로 지정된 추가 플래그는 '0'또는 '1'이어야합니다."
    IDS_ERR_GET_MSIE_PROXY "MSIE 프락시 설정을 가져올 수 없습니다."
    IDS_ERR_INIT_SEC_DESC "InitializeSecurityDescriptor 실패"
    IDS_ERR_SET_SEC_DESC_ACL "SetSecurityDescriptorDacl 실패"
    IDS_ERR_CREATE_PIPE_OUTPUT "CreatePipe on hOutputWrite failed."
    IDS_ERR_CREATE_PIPE_INPUT "CreatePipe on hInputRead failed."
    IDS_ERR_DUP_HANDLE_OUT_READ "DuplicateHandle on hOutputRead failed."
    IDS_ERR_DUP_HANDLE_IN_WRITE "DuplicateHandle on hInputWrite failed."
    IDS_ERR_CREATE_PROCESS "CreateProcess failed, exe='%s' cmdline='%s' dir='%s'"
    IDS_ERR_CREATE_THREAD_STATUS "CreateThread to show Status window Failed."
    IDS_NFO_STATE_WAIT_TERM "현재 상태: OpenVPN 종료 대기 중…"
    IDS_NFO_STATE_CONNECTED "현재 상태: 연결됨"
    IDS_NFO_NOW_CONNECTED "%s 접속이 연결 되었습니다."
    IDS_NFO_ASSIGN_IP "할당된 IP: %s"
    IDS_ERR_CERT_EXPIRED "인증서가 만료 되었거나, 시스템 시간이 잘못 설정 되어 연결할 수 없습니다."
    IDS_ERR_CERT_NOT_YET_VALID "인증서의 유효기간 이전에 연결할 수 없습니다. 시스템 시간이 정확한지 확인해 보십시오."
    IDS_NFO_STATE_RECONNECTING "현재 상태: 재접속 중"
    IDS_NFO_STATE_DISCONNECTED "현재 상태: 연결 해제"
    IDS_NFO_CONN_TERMINATED "%s 연결이 종료 되었습니다."
    IDS_NFO_STATE_FAILED "현재 상태: 접속 실패"
    IDS_NFO_CONN_FAILED "%s 접속에 실패했습니다."
    IDS_NFO_STATE_FAILED_RECONN "현재 상태: 재접속 실패"
    IDS_NFO_RECONN_FAILED "%s 재접속에 실패했습니다."
    IDS_NFO_STATE_SUSPENDED "현재 상태: 대기 중"
    IDS_ERR_READ_STDOUT_PIPE "OpenVPN 표준 출력 파이프를 읽는 중 오류가 발생했습니다."
    IDS_ERR_CREATE_EDIT_LOGWINDOW "Creating RichEdit LogWindow Failed!!"
    IDS_ERR_SET_SIZE "Set Size failed!"
    IDS_ERR_AUTOSTART_CONF "요청된 자동 시작 설정을 찾을 수 없습니다: %s"
    IDS_ERR_CREATE_PIPE_IN_READ "CreatePipe on hInputRead failed."
    IDS_NFO_STATE_CONNECTING "현재 상태: 접속 중"
    IDS_NFO_CONNECTION_XXX "OpenVPN 접속 (%s)"
    IDS_NFO_STATE_CONN_SCRIPT "현재 상태: 연결 스크립트 실행 중"
    IDS_NFO_STATE_DISCONN_SCRIPT "현재 상태: 연결 해제 스크립트 실행 중"
    IDS_ERR_RUN_CONN_SCRIPT "연결 실행 스크립트 수행 중 오류: %s"
    IDS_ERR_GET_EXIT_CODE "연결 스크립트(%s)의 종료코드를 받아오지 못함"
    IDS_ERR_CONN_SCRIPT_FAILED "연결 스크립트 실패. (종료코드=%ld)"
    IDS_ERR_RUN_CONN_SCRIPT_TIMEOUT "연결 스크립트 실패. %d초 경과 되었습니다."
    IDS_ERR_CONFIG_EXIST "'%s' 설정 파일이 이미 존재 합니다. 비록 경로가 다르더라도 " \
                         "동일한 설정 파일 이름은 사용할 수 없습니다."
    IDS_NFO_CONN_TIMEOUT "관리 인터페이스 연결에 실패했습니다.\n" \
                         "자세한 사항은 로그파일(%s)을 참조 하십시오."
    /* main - Resources */
    IDS_ERR_OPEN_DEBUG_FILE "디버그 파일(%s)을 출력할 수 없습니다."
    IDS_ERR_CREATE_PATH "%s 생성 실패:\n%s"
    IDS_ERR_LOAD_RICHED20 "RICHED20.DLL 로드를 실패 했습니다."
    IDS_ERR_SHELL_DLL_VERSION "shell32.dll version이 오래되었습니다(0x%lx). 5.0 이상이 필요 합니다."
    IDS_NFO_SERVICE_STARTED "OpenVPN Service가 시작 되었습니다."
    IDS_NFO_SERVICE_STOPPED "OpenVPN Service가 중지 되었습니다."
    IDS_NFO_ACTIVE_CONN_EXIT "OpenVPN GUI을 종료하면 현재 연결되어 있는 접속이 중단 됩니다." \
                             "\n\n그래도 종료 하겠습니까?"
    IDS_NFO_SERVICE_ACTIVE_EXIT "현재 접속 중 입니다. (OpenVPN Service가 실행 중 입니다.) " \
                                "OpenVPN GUI를 종료 하더라도, 접속은 중단되지 않습니다.\n\n" \
                                "OpenVPN GUI를 이대로 종료 하겠습니까?"

    /* options - Resources */
    IDS_NFO_USAGE "--help\t\t\t: 이 메시지 보기.\n" \
                  "--connect cnn \t\t: 시작 시에 ""cnn""에 연결. (확장자를 포함해야 함)\n" \
                  "\t\t\t   예: openvpn-gui --connect office.ovpn\n" \
                  "--command cmd [args]\t: 실행중인 GUI 인스턴스에 명령 보내기\n" \
                  "지원되는 명령:\n"\
                  "    connect cnn            \t: ""cnn"" 설정으로 연결\n"\
                  "    disconnect cnn         \t: ""cnn"" 설정 연결 해제\n"\
                  "    reconnect cnn          \t: ""cnn"" 설정 재연결\n"\
                  "    disconnect_all         \t: 연결된 모든 설정을 해제\n"\
                  "    exit                 \t\t: 실행중인 GUI 인스턴스 종료 (확인을 물어봄)\n"\
                  "    status cnn           \t\t: 연결 되어 있는 ""cnn"" 설정의 상태를 표시\n"\
                  "    silent_connection [0|1]\t: silent_connection 플래그를 on(1) 또는 off(0)로 설정\n"\
                  "\t\t\t예제: openvpn-gui.exe --command disconnect myconfig\n"\
                  "\n" \
                  "각 옵션은 레지스트리 설정보다 우선 합니다:\n" \
                  "--exe_path\t\t: openvpn.exe 경로.\n" \
                  "--config_dir\t\t: 설정 파일을 찾을 디렉토리 경로\n" \
                  "--ext_string\t\t: 설정 파일 확장자\n" \
                  "--log_dir\t\t\t: 로그 파일 저장 경로\n" \
                  "--priority_string\t\t: 우선 순위 (자세한 내용은 install.txt 참조)\n" \
                  "--append_string\t\t: 1=로그 파일에 추가. 0=연결할 떄 마다 재작성.\n" \
                  "--log_viewer\t\t: 로그 뷰어 경로\n" \
                  "--editor\t\t\t: 설정 편집기 경로\n" \
                  "--allow_edit\t\t: 1=설정 편집 메뉴 표시\n" \
                  "--allow_service\t\t: 1=서비스 메뉴 표시\n" \
                  "--allow_password\t\t: 1=암호 변경 메뉴 표시\n" \
                  "--allow_proxy\t\t: 1=프락시 설정 메뉴 표시\n" \
                  "--show_balloon\t\t: 0=표시 안함, 1=접속 시, 2=모든 접속/재접속 시.\n" \
                  "--service_only\t\t: 1=서비스 전용 모드를 사용\n" \
                  "--silent_connection\t\t: 1=연결시 상태 표시 대화 상자를 표시하지 않습니다.\n" \
                  "--show_script_window\t: 0=스크립트 실행창 숨김, 1=보기.\n" \
                  "--passphrase_attempts\t: 암호 입력 시도 회수\n" \
                  "--connectscript_timeout\t: 연결 스크립트 종료 대기 시간\n" \
                  "--disconnectscript_timeout\t: 연결 해제 스크립트 종료 대기 시간\n" \
                  "--preconnectscript_timeout\t: 연결 전 스크립트 종료 대기 시간\n"

    IDS_NFO_USAGECAPTION "OpenVPN GUI 사용법"
    IDS_ERR_BAD_PARAMETER "I'm trying to parse ""%s"" as an --option parameter " \
                      "but I don't see a leading '--'"
    IDS_ERR_BAD_OPTION "옵션 오류: 잘못된 옵션 또는 옵션값 누락: --%s\n" \
                   "자세한 사항은 openvpn-gui --help 명령을 참조 하십시오."

    /* passphrase - Resources */
    IDS_ERR_CREATE_PASS_THREAD "CreateThread to show ChangePassphrase dialog failed."
    IDS_NFO_CHANGE_PWD "(%s) 개인키 암호 변경"
    IDS_ERR_PWD_DONT_MATCH "입력한 암호가 일치하지 않습니다. 다시 입력 하십시오."
    IDS_ERR_PWD_TO_SHORT "새 암호는 %d글자 보다 길어야 합니다."
    IDS_NFO_EMPTY_PWD "암호가 없는 상태로 설정하겠습니까?"
    IDS_ERR_UNKNOWN_KEYFILE_FORMAT "keyfile 형식을 알 수 없습니다."
    IDS_ERR_OPEN_PRIVATE_KEY_FILE "개인키 파일(%s)을 열 수 없습니다."
    IDS_ERR_OLD_PWD_INCORRECT "이전 암호가 맞지 않습니다."
    IDS_ERR_OPEN_WRITE_KEY "개인키 파일(%s)을 저장 할 수 없습니다."
    IDS_ERR_WRITE_NEW_KEY "새 개인키 파일(%s)를 저장 할 수 없습니다."
    IDS_NFO_PWD_CHANGED "암호가 변경 되었습니다."
    IDS_ERR_READ_PKCS12 "PKCS #12 파일(%s)을 읽을 수 없습니다."
    IDS_ERR_CREATE_PKCS12 "새로운 PKCS #12 개체를 생성할 수 없어, 암호 변경을 할 수 없습니다."
    IDS_ERR_OPEN_CONFIG "설정 파일 읽기 오류: (%s)"
    IDS_ERR_ONLY_ONE_KEY_OPTION "설정 파일에 ""key"" 옵션을 중복 지정 할 수 없습니다."
    IDS_ERR_ONLY_KEY_OR_PKCS12 "설정파일에 ""key""와 ""pkcs12"" 옵션을 동시에 지정 할 수 없습니다."
    IDS_ERR_ONLY_ONE_PKCS12_OPTION "설정 파일에 ""pkcs12"" 옵션을 중복 지정 할 수 없습니다."
    IDS_ERR_HAVE_KEY_OR_PKCS12 "설정 파일에 ""key"" 또는 ""pkcs12"" 옵션 중 하나는 반드시 설정 되어야 합니다."
    IDS_ERR_KEY_FILENAME_TO_LONG "설정 파일의 키 파일 이름이 너무 깁니다!"
    IDS_ERR_PASSPHRASE2STDIN "패스어구를 표준 입력으로 보낼 수 없습니다."
    IDS_ERR_AUTH_USERNAME2STDIN "사용자 이름을 표준 입력으로 보낼 수 없습니다."
    IDS_ERR_AUTH_PASSWORD2STDIN "암호를 표준 입력으로 보낼 수 없습니다."
    IDS_ERR_CR2STDIN "CR을 표준 입력으로 보낼 수 없습니다."
    IDS_ERR_INVALID_CHARS_IN_PSW "새 암호에 사용 할 수 없는 문자가 포함 되었습니다. " \
                             "다른 문자를 사용 하십시오."

    /* settings */
    IDS_SETTINGS_CAPTION "OpenVPN - 설정"

    /* proxy */
    IDS_ERR_HTTP_PROXY_ADDRESS "HTTP proxy 주소를 설정이 필요 합니다."
    IDS_ERR_HTTP_PROXY_PORT "HTTP proxy 포트 설정이 필요 합니다."
    IDS_ERR_HTTP_PROXY_PORT_RANGE "HTTP proxy 포트는 1-65535 범위로 해야 합니다."
    IDS_ERR_SOCKS_PROXY_ADDRESS "SOCKS proxy 주소 설정이 필요 합니다."
    IDS_ERR_SOCKS_PROXY_PORT "SOCKS proxy 포트 설정이 필요 합니다."
    IDS_ERR_SOCKS_PROXY_PORT_RANGE "SOCKS proxy 포트는 1-65535 범위로 해야 합니다."
    IDS_ERR_CREATE_REG_HKCU_KEY """HKEY_CURRENT_USER\\%s"" key를 생성하지 못했습니다."
    IDS_ERR_GET_TEMP_PATH "GenTempPath()로 TempPath를 결정하는 중 오류가 발생헀습니다. ""C:\\""를 대신 사용합니다."

    /* service */
    IDS_ERR_OPEN_VPN_SERVICE """OpenVPNService"" 열기를 실패 했습니다."
    IDS_ERR_START_SERVICE """OpenVPNService"" 시작을 실패 했습니다."
    IDS_ERR_QUERY_SERVICE "서비스 상태 질의를 실패 했습니다."
    IDS_ERR_SERVICE_START_FAILED "OpenVPN Service 시작을 할 수 없습니다."
    IDS_ERR_OPEN_SCMGR "OpenSCManager 오류 (%d)"
    IDS_ERR_STOP_SERVICE "OpenVPN Service를 중지할 수 없습니다."
    IDS_NFO_RESTARTED "OpenVPN Service를 재시작 했습니다."
    IDS_ERR_ACCESS_SERVICE_PIPE "Access to service pipe failed."
    IDS_ERR_WRITE_SERVICE_PIPE "Writing to service pipe failed."
    IDS_ERR_INSTALL_ISERVICE     """OpenVPNServiceInteractive"" is not installed.\n"
                                 "Tasks requiring administrative access may not work."
    IDS_ERR_NOTSTARTED_ISERVICE  """OpenVPNServiceInteractive"" is not started.\n"
                                 "Tasks requiring administrative access may not work."

    /* registry */
    IDS_ERR_GET_WINDOWS_DIR "Windows 디렉토리 경로를 알 수 없습니다."
    IDS_ERR_GET_PROFILE_DIR "사용자 프로파일 디렉토리를 알 수 없습니다."
    IDS_ERR_GET_PROGRAM_DIR """Program"" 폴더 이름을 알 수 없습니다."
    IDS_ERR_OPEN_REGISTRY "레지스트리 (HKLM\\SOFTWARE\\OpenVPN)의 값을 읽을 수 없습니다.\n " \
                      "OpenVPN이 설치 되어 있지 않은 것 같습니다."
    IDS_ERR_READING_REGISTRY "레지스트리(HKLM\\SOFTWARE\\OpenVPN) 값을 읽을 수 없습니다.."
    IDS_ERR_PASSPHRASE_ATTEMPTS "레지스트리 ""passphrase_attempts"" 값은 1부터 9 사이여야 합니다."
    IDS_ERR_CONN_SCRIPT_TIMEOUT "레지스트리 ""connectscript_timeout"" 값은 0부터 99 사이어야 합니다."
    IDS_ERR_DISCONN_SCRIPT_TIMEOUT "레지스트리 ""disconnectscript_timeout"" 값은 1부터 99 사이어야 합니다."
    IDS_ERR_PRECONN_SCRIPT_TIMEOUT "레지스트리 ""preconnectscript_timeout"" 값은 1부터 99 사이어야 합니다."
    IDS_ERR_CREATE_REG_KEY "HKLM\\SOFTWARE\\OpenVPN-GUI 키를 만들 수 없습니다.."
    IDS_ERR_OPEN_WRITE_REG "레지스트리에 기록할 수 없습니다. 레지스트리를 업데이트 하려면 " \
                       "Administrator 권한으로 이 프로그램을 실행해야 합니다."
    IDS_ERR_READ_SET_KEY "레지스트리 ""%s""키 읽기/쓰기를 할 수 없습니다."
    IDS_ERR_WRITE_REGVALUE "레지스트리 ""HKEY_CURRENT_USER\\%s\\%s"" 값을 기록할 수 없습니다."

    /* importation */
    IDS_ERR_IMPORT_EXISTS """%s"" 설정 파일은 이미 존재 합니다."
    IDS_ERR_IMPORT_FAILED "파일 불러오기 실패. 다음 경로를 생성할 수 없습니다.\n\n" \
                          "%s\n\n올바른 권한을 가지고 있는지 확인 해 보십시오."
    IDS_NFO_IMPORT_SUCCESS "파일 불러오기 성공."

    /* save/delete password */
    IDS_NFO_DELETE_PASS """%s"" 설정의 저장된 암호를 삭제 하려면 확인을 누르십시오."

    /* Token password related */
    IDS_NFO_TOKEN_PASSWORD_CAPTION "OpenVPN - 토큰 암호"
    IDS_NFO_TOKEN_PASSWORD_REQUEST "'%S' 토큰에 대한 암호/핀을 입력 하십시오."

    IDS_NFO_AUTH_PASS_RETRY "사용자 또는 암호 오류. 재시도 하십시오."
    IDS_NFO_KEY_PASS_RETRY  "암호 오류. 재입력 하십시오."
    IDS_ERR_INVALID_PASSWORD_INPUT "암호에 잘못된 문자가 있습니다."
    IDS_ERR_INVALID_USERNAME_INPUT "사용자 이름에 잘못된 문자가 있습니다."
    IDS_NFO_AUTO_CONNECT    "%u초 후 자동으로 연결..."
    IDS_NFO_CLICK_HERE_TO_START "OpenVPN GUI 가 이미 실행 중입니다. 시작하려면 작업 표시줄의 아이콘을 마우스 우클릭 하십시오."
    IDS_NFO_BYTECOUNT "수신 바이트: %s  전송 바이트: %s"
END
