/*
 *  OpenVPN-GUI -- A Windows GUI for OpenVPN.
 *
 *  Copyright (C) 2004 Mathias Sundman <mathias@nilings.se>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program (see the file COPYING included with this
 *  distribution); if not, write to the Free Software Foundation, Inc.,
 *  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Passphrase Dialog */
ID_DLG_PASSPHRASE DIALOGEX 6, 18, 160, 83
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Ange Lösenord:", 201, 6, 6, 100, 10
    EDITTEXT ID_EDT_PASSPHRASE, 6, 17, 107, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Save password", ID_CHK_SAVE_PASS, 6, 33, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 49, 50, 14
    PUSHBUTTON "Avbryt", IDCANCEL, 90, 49, 50, 14
    LTEXT "", ID_TXT_WARNING, 6, 65, 100, 10
END

/* Auth Username/Password Dialog */
ID_DLG_AUTH DIALOGEX 6, 18, 160, 95
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Användarnamn:", ID_LTEXT_USERNAME, 6, 9, 50, 10
    LTEXT "Lösenord:", ID_LTEXT_PASSWORD, 6, 26, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Save password", ID_CHK_SAVE_PASS, 6, 42, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 58, 50, 14, BS_DEFPUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "Avbryt", IDCANCEL, 90, 58, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 80, 150, 10
END

/* Auth Username/Password/Challenge Dialog */
ID_DLG_AUTH_CHALLENGE DIALOG 6, 18, 160, 129
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - User Authentication"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Användarnamn:", ID_LTEXT_USERNAME, 6, 9, 50, 10
    LTEXT "Lösenord:", ID_LTEXT_PASSWORD, 6, 26, 50, 10
    LTEXT "Response:", ID_LTEXT_RESPONSE, 6, 60, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT "", ID_TXT_AUTH_CHALLENGE, 6, 43, 148, 10
    EDITTEXT ID_EDT_AUTH_CHALLENGE, 60, 57, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Save password", ID_CHK_SAVE_PASS, 6, 76, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 92, 50, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "Avbryt", IDCANCEL, 90, 92, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 108, 150, 10
END

/* Challenge Response Dialog */
ID_DLG_CHALLENGE_RESPONSE DIALOG 6, 18, 212, 72
STYLE WS_SIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - Challenge Response"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "", ID_TXT_DESCRIPTION, 6, 9, 208, 10
    LTEXT "Response:", ID_LTEXT_RESPONSE, 6, 30, 50, 10
    EDITTEXT ID_EDT_RESPONSE, 60, 27, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 20, 51, 50, 14, BS_PUSHBUTTON | WS_TABSTOP
    PUSHBUTTON "Avbryt", IDCANCEL, 90, 51, 52, 14
END

/* Status Dialog */
ID_DLG_STATUS DIALOG 6, 18, 380, 210
STYLE WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Ansluter…", ID_TXT_STATUS, 20, 5, 200, 10
    LTEXT "", ID_TXT_BYTECOUNT, 20, 175, 200, 10
    LTEXT "OpenVPN GUI 11.y.0.0/2.4.x", ID_TXT_VERSION, 220, 175, 150, 10
    LTEXT "", ID_TXT_IP, 20, 160, 300, 10
    PUSHBUTTON "Koppla ner", ID_DISCONNECT, 50, 190, 50, 14
    PUSHBUTTON "Återanslut", ID_RESTART, 150, 190, 40, 14
    PUSHBUTTON "Göm", ID_HIDE, 100, 190, 40, 14
END

/* Change Passphrase Dialog */
ID_DLG_CHGPASS DIALOG 6, 18, 193, 82
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "OpenVPN - Ändra Lösenord"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Nuvarande Lösenord:", 171, 6, 9, 85, 10
    LTEXT "Nytt Lösenord:", 172, 6, 26, 85, 10
    LTEXT "Bekräfta Nytt Lösenord:", 173, 6, 42, 85, 10
    EDITTEXT ID_EDT_PASS_CUR, 95, 6, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW, 95, 23, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW2, 95, 39, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 40, 59, 50, 14
    PUSHBUTTON "Avbryt", IDCANCEL, 103, 59, 50, 14
    LTEXT "", ID_TXT_KEYFORMAT, 0, 0, 0, 0
    LTEXT "", ID_TXT_KEYFILE, 0, 0, 0, 0
END

/* Proxy Settings Dialog */
ID_DLG_PROXY DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Proxy"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "   ", 201, 6, 46, 235, 52
    AUTORADIOBUTTON "Använd inställningar från OpenVPNs konfigurations fil", ID_RB_PROXY_OPENVPN,
                    13, 16, 200, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Använd systemets proxyinställningar",
                    ID_RB_PROXY_MSIE, 13, 31, 200, 10
    AUTORADIOBUTTON "Manuell Konfigurering", ID_RB_PROXY_MANUAL, 13, 46, 81, 10
    AUTORADIOBUTTON "HTTP Proxy", ID_RB_PROXY_HTTP, 20, 62, 90, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "SOCKS Proxy", ID_RB_PROXY_SOCKS, 120, 62, 90, 10
    LTEXT "Adress:", ID_TXT_PROXY_ADDRESS, 20, 77, 28, 10
    RTEXT "Port:", ID_TXT_PROXY_PORT, 171, 77, 20, 10
    EDITTEXT ID_EDT_PROXY_ADDRESS, 49, 75, 121, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PROXY_PORT, 196, 75, 30, 12, ES_AUTOHSCROLL
END

/* General Settings Dialog */
ID_DLG_GENERAL DIALOGEX 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Allmänt"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "Användargränssnitt", 201, 6, 12, 235, 30
    LTEXT "Språk:", ID_TXT_LANGUAGE, 17, 25, 52, 12
    COMBOBOX ID_CMB_LANGUAGE, 42, 23, 186, 400, CBS_DROPDOWNLIST | WS_TABSTOP
    GROUPBOX "Startup", 202, 6, 47, 235, 30
    AUTOCHECKBOX "Launch on Windows startup", ID_CHK_STARTUP, 17, 59, 200, 12

    GROUPBOX "Preferences", ID_GROUPBOX3, 6, 82, 235, 105
    AUTOCHECKBOX "Append to log", ID_CHK_LOG_APPEND, 17, 95, 60, 10
    AUTOCHECKBOX "Show script window", ID_CHK_SHOW_SCRIPT_WIN, 17, 110, 200, 10
    AUTOCHECKBOX "Silent connection", ID_CHK_SILENT, 17, 125, 200, 10
    AUTOCHECKBOX "Always use interactive service", ID_CHK_ALWAYS_USE_ISERVICE, 17, 140, 200, 10
    LTEXT "Show Balloon", ID_TXT_BALLOON, 17, 155, 100, 10
    AUTORADIOBUTTON "On connect", ID_RB_BALLOON1, 28, 170, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "On connect/reconnect", ID_RB_BALLOON2, 86, 170, 90, 10
    AUTORADIOBUTTON "Never", ID_RB_BALLOON0, 181, 170, 40, 10
END

/* Advanced Dialog */
ID_DLG_ADVANCED DIALOGEX 6, 18, 252, 280
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Advanced"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "Configuration Files", 201, 6, 12, 235, 45
    LTEXT "Folder:", ID_TXT_FOLDER, 17, 25, 32, 10
    LTEXT "Extension:", ID_TXT_EXTENSION, 17, 40, 52, 10
    EDITTEXT ID_EDT_CONFIG_DIR, 53, 23, 150, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_CONFIG_EXT, 53, 38, 25, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_CONFIG_DIR, 208, 23, 25, 12

    GROUPBOX "Log Files", 202, 6, 62, 235, 30
    LTEXT "Folder:", ID_TXT_FOLDER1, 17, 74, 32, 10
    EDITTEXT ID_EDT_LOG_DIR, 53, 72, 150, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_LOG_DIR, 208, 72, 25, 12

    GROUPBOX "Script Timeout", 203, 6, 97, 235, 60
    LTEXT "Preconnect script timeout:", ID_TXT_PRECONNECT_TIMEOUT, 17, 110, 100, 10
    LTEXT "Connect script timeout:", ID_TXT_CONNECT_TIMEOUT, 17, 125, 90, 10
    LTEXT "Disconnect script timeout:", ID_TXT_DISCONNECT_TIMEOUT, 17, 140, 90, 10
    EDITTEXT ID_EDT_PRECONNECT_TIMEOUT, 103, 108, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_CONNECT_TIMEOUT, 103, 123, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_DISCONNECT_TIMEOUT, 103, 138, 20, 12, ES_AUTOHSCROLL|ES_NUMBER

    GROUPBOX "Management interface", 204, 6, 163, 235, 30
    LTEXT "Port offset:", 205, 17, 175, 75, 10
    EDITTEXT ID_EDT_MGMT_PORT, 103, 173, 30, 12, ES_AUTOHSCROLL

    GROUPBOX "Config menu view", 206, 6, 198, 235, 30
    AUTORADIOBUTTON "&Auto", ID_RB_BALLOON0, 28, 210, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "&Flat", ID_RB_BALLOON1, 88, 210, 50, 10
    AUTORADIOBUTTON "&Nested", ID_RB_BALLOON2, 148, 210, 50, 10

    GROUPBOX "Echo message display", 207, 6, 233, 235, 45
    AUTORADIOBUTTON "A&uto", ID_RB_BALLOON3, 28, 245, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Ne&ver", ID_RB_BALLOON4, 88, 245, 50, 10
    LTEXT "Repeated messages are muted for: ", 208, 17, 260, 125, 10
    EDITTEXT ID_EDT_POPUP_MUTE, 150, 258, 30, 12, ES_AUTOHSCROLL
    LTEXT "hours", 209, 190, 260, 40, 10

END

/* About Dialog */
ID_DLG_ABOUT DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Om"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
BEGIN
    ICON ID_ICO_APP, ID_ICON_ABOUT, 8, 16, 21, 20
    LTEXT "OpenVPN GUI v%s - Ett Windows GUI för OpenVPN\n\
Copyright (C) 2004-2005 Mathias Sundman <info@openvpn.se>\n\
Copyright (C) 2008-2014 Heiko Hund <heikoh@users.sf.net>\n\
Copyright (C) 2012-2021 OpenVPN GUI contributors\n", ID_TXT_VERSION, 36, 15, 206, 50
    LTEXT "https://github.com/OpenVPN/openvpn-gui/", ID_LTEXT_ABOUT2, 36, 55, 206, 42
    LTEXT "OpenVPN - En applikation för säker överföring av IP nät \
över en enda TCP/UDP port, med support för SSL/TLS-baserad \
session autentisering och nyckel hantering, paket \
kryptering, paket autentisering, and paket komprimering.\n\
\n", ID_LTEXT_ABOUT3, 8, 70, 240, 64
    LTEXT "Copyright (C) 2002-2021 OpenVPN Technologies, Inc <info@openvpn.net>\n\
https://openvpn.net/", ID_LTEXT_ABOUT4, 8, 106, 240, 64
END

/* Proxy Authentication Dialog */
ID_DLG_PROXY_AUTH DIALOG 29, 23, 170, 65
STYLE DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN - Proxy Autentisering"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Användarnamn:", 201, 9, 8, 55, 10
    EDITTEXT ID_EDT_PROXY_USER, 65, 5, 94, 12, ES_AUTOHSCROLL
    LTEXT "Lösenord:", 202, 9, 26, 55, 10
    EDITTEXT ID_EDT_PROXY_PASS, 65, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 60, 43, 50, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
END

STRINGTABLE
LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT
BEGIN
    IDS_LANGUAGE_NAME "Svenska - Swedish"

    /* Tray - Resources */
    IDS_TIP_DEFAULT "OpenVPN GUI"
    IDS_TIP_CONNECTED "\nAnsluten till: "
    IDS_TIP_CONNECTING "\nAnsluter till: "
    IDS_TIP_CONNECTED_SINCE "\nAnsluten sedan: "
    IDS_TIP_ASSIGNED_IP "\nTilldelad IP: %s"
    IDS_MENU_SERVICE "OpenVPN Service"
    IDS_MENU_IMPORT "Import file…"
    IDS_MENU_SETTINGS "Inställningar…"
    IDS_MENU_CLOSE "Avsluta"
    IDS_MENU_CONNECT "Anslut"
    IDS_MENU_DISCONNECT "Koppla ner"
    IDS_MENU_RECONNECT "Reconnect"
    IDS_MENU_STATUS "Visa Status"
    IDS_MENU_VIEWLOG "Visa Logg"
    IDS_MENU_EDITCONFIG "Editera konfig"
    IDS_MENU_PASSPHRASE "Ändra Lösenord"
    IDS_MENU_CLEARPASS  "Clear Saved Passwords"
    IDS_MENU_SERVICE_START "Starta"
    IDS_MENU_SERVICE_STOP "Stoppa"
    IDS_MENU_SERVICE_RESTART "Starta om"
    IDS_MENU_SERVICEONLY_START "Anslut"
    IDS_MENU_SERVICEONLY_STOP "Koppla ner"
    IDS_MENU_SERVICEONLY_RESTART "Återanslut"
    IDS_MENU_ASK_STOP_SERVICE "Vill du koppla ner? (Stoppa OpenVPN tjänsten)?"

    /* Logviewer - Resources */
    IDS_ERR_START_LOG_VIEWER "Fel vid start av logg viewer: %s"
    IDS_ERR_START_CONF_EDITOR "Fel vid start av konfig editor: %s"

    /* OpenVPN */
    IDS_ERR_MANY_CONFIGS "Du kan inte ha fler än %d konfig-filer. Kontakta utvecklaren av OpenVPN GUI om du har behov av att hantera fler."
    IDS_NFO_NO_CONFIGS "No readable connection profiles (config files) found.\n\
Use the ""Import File.."" menu or copy your config files to ""%s"" or ""%s""."
    IDS_ERR_CONFIG_NOT_AUTHORIZED "Starting this connection (%s) requires membership in \
""%s"" group. Contact your system administrator.\n"
    IDS_ERR_CONFIG_TRY_AUTHORIZE  "Starting this connection (%s) requires membership in \
""%s"" group.\n\n\
Do you want to add yourself to this group?\n\
This action may prompt for administrative password or consent."
    IDS_NFO_CONFIG_AUTH_PENDING   "Starting this connection (%s) requires membership in \
""%s"" group.\n\n\
Please complete the previous authorization dialog."
    IDS_ERR_ADD_USER_TO_ADMIN_GROUP "Adding the user to ""%s"" group failed."
    IDS_ERR_ONE_CONN_OLD_VER "Du kan bara ha en uppkoppling igång samtidigt med äldre versioner av OpenVPN än 2.0-beta6."
    IDS_ERR_STOP_SERV_OLD_VER "Du kan inte ansluta med OpenVPN GUI medan OpenVPN Service är igång. (med OpenVPN 1.5/1.6). Stoppa tjänsten först om du vill använda OpenVPN GUI."
    IDS_ERR_CREATE_EVENT "CreateEvent misslyckades med att skapa event: %s"
    IDS_ERR_UNKNOWN_PRIORITY "Okänt prioritets namn: %s"
    IDS_ERR_LOG_APPEND_BOOL "Log file append flag (given as '%s') must be '0' or '1'"
    IDS_ERR_GET_MSIE_PROXY "Kunde inte hämta inställning för HTTP Proxy från Internet Explorer."
    IDS_ERR_INIT_SEC_DESC "InitializeSecurityDescriptor misslyckades."
    IDS_ERR_SET_SEC_DESC_ACL "SetSecurityDescriptorDacl misslyckades."
    IDS_ERR_CREATE_PIPE_OUTPUT "CreatePipe på hOutputWrite misslyckades."
    IDS_ERR_CREATE_PIPE_INPUT "CreatePipe på hInputRead misslyckades."
    IDS_ERR_DUP_HANDLE_OUT_READ "DuplicateHandle på hOutputRead misslyckades."
    IDS_ERR_DUP_HANDLE_IN_WRITE "DuplicateHandle på hInputWrite misslyckades."
    IDS_ERR_CREATE_PROCESS "CreateProcess misslyckades, exe='%s' cmdline='%s' dir='%s'"
    IDS_ERR_CREATE_THREAD_STATUS "CreateThread för att visa status fönstret misslyckades."
    IDS_NFO_STATE_WAIT_TERM "Status: Väntar på att OpenVPN skall avslutas…"
    IDS_NFO_STATE_CONNECTED "Status: Ansluten"
    IDS_NFO_NOW_CONNECTED "%s är nu ansluten."
    IDS_NFO_ASSIGN_IP "Tilldelad IP: %s"
    IDS_ERR_CERT_EXPIRED "Kunde inte ansluta för att ditt certifikat är för gammalt, eller för att klockan i din dator går fel."
    IDS_ERR_CERT_NOT_YET_VALID "Kunde inte ansluta för att ditt certifikat ännu inte börjat gälla, eller för att klockan i din dator går fel."
    IDS_NFO_STATE_RECONNECTING "Status: ÅterAnsluter"
    IDS_NFO_STATE_DISCONNECTED "Status: Frånkopplad"
    IDS_NFO_CONN_TERMINATED "Du har kopplats ner från %s."
    IDS_NFO_STATE_FAILED "Status: Anslutningen misslyckades"
    IDS_NFO_CONN_FAILED "Anslutningen till %s misslyckades."
    IDS_NFO_STATE_FAILED_RECONN "Status: Misslyckades att återansluta"
    IDS_NFO_RECONN_FAILED "Återanslutning till %s misslyckades."
    IDS_NFO_STATE_SUSPENDED "Status: Viloläge"
    IDS_ERR_READ_STDOUT_PIPE "Fel vid läsning från OpenVPN StdOut pipe."
    IDS_ERR_CREATE_EDIT_LOGWINDOW "Skapande av RichEdit LogWindow misslyckades!!"
    IDS_ERR_SET_SIZE "Set Size misslyckades!"
    IDS_ERR_AUTOSTART_CONF "Följande konfig gick inte att automatiskt starta: %s"
    IDS_ERR_CREATE_PIPE_IN_READ "CreatePipe på hInputRead misslyckades."
    IDS_NFO_STATE_CONNECTING "Status: Ansluter"
    IDS_NFO_CONNECTION_XXX "OpenVPN Anslutning (%s)"
    IDS_NFO_STATE_CONN_SCRIPT "Status: Kör anslutnings-skript"
    IDS_NFO_STATE_DISCONN_SCRIPT "Status: Kör frånkopplings-skript"
    IDS_ERR_RUN_CONN_SCRIPT "Ett fel uppstod vid körning av följande skript: %s"
    IDS_ERR_GET_EXIT_CODE "Ett fel uppstod när exitcode från följande skript skulle erhållas: %s"
    IDS_ERR_CONN_SCRIPT_FAILED "Uppkopplingsskriptet misslyckades. (exitcode=%ld)"
    IDS_ERR_RUN_CONN_SCRIPT_TIMEOUT "Uppkopplingsskriptet gjorde TimeOut efter %d sek."
    IDS_ERR_CONFIG_EXIST "Det finns redan en konfig fil vid namn '%s'. Du kan inte ha flera \
konfigurations filer med samma namn, även om de ligger i olika kataloger."

    /* main - Resources */
    IDS_ERR_OPEN_DEBUG_FILE "Fel vid öppnande av debug fil. (%s)"
    IDS_ERR_CREATE_PATH "Could not create %s path:\n%s"
    IDS_ERR_LOAD_RICHED20 "Kunde inte ladda RICHED20.DLL."
    IDS_ERR_SHELL_DLL_VERSION "Din shell32.dll version är för låg (0x%lx). Du böhöver minst version 5.0."
    IDS_NFO_SERVICE_STARTED "OpenVPN Service startad."
    IDS_NFO_SERVICE_STOPPED "OpenVPN Service stoppad."
    IDS_NFO_ACTIVE_CONN_EXIT "Du har aktiva uppkopplingar i gång som kommer kopplas ner om du avslutar OpenVPN GUI.\n\nÄr du säker på att du vill avsluta?"
    IDS_NFO_SERVICE_ACTIVE_EXIT "Du är uppkopplad med OpenVPN (OpenVPN tjänsten är igång). \
Du kommer att förbli uppkopplad även om du avslutar OpenVPN GUI.\n\n\
Är du säker på att du vill avsluta OpenVPN GUI?"

    /* options - Resources */
    IDS_NFO_USAGE "--help\t\t\t: Visa detta meddelande.\n\
--connect cnn \t\t: Anslut till ""cnn"" vid uppstart. (filändelsen måste vara med)\n\
\t\t\t   Exempel: openvpn-gui --connect office.ovpn\n\
--command cmd [args]\t: Send a command to a running instance of the GUI\n\
Supported commands:\n\
    connect cnn            \t: connect the config named ""cnn""\n\
    disconnect cnn         \t: disconnect the config named ""cnn""\n\
    reconnect cnn          \t: reconnect the config named ""cnn""\n\
    disconnect_all         \t: disconnect all connected configs\n\
    exit                 \t\t: terminate the running GUI instance (may ask for confirmation)\n\
    status cnn           \t\t: show the status window of config ""cnn"" if connected\n\
    silent_connection [0|1]\t: set the silent_connection flag on (1) or off (0)\n\
\t\t\tExample: openvpn-gui.exe --command disconnect myconfig\n\
\n\
Parametrar som ersätter inställningar gjorda i registret:\n\
--exe_path\t\t: Path till openvpn.exe.\n\
--config_dir\t\t: Path till OpenVPNs konfig mapp.\n\
--ext_string\t\t: Filändelse för konfig filer.\n\
--log_dir\t\t\t: Path till mappen där loggfiler skall sparas.\n\
--priority_string\t\t: Prioritet på OpenVPN processer (Se install.txt för mer info).\n\
--append_string\t\t: 1=Behåll gammal logg. 0=Töm loggfil före anslutning.\n\
--log_viewer\t\t: Path till logg viewer.\n\
--editor\t\t\t: Path till konfig editor.\n\
--allow_edit\t\t: 1=Visa Editera Konfig på menyn.\n\
--allow_service\t\t: 1=Visa OpenVPN Service menyn.\n\
--allow_password\t\t: 1=Visa Ändra Lösenord på menyn.\n\
--allow_proxy\t\t: 1=Visa Proxy Inställningar på menyn.\n\
--show_balloon\t\t: 0=Aldrig, 1=Vid anslutning, 2=Vid varje återanslutning.\n\
--service_only\t\t: 1=Aktivera ""Service Only"" läge.\n\
--silent_connection\t\t: 1=Visa inte status fönstret under anslutning.\n\
--show_script_window\t: 0=Göm skript fönster, 1=Visa skript fönster.\n\
--passphrase_attempts\t: Antal lösenordsförsök.\n\
--connectscript_timeout\t: Tid att vänta på att connect skriptet är klart.\n\
--disconnectscript_timeout\t: Tid att vänta på att dis-connect skriptet är klart.\n\
--preconnectscript_timeout\t: Time to wait for preconnect script to finish.\n\
--iservice_admin\t\t: 0=Do not use interactive service when started as admin (default is 1 for Windows 7 and newer)\n\
--disable_popup_messages\t: Do not popup (i.e., show) the echo message window. Default is to show.\n\
--popup_mute_interval\t: Time in hours for which a previously shown echo message is not re-displayed. Default=24 hours.\n\
--management_port_offset\t: Offset value added to config index to determine the management port for a connection.\n\
\t\t\t Must be in the range 1 to 61000. Maximum number of configs is limited by 65536 minus this value. Default=25340.\n"


    IDS_NFO_USAGECAPTION "OpenVPN GUI Användning"
    IDS_ERR_BAD_PARAMETER "Försöker tolka ""%s"" som en --option parameter \
men kan inte hitta några inledande '--'"
    IDS_ERR_BAD_OPTION "Parameter fel: Okänd parameter eller saknat argument: --%s\n\
Kör openvpn-gui --help för mer hjälp."

    /* passphrase - Resources */
    IDS_ERR_CREATE_PASS_THREAD "CreateThread för att visa ChangePassphrase dialogen misslyckades."
    IDS_NFO_CHANGE_PWD "Ändra Lösenord (%s)"
    IDS_ERR_PWD_DONT_MATCH "De angivna lösenorden matchar inte. Försök igen"
    IDS_ERR_PWD_TO_SHORT "Ditt nya lösenord måste vara minst %d tecken långt."
    IDS_NFO_EMPTY_PWD "Är du säker på att du vill använda ett BLANKT lösenord??"
    IDS_ERR_UNKNOWN_KEYFILE_FORMAT "Okänt format på nyckelfilen."
    IDS_ERR_OPEN_PRIVATE_KEY_FILE "Ett fel uppstod vid öppnande av nyckel fil (%s)."
    IDS_ERR_OLD_PWD_INCORRECT "Du har angivit ett felaktigt nuvarande lösenord."
    IDS_ERR_OPEN_WRITE_KEY "Ett fel uppstod vid öppnande av nyckel fil för skrivning (%s)."
    IDS_ERR_WRITE_NEW_KEY "Ett fel uppstod vid skapande av ny nyckel fil (%s)."
    IDS_NFO_PWD_CHANGED "Ditt lösenord har ändrats."
    IDS_ERR_READ_PKCS12 "Fel vid läsning från pkcs #12 fil (%s)."
    IDS_ERR_CREATE_PKCS12 "Ett fel uppstod vid skapande av pkcs12 object."
    IDS_ERR_OPEN_CONFIG "Ett fel uppstod vid öppnande av följande konfigurations fil: %s."
    IDS_ERR_ONLY_ONE_KEY_OPTION "Du kan inte ha mer än en ""key"" parameter i din konfigurations fil."
    IDS_ERR_ONLY_KEY_OR_PKCS12 "Du kan inte ha både ""key"" och ""pkcs12"" parametetrar i din konfigurations fil."
    IDS_ERR_ONLY_ONE_PKCS12_OPTION "Du kan inte ha mer än en ""pkcs12"" parameter i din konfigurations fil."
    IDS_ERR_HAVE_KEY_OR_PKCS12 "Din konfigurationsfil verkar inte ha någon ""key"" eller ""pkcs12"" parameter."
    IDS_ERR_KEY_FILENAME_TO_LONG "Den angivna pathen till din nyckel i din konfigurations fil är för lång!"
    IDS_ERR_PASSPHRASE2STDIN "Ett fel uppstod då lösenordet skulle skickas till OpenVPN via stdin."
    IDS_ERR_AUTH_USERNAME2STDIN "Ett fel uppstod då användarnamnet skulle skickas till OpenVPN via stdin."
    IDS_ERR_AUTH_PASSWORD2STDIN "Ett fel uppstod då lösenordet skulle skickas till OpenVPN via stdin."
    IDS_ERR_CR2STDIN "Ett fel uppstod då CR skulle skickas till OpenVPN via stdin."
    IDS_ERR_INVALID_CHARS_IN_PSW "Ditt nya lösenord innehåller otillåtna tecken. \
Välj ett nytt."

    /* settings */
    IDS_SETTINGS_CAPTION "OpenVPN - Inställningar"

    /* proxy */
    IDS_ERR_HTTP_PROXY_ADDRESS "Du måste ange en HTTP proxy adress."
    IDS_ERR_HTTP_PROXY_PORT "Du måste ange en HTTP proxy port."
    IDS_ERR_HTTP_PROXY_PORT_RANGE "Du måste ange en HTTP proxy port mellan 1-65535"
    IDS_ERR_SOCKS_PROXY_ADDRESS "Du måste ange en SOCKS proxy adress."
    IDS_ERR_SOCKS_PROXY_PORT "Du måste ange en SOCKS proxy port."
    IDS_ERR_SOCKS_PROXY_PORT_RANGE "Du måste ange en SOCKS proxy port mellan 1-65535"
    IDS_ERR_CREATE_REG_HKCU_KEY "Ett fel uppstod vid skapande av register nyckel ""HKEY_CURRENT_USER\\%s"""
    IDS_ERR_GET_TEMP_PATH "Ett fel uppstod när GetTempPath() anropades. Använder ""C:\\"" istället."

    /* service */
    IDS_ERR_OPEN_VPN_SERVICE "Kunde inte öppna ""OpenVPNService"""
    IDS_ERR_START_SERVICE "Ett fel uppstod vid startande av OpenVPN Service"
    IDS_ERR_QUERY_SERVICE "Ett fel uppstod när statusen på OpenVPN Service skulle kontrolleras."
    IDS_ERR_SERVICE_START_FAILED "OpenVPN Service misslyckades att starta."
    IDS_ERR_OPEN_SCMGR "OpenSCManager misslyckades (%d)"
    IDS_ERR_STOP_SERVICE "Ett fel uppstod vid stoppande av OpenVPN Service"
    IDS_NFO_RESTARTED "OpenVPN Service har startats om."
    IDS_ERR_ACCESS_SERVICE_PIPE "Access to service pipe failed."
    IDS_ERR_WRITE_SERVICE_PIPE "Writing to service pipe failed."
    IDS_ERR_INSTALL_ISERVICE     """OpenVPNServiceInteractive"" is not installed.\n\
Tasks requiring administrative access may not work."
    IDS_ERR_NOTSTARTED_ISERVICE  """OpenVPNServiceInteractive"" is not started.\n\
Tasks requiring administrative access may not work."
    IDS_ERR_NOTSTARTED_ISERVICE_ADM  """OpenVPNServiceInteractive"" inte startad.\n\
Wintun driver ska inte fungera."

    /* registry */
    IDS_ERR_GET_WINDOWS_DIR "Kunde inte hitta i vilken katalog Windows är installerat."
    IDS_ERR_GET_PROFILE_DIR "Error getting User Profile Directory."
    IDS_ERR_GET_PROGRAM_DIR "Kunde inte hitta pathen till din ""Program"" katalog."
    IDS_ERR_OPEN_REGISTRY "Fel vid öppnande av registret för läsning (HKLM\\SOFTWARE\\OpenVPN).\n OpenVPN är förmodligen inte installerat."
    IDS_ERR_READING_REGISTRY "Fel vid läsning av register nyckel (HKLM\\SOFTWARE\\OpenVPN)."
    IDS_ERR_PASSPHRASE_ATTEMPTS "Register värdet ""passphrase_attempts"" måste vara ett tal mellan 1 och 9."
    IDS_ERR_CONN_SCRIPT_TIMEOUT "Register värdet ""connectscript_timeout"" måste vara ett tal mellan 0 och 99."
    IDS_ERR_DISCONN_SCRIPT_TIMEOUT "Register värdet ""disconnectscript_timeout"" måste vara ett tal mellan 1 och 99."
    IDS_ERR_PRECONN_SCRIPT_TIMEOUT "Register värdet ""preconnectscript_timeout"" måste vara ett tal mellan 1 och 99."
    IDS_ERR_CREATE_REG_KEY "Fel vid skapande av register nyckeln HKLM\\SOFTWARE\\OpenVPN-GUI."
    IDS_ERR_OPEN_WRITE_REG "Fel vid öppnande av registret för skrivning. Du måste starta programmet en gång som administratör för att uppdatera registret."
    IDS_ERR_READ_SET_KEY "Fel vid läsning och skrivning av register värde ""%s""."
    IDS_ERR_WRITE_REGVALUE "Fel vid skrivning av register värdet ""HKEY_CURRENT_USER\\%s\\%s""."

    /* importation */
    IDS_ERR_IMPORT_EXISTS "A config named ""%s"" already exists."
    IDS_ERR_IMPORT_FAILED "Failed to import file. The following path could not be created.\n\n\
%s\n\nMake sure you have the right permissions."
    IDS_NFO_IMPORT_SUCCESS "File imported successfully."
    IDS_NFO_IMPORT_OVERWRITE "A config named ""%s"" already exists. Do you want to replace it?"
    IDS_ERR_IMPORT_SOURCE "Cannot import file <%s> as it is already in the global or local config directory"

    /* save/delete password */
    IDS_NFO_DELETE_PASS "Press OK to delete saved passwords for config ""%s"""

    /* Token password related */
    IDS_NFO_TOKEN_PASSWORD_CAPTION "OpenVPN – Token Password"
    IDS_NFO_TOKEN_PASSWORD_REQUEST "Input Password/PIN for Token '%S'"

    IDS_NFO_AUTH_PASS_RETRY "Wrong credentials. Try again…"
    IDS_NFO_KEY_PASS_RETRY  "Wrong password. Try again…"
    IDS_ERR_INVALID_PASSWORD_INPUT "Invalid character in password"
    IDS_ERR_INVALID_USERNAME_INPUT "Invalid character in username"
    IDS_NFO_AUTO_CONNECT    "Connecting automatically in %u seconds…"
    IDS_NFO_CLICK_HERE_TO_START "OpenVPN GUI is already running. Right click on the tray icon to start."
    IDS_NFO_BYTECOUNT "Bytes in: %s  out: %s"

END
