/*
 *  OpenVPN-GUI -- A Windows GUI for OpenVPN.
 *
 *  Copyright (C) 2004 Mathias Sundman <mathias@nilings.se>
 *                2009 Heiko Hund <heikoh@users.sf.net>
 *                2010 Morten Christensen <m.c@c.dk>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program (see the file COPYING included with this
 *  distribution); if not, write to the Free Software Foundation, Inc.,
 *  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Passphrase Dialog */
ID_DLG_PASSPHRASE DIALOGEX 6, 18, 160, 83
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Indtast kodeord:", 201, 6, 6, 100, 10
    EDITTEXT ID_EDT_PASSPHRASE, 6, 17, 107, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Husk kodeord", ID_CHK_SAVE_PASS, 6, 33, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 49, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 90, 49, 50, 14
    LTEXT "", ID_TXT_WARNING, 6, 65, 100, 10
END

/* Auth Username/Password Dialog */
ID_DLG_AUTH DIALOGEX 6, 18, 160, 95
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Brugernavn:", ID_LTEXT_USERNAME, 6, 9, 50, 10
    LTEXT "Kodeord:", ID_LTEXT_PASSWORD, 6, 26, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Husk kodeord", ID_CHK_SAVE_PASS, 6, 42, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 58, 50, 14, BS_DEFPUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "Annuller", IDCANCEL, 90, 58, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 80, 150, 10
END

/* Auth Username/Password/Challenge Dialog */
ID_DLG_AUTH_CHALLENGE DIALOG 6, 18, 160, 129
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - User Authentication"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Brugernavn:", ID_LTEXT_USERNAME, 6, 9, 50, 10
    LTEXT "Kodeord:", ID_LTEXT_PASSWORD, 6, 26, 50, 10
    LTEXT "Response:", ID_LTEXT_RESPONSE, 6, 60, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT "", ID_TXT_AUTH_CHALLENGE, 6, 43, 148, 10
    EDITTEXT ID_EDT_AUTH_CHALLENGE, 60, 57, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    CHECKBOX "Husk kodeord", ID_CHK_SAVE_PASS, 6, 76, 100, 10
    PUSHBUTTON "OK", IDOK, 20, 92, 50, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "Annuller", IDCANCEL, 90, 92, 52, 14
    LTEXT "", ID_TXT_WARNING, 6, 108, 150, 10
END

/* Challenge Response Dialog */
ID_DLG_CHALLENGE_RESPONSE DIALOG 6, 18, 212, 72
STYLE WS_SIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - Challenge Response"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "", ID_TXT_DESCRIPTION, 6, 9, 208, 10
    LTEXT "Response:", ID_LTEXT_RESPONSE, 6, 30, 50, 10
    EDITTEXT ID_EDT_RESPONSE, 60, 27, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 20, 51, 50, 14, BS_PUSHBUTTON | WS_TABSTOP
    PUSHBUTTON "Annuller", IDCANCEL, 90, 51, 52, 14
END

/* Status Dialog */
ID_DLG_STATUS DIALOG 6, 18, 380, 210
STYLE WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Etablere forbindelse…", ID_TXT_STATUS, 20, 5, 200, 10
    LTEXT "", ID_TXT_BYTECOUNT, 20, 175, 200, 10
    LTEXT "OpenVPN GUI 11.y.0.0/2.4.x", ID_TXT_VERSION, 220, 175, 150, 10
    LTEXT "", ID_TXT_IP, 20, 160, 300, 10
    PUSHBUTTON "Afbryd", ID_DISCONNECT, 50, 190, 50, 14
    PUSHBUTTON "Genforbind", ID_RESTART, 150, 190, 40, 14
    PUSHBUTTON "Skjul", ID_HIDE, 100, 190, 40, 14
END

/* Change Passphrase Dialog */
ID_DLG_CHGPASS DIALOG 6, 18, 193, 82
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "OpenVPN - Ændre kodeord"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Nuværende kodeord:", 171, 6, 9, 85, 10
    LTEXT "Indtast nyt kodeord:", 172, 6, 26, 85, 10
    LTEXT "Bekræft nyt kodeord:", 173, 6, 42, 85, 10
    EDITTEXT ID_EDT_PASS_CUR, 95, 6, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW, 95, 23, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW2, 95, 39, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 40, 59, 50, 14
    PUSHBUTTON "Annuller", IDCANCEL, 103, 59, 50, 14
    LTEXT "", ID_TXT_KEYFORMAT, 0, 0, 0, 0
    LTEXT "", ID_TXT_KEYFILE, 0, 0, 0, 0
END

/* Proxy Settings Dialog */
ID_DLG_PROXY DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Proxy"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "   ", 201, 6, 46, 235, 52
    AUTORADIOBUTTON "Brug indstillinger fra OpenVPNs config-fil", ID_RB_PROXY_OPENVPN,
                    13, 16, 200, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Brug indstillinger fra Internet Explorer",
                    ID_RB_PROXY_MSIE, 13, 31, 200, 10
    AUTORADIOBUTTON "Manuel konfiguration", ID_RB_PROXY_MANUAL, 13, 46, 81, 10
    AUTORADIOBUTTON "HTTP Proxy", ID_RB_PROXY_HTTP, 20, 62, 90, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "SOCKS Proxy", ID_RB_PROXY_SOCKS, 120, 62, 90, 10
    LTEXT "Adresse:", ID_TXT_PROXY_ADDRESS, 20, 77, 32, 10
    RTEXT "Port:", ID_TXT_PROXY_PORT, 171, 77, 20, 10
    EDITTEXT ID_EDT_PROXY_ADDRESS, 53, 75, 117, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PROXY_PORT, 196, 75, 30, 12, ES_AUTOHSCROLL
END

/* General Settings Dialog */
ID_DLG_GENERAL DIALOGEX 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Generelt"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "Brugergrænseflade", 201, 6, 12, 235, 30
    LTEXT "Sprog:", ID_TXT_LANGUAGE, 17, 25, 52, 12
    COMBOBOX ID_CMB_LANGUAGE, 57, 23, 171, 400, CBS_DROPDOWNLIST | WS_TABSTOP
    GROUPBOX "Autostart", 202, 6, 47, 235, 30
    AUTOCHECKBOX "Start med Windows", ID_CHK_STARTUP, 17, 59, 200, 12

    GROUPBOX "Indstillinger", ID_GROUPBOX3, 6, 82, 235, 105
    AUTOCHECKBOX "Tilføj til log", ID_CHK_LOG_APPEND, 17, 95, 60, 10
    AUTOCHECKBOX "Vis script vindue", ID_CHK_SHOW_SCRIPT_WIN, 17, 110, 200, 10
    AUTOCHECKBOX "Stille forbindelse", ID_CHK_SILENT, 17, 125, 200, 10
    AUTOCHECKBOX "Always use interactive service", ID_CHK_ALWAYS_USE_ISERVICE, 17, 140, 200, 10
    LTEXT "Vis Notifikation", ID_TXT_BALLOON, 17, 155, 100, 10
    AUTORADIOBUTTON "Ved forbind", ID_RB_BALLOON1, 28, 170, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Ved forbind/genforbind", ID_RB_BALLOON2, 86, 170, 90, 10
    AUTORADIOBUTTON "Aldrig", ID_RB_BALLOON0, 181, 170, 40, 10
END

/* Advanced Dialog */
ID_DLG_ADVANCED DIALOGEX 6, 18, 252, 280
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Avanceret"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
BEGIN
    GROUPBOX "Configurations Filer", 201, 6, 12, 235, 45
    LTEXT "Mappe:", ID_TXT_FOLDER, 17, 25, 32, 10
    LTEXT "Filtypenavn:", ID_TXT_EXTENSION, 17, 40, 52, 10
    EDITTEXT ID_EDT_CONFIG_DIR, 60, 23, 150, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_CONFIG_EXT, 60, 38, 25, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_CONFIG_DIR, 208, 23, 25, 12

    GROUPBOX "Log Filer", 202, 6, 62, 235, 30
    LTEXT "Mappe:", ID_TXT_FOLDER1, 17, 74, 32, 10
    EDITTEXT ID_EDT_LOG_DIR, 53, 72, 150, 12, ES_AUTOHSCROLL
    PUSHBUTTON "…", ID_BTN_LOG_DIR, 208, 72, 25, 12

    GROUPBOX "Script Timeout", 203, 6, 97, 235, 60
    LTEXT "Før-Forbind script timeout:", ID_TXT_PRECONNECT_TIMEOUT, 17, 110, 100, 10
    LTEXT "Forbind script timeout:", ID_TXT_CONNECT_TIMEOUT, 17, 125, 90, 10
    LTEXT "Afbryd script timeout:", ID_TXT_DISCONNECT_TIMEOUT, 17, 140, 90, 10
    EDITTEXT ID_EDT_PRECONNECT_TIMEOUT, 103, 108, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_CONNECT_TIMEOUT, 103, 123, 20, 12, ES_AUTOHSCROLL|ES_NUMBER
    EDITTEXT ID_EDT_DISCONNECT_TIMEOUT, 103, 138, 20, 12, ES_AUTOHSCROLL|ES_NUMBER

    GROUPBOX "Management interface", 204, 6, 163, 235, 30
    LTEXT "Port offset:", 205, 17, 175, 75, 10
    EDITTEXT ID_EDT_MGMT_PORT, 103, 173, 30, 12, ES_AUTOHSCROLL

    GROUPBOX "Config menu view", 206, 6, 198, 235, 30
    AUTORADIOBUTTON "&Auto", ID_RB_BALLOON0, 28, 210, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "&Flat", ID_RB_BALLOON1, 88, 210, 50, 10
    AUTORADIOBUTTON "&Nested", ID_RB_BALLOON2, 148, 210, 50, 10

    GROUPBOX "Echo message display", 207, 6, 233, 235, 45
    AUTORADIOBUTTON "A&uto", ID_RB_BALLOON3, 28, 245, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Ne&ver", ID_RB_BALLOON4, 88, 245, 50, 10
    LTEXT "Repeated messages are muted for: ", 208, 17, 260, 125, 10
    EDITTEXT ID_EDT_POPUP_MUTE, 150, 258, 30, 12, ES_AUTOHSCROLL
    LTEXT "hours", 209, 190, 260, 40, 10

END

/* About Dialog */
ID_DLG_ABOUT DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Om"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
BEGIN
    ICON ID_ICO_APP, ID_ICON_ABOUT, 8, 16, 21, 20
    LTEXT "OpenVPN GUI v%s - Et Windows-brugerprogram til OpenVPN\n\
Copyright (C) 2004-2005 Mathias Sundman <info@openvpn.se>\n\
Copyright (C) 2008-2014 Heiko Hund <heikoh@users.sf.net>\n\
Copyright (C) 2012-2021 OpenVPN GUI contributors\n", ID_TXT_VERSION, 36, 15, 206, 50
    LTEXT "https://github.com/OpenVPN/openvpn-gui/", ID_LTEXT_ABOUT2, 36, 55, 206, 50
    LTEXT "OpenVPN - Et program til sikker overførsel af IP netværk \
over en enkelt TCP/UDP port, med støtte til SSL/TLS-baseret \
sessions autentisering og nøgle håndtering, pakke- \
kryptering, -autentisering og -komprimering.\n\
\n", ID_LTEXT_ABOUT3, 8, 70, 240, 64
    LTEXT "Copyright (C) 2002-2021 OpenVPN Technologies, Inc <info@openvpn.net>\n\
https://openvpn.net/", ID_LTEXT_ABOUT4, 8, 106, 240, 64
END

/* Proxy Authentication Dialog */
ID_DLG_PROXY_AUTH DIALOG 29, 23, 170, 65
STYLE DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN - Proxy Autentificering"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
BEGIN
    LTEXT "Brugernavn:", 201, 9, 8, 55, 10
    EDITTEXT ID_EDT_PROXY_USER, 65, 5, 94, 12, ES_AUTOHSCROLL
    LTEXT "Kodeord:", 202, 9, 26, 55, 10
    EDITTEXT ID_EDT_PROXY_PASS, 65, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 60, 43, 50, 14, BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED
END

STRINGTABLE
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
BEGIN
    IDS_LANGUAGE_NAME "Dansk - Danish"

    /* Tray - Resources */
    IDS_TIP_DEFAULT "OpenVPN Brugerprogram"
    IDS_TIP_CONNECTED "\nForbundet: "
    IDS_TIP_CONNECTING "\nEtablere forbindelse: "
    IDS_TIP_CONNECTED_SINCE "\nForbundet siden: "
    IDS_TIP_ASSIGNED_IP "\nTildelt IP: %s"
    IDS_MENU_SERVICE "OpenVPN Service"
    IDS_MENU_IMPORT "Import file…"
    IDS_MENU_SETTINGS "Indstillinger…"
    IDS_MENU_CLOSE "Afslut"
    IDS_MENU_CONNECT "Forbind"
    IDS_MENU_DISCONNECT "Afbryd"
    IDS_MENU_RECONNECT "Reconnect"
    IDS_MENU_STATUS "Vis status"
    IDS_MENU_VIEWLOG "Vis log"
    IDS_MENU_EDITCONFIG "Ret konfiguration"
    IDS_MENU_PASSPHRASE "Ændre kodeord"
    IDS_MENU_CLEARPASS  "Clear Saved Passwords"
    IDS_MENU_SERVICE_START "Start"
    IDS_MENU_SERVICE_STOP "Stop"
    IDS_MENU_SERVICE_RESTART "Genstart"
    IDS_MENU_SERVICEONLY_START "Forbind"
    IDS_MENU_SERVICEONLY_STOP "Afbryd"
    IDS_MENU_SERVICEONLY_RESTART "Genforbind"
    IDS_MENU_ASK_STOP_SERVICE "Vil du afbryde? (Stoppe OpenVPN Service)?"

    /* Logviewer - Resources */
    IDS_ERR_START_LOG_VIEWER "Fejl ved start af log fremviser: %s"
    IDS_ERR_START_CONF_EDITOR "Fejl ved start af konfigurations editor: %s"

    /* OpenVPN */
    IDS_ERR_MANY_CONFIGS "Du kan ikke have flere end %d konfigurations-filer. Kontakt udvikleren af OpenVPN GUI hvis du har behov for at håndtere flere."
    IDS_NFO_NO_CONFIGS "No readable connection profiles (config files) found.\n\
Use the ""Import File.."" menu or copy your config files to ""%s"" or ""%s""."
    IDS_ERR_CONFIG_NOT_AUTHORIZED "Starting this connection (%s) requires membership in \
""%s"" group. Contact your system administrator.\n"
    IDS_ERR_CONFIG_TRY_AUTHORIZE  "Starting this connection (%s) requires membership in \
""%s"" group.\n\n\
Do you want to add yourself to this group?\n\
This action may prompt for administrative password or consent."
    IDS_NFO_CONFIG_AUTH_PENDING   "Starting this connection (%s) requires membership in \
""%s"" group.\n\n\
Please complete the previous authorization dialog."
    IDS_ERR_ADD_USER_TO_ADMIN_GROUP "Adding the user to ""%s"" group failed."
    IDS_ERR_ONE_CONN_OLD_VER "Du kan kun have en forbindelse igang samtidig med ældre versioner af OpenVPN end 2.0-beta6."
    IDS_ERR_STOP_SERV_OLD_VER "Du kan ikke tilslutte med OpenVPN GUI når OpenVPN Service kører. (kun OpenVPN 1.5/1.6). Stop tjenesten først hvis du vil bruge OpenVPN GUI."
    IDS_ERR_CREATE_EVENT "CreateEvent fejlede ved exit event: %s"
    IDS_ERR_UNKNOWN_PRIORITY "Ukendt prioritet: %s"
    IDS_ERR_LOG_APPEND_BOOL "Log-filens tilføjelses-markering (brugt med '%s') skal være '0' eller '1'"
    IDS_ERR_GET_MSIE_PROXY "Kunne ikke hente indstillinger for HTTP Proxy fra Internet Explorer."
    IDS_ERR_INIT_SEC_DESC "InitializeSecurityDescriptor fejlramt."
    IDS_ERR_SET_SEC_DESC_ACL "SetSecurityDescriptorDacl fejlramt."
    IDS_ERR_CREATE_PIPE_OUTPUT "CreatePipe på hOutputWrite fejlramt."
    IDS_ERR_CREATE_PIPE_INPUT "CreatePipe på hInputRead fejlramt."
    IDS_ERR_DUP_HANDLE_OUT_READ "DuplicateHandle på hOutputRead fejlramt."
    IDS_ERR_DUP_HANDLE_IN_WRITE "DuplicateHandle på hInputWrite fejlramt."
    IDS_ERR_CREATE_PROCESS "CreateProcess fejlramt, exe='%s' cmdline='%s' dir='%s'"
    IDS_ERR_CREATE_THREAD_STATUS "CreateThread for at vise statusvindue fejlramt."
    IDS_NFO_STATE_WAIT_TERM "Status: Venter på OpenVPN afslutning…"
    IDS_NFO_STATE_CONNECTED "Status: Forbundet"
    IDS_NFO_NOW_CONNECTED "%s er forbundet."
    IDS_NFO_ASSIGN_IP "tildelt IP: %s"
    IDS_ERR_CERT_EXPIRED "Kunne ikke forbinde, dit certifikat er for gammelt eller uret på din PC er forkert."
    IDS_ERR_CERT_NOT_YET_VALID "Kunne ikke forbinde, dit certifikat er dateret fremad i tiden eller uret på din PC er forkert."
    IDS_NFO_STATE_RECONNECTING "Status: Genforbinder"
    IDS_NFO_STATE_DISCONNECTED "Status: Afbrudt"
    IDS_NFO_CONN_TERMINATED "Du er blevet frakoblet/afbrudt %s."
    IDS_NFO_STATE_FAILED "Status: Forbindelse fejlet."
    IDS_NFO_CONN_FAILED "Forbindelse til %s fejlet."
    IDS_NFO_STATE_FAILED_RECONN "Status: Kunne ikke genforbinde"
    IDS_NFO_RECONN_FAILED "Forbindelse til %s fejlet."
    IDS_NFO_STATE_SUSPENDED "Status: I dvale (midlertidigt afbrudt)"
    IDS_ERR_READ_STDOUT_PIPE "Fejl under læsning fra OpenVPN StdOut pipe."
    IDS_ERR_CREATE_EDIT_LOGWINDOW "Oprettelse af RichEdit LogWindow fejlramt!!"
    IDS_ERR_SET_SIZE "Set Size fejlramt!"
    IDS_ERR_AUTOSTART_CONF "Følgende config kunne ikke starte automatisk: %s"
    IDS_ERR_CREATE_PIPE_IN_READ "CreatePipe på hInputRead fejlramt."
    IDS_NFO_STATE_CONNECTING "Status: Forbinder"
    IDS_NFO_CONNECTION_XXX "OpenVPN forbundet (%s)"
    IDS_NFO_STATE_CONN_SCRIPT "Status: Kører forbind-script"
    IDS_NFO_STATE_DISCONN_SCRIPT "Status: Kører afbryd-script"
    IDS_ERR_RUN_CONN_SCRIPT "En fejl opstod under kørsel af script: %s"
    IDS_ERR_GET_EXIT_CODE "Fejlede med at få Exit-kode fra forbind-script: %s"
    IDS_ERR_CONN_SCRIPT_FAILED "Forbind-scriptet fejlet. (Exit-kode=%ld)"
    IDS_ERR_RUN_CONN_SCRIPT_TIMEOUT "Forbind-scriptet fik TimeOut efter %d sekunder."
    IDS_ERR_CONFIG_EXIST "Det findes allerede en konfigurations-fil med navn '%s'. Du kan ikke have flere \
konfigurations-filer med samme navn, selv om de \
ligger i forskellige kataloger."
    /* main - Resources */
    IDS_ERR_OPEN_DEBUG_FILE "Fejl under åbning af debug fil. (%s)"
    IDS_ERR_CREATE_PATH "Could not create %s path:\n%s"
    IDS_ERR_LOAD_RICHED20 "Kunne ikke indlæse RICHED20.DLL."
    IDS_ERR_SHELL_DLL_VERSION "Din shell32.dll version er for lav (0x%lx). Du skal have mindst version 5.0."
    IDS_NFO_SERVICE_STARTED "OpenVPN Service startet."
    IDS_NFO_SERVICE_STOPPED "OpenVPN Service stoppet."
    IDS_NFO_ACTIVE_CONN_EXIT "Aktive forbindelser vil blive afbrudt hvis du afslutter OpenVPN GUI. \
 \n\nVil du afslutte?"

    IDS_NFO_SERVICE_ACTIVE_EXIT "Du er forbundet med OpenVPN (OpenVPN tjenesten kører). \
Aktive forbindelser vil forblive tilsluttet hvis du afslutter OpenVPN GUI.\n\n\
Vil du afslutte?"

    /* options - Resources */
    IDS_NFO_USAGE "--help\t\t\t: Vis denne meddelelse.\n\
--connect cnn \t\t: Forbinder til ""cnn"" ved start. (filtypen skal være med i filnavnet)\n\
\t\t\t   Eksempel: openvpn-gui --connect office.ovpn\n\
--command cmd [args]\t: Send a command to a running instance of the GUI\n\
Supported commands:\n\
    connect cnn            \t: connect the config named ""cnn""\n\
    disconnect cnn         \t: disconnect the config named ""cnn""\n\
    reconnect cnn          \t: reconnect the config named ""cnn""\n\
    disconnect_all         \t: disconnect all connected configs\n\
    exit                 \t\t: terminate the running GUI instance (may ask for confirmation)\n\
    status cnn           \t\t: show the status window of config ""cnn"" if connected\n\
    silent_connection [0|1]\t: set the silent_connection flag on (1) or off (0)\n\
\t\t\tExample: openvpn-gui.exe --command disconnect myconfig\n\
\n\
Parametre som vil tilsidesætte indstillinger i registreringsdatabasen:\n\
--exe_path\t\t: Sti til openvpn.exe.\n\
--config_dir\t\t: Sti til OpenVPNs konfigurations-mappe.\n\
--ext_string\t\t: Filtype for konfigurations-filer.\n\
--log_dir\t\t\t: Sti til logfil-mappe.\n\
--priority_string\t\t: Prioritet på OpenVPN processer (Se detaljer i install.txt).\n\
--append_string\t\t: 1=Behold gammel log. 0=Tøm log ved ny forbindelse.\n\
--log_viewer\t\t: Sti til log-viewer.\n\
--editor\t\t\t: Sti til konfigurations-editor.\n\
--allow_edit\t\t: 1=Vis Editere Config i menu.\n\
--allow_service\t\t: 1=Vise OpenVPN Service i menu.\n\
--allow_password\t\t: 1=Vise Ændre Password i menu.\n\
--allow_proxy\t\t: 1=Vise Proxy Innstillinger i menu.\n\
--show_balloon\t\t: 0=Aldrig, 1=under tilslutning, 2=Ved hver ""gen-tilslutning"".\n\
--service_only\t\t: 1=Aktivere ""Kun Service"" tilstand.\n\
--silent_connection\t\t: 1=ikke vise status-vindue ved tilslutning.\n\
--show_script_window\t: 0=Skjul script-vindue, 1=Vise script-vindue.\n\
--passphrase_attempts\t: Antal forbindelses-forsøg.\n\
--connectscript_timeout\t: Max tilladt forbind-script tid.\n\
--disconnectscript_timeout\t: Max tilladt afbryd-script tid.\n\
--preconnectscript_timeout\t: Time to wait for preconnect script to finish.\n\
--iservice_admin\t\t: 0=Do not use interactive service when started as admin (default is 1 for Windows 7 and newer)\n\
--disable_popup_messages\t: Do not popup (i.e., show) the echo message window. Default is to show.\n\
--popup_mute_interval\t: Time in hours for which a previously shown echo message is not re-displayed. Default=24 hours.\n\
--management_port_offset\t: Offset value added to config index to determine the management port for a connection.\n\
\t\t\t Must be in the range 1 to 61000. Maximum number of configs is limited by 65536 minus this value. Default=25340.\n"


    IDS_NFO_USAGECAPTION "OpenVPN GUI brug"
    IDS_ERR_BAD_PARAMETER "Forsøger at tolke ""%s"" som en --option parameter \
men kan ikke finde indledende '--'"
    IDS_ERR_BAD_OPTION "Parameter fejl: Ukendt parameter eller manglende argument: --%s\n\
Kør openvpn-gui --help for hjælp."

    /* passphrase - Resources */
    IDS_ERR_CREATE_PASS_THREAD "CreateThread for at vise at ChangePassphrase dialogen fejlede."
    IDS_NFO_CHANGE_PWD "Ændre kodeord (%s)"
    IDS_ERR_PWD_DONT_MATCH "De indtastede nye kodeord er forskellige. Prøv igen"
    IDS_ERR_PWD_TO_SHORT "Kodeord skal være mindst %d tegn."
    IDS_NFO_EMPTY_PWD "Er du sikker på at du vil bruge et BLANKT kodeord??"
    IDS_ERR_UNKNOWN_KEYFILE_FORMAT "Nøglefilen har ukendt format."
    IDS_ERR_OPEN_PRIVATE_KEY_FILE "En fejl opstod under åbning af nøgle-fil (%s)."
    IDS_ERR_OLD_PWD_INCORRECT "Du har indtastet forkert kodeord."
    IDS_ERR_OPEN_WRITE_KEY "En fejl opstod under åbning af nøgle-fil til skrivning (%s)."
    IDS_ERR_WRITE_NEW_KEY "En fejl opstod under oprettelse af ny nøgle-fil (%s)."
    IDS_NFO_PWD_CHANGED "Dit kodeord er blevet ændret."
    IDS_ERR_READ_PKCS12 "Fejl under læsning fra pkcs #12 fil (%s)."
    IDS_ERR_CREATE_PKCS12 "En fejl opstod under oprettelse af pkcs12 objekt."
    IDS_ERR_OPEN_CONFIG "En fejl opstod under åbning af følgende konfigurations-fil: %s."
    IDS_ERR_ONLY_ONE_KEY_OPTION "Du kan ikke have mere end en ""key"" parameter i din konfigurations-fil."
    IDS_ERR_ONLY_KEY_OR_PKCS12 "Du kan ikke have både ""key"" og ""pkcs12"" parametre i din konfigurations-fil."
    IDS_ERR_ONLY_ONE_PKCS12_OPTION "Du kan ikke have mere end en ""pkcs12"" parameter i din konfigurations-fil."
    IDS_ERR_HAVE_KEY_OR_PKCS12 "Din konfigurations-fil mangler ""key"" eller ""pkcs12"" parameter."
    IDS_ERR_KEY_FILENAME_TO_LONG "Den oplyste sti til din nøgle i konfigurations-filen er for lang!"
    IDS_ERR_PASSPHRASE2STDIN "En fejl opstod da kodeordet skulle sendes til OpenVPN via stdin."
    IDS_ERR_AUTH_USERNAME2STDIN "En fejl opstod da brugernavnet skulle sendes til OpenVPN via stdin."
    IDS_ERR_AUTH_PASSWORD2STDIN "En fejl opstod da kodeordet skulle sendes til OpenVPN via stdin."
    IDS_ERR_CR2STDIN "En fejl opstod da CR skulle sendes til OpenVPN via stdin."
    IDS_ERR_INVALID_CHARS_IN_PSW "Nyt kodeord indeholder tegn som ikke er tilladt. \
Forsøg igen."

    /* settings */
    IDS_SETTINGS_CAPTION "OpenVPN - Indstillinger"

    /* proxy */
    IDS_ERR_HTTP_PROXY_ADDRESS "HTTP proxy adresse skal oplyses."
    IDS_ERR_HTTP_PROXY_PORT "HTTP proxy port skal oplyses."
    IDS_ERR_HTTP_PROXY_PORT_RANGE "HTTP proxy port skal være et tal mellem 1 og 65535"
    IDS_ERR_SOCKS_PROXY_ADDRESS "SOCKS proxy addresse skal oplyses."
    IDS_ERR_SOCKS_PROXY_PORT "SOCKS proxy port skal oplyses."
    IDS_ERR_SOCKS_PROXY_PORT_RANGE "SOCKS proxy port skal være et tal mellem 1 og 65535"
    IDS_ERR_CREATE_REG_HKCU_KEY "En fejl opstod ved oprettelse af register-nøgle ""HKEY_CURRENT_USER\\%s"""
    IDS_ERR_GET_TEMP_PATH "En fejl opstod da GetTempPath() skulle bestemmes. Alternativet ""C:\\"" vil blive benyttet."

    /* service */
    IDS_ERR_OPEN_VPN_SERVICE "Kunnne ikke åbne ""OpenVPNService"""
    IDS_ERR_START_SERVICE "En fejl opstod under start af OpenVPN Service"
    IDS_ERR_QUERY_SERVICE "En fejl opstod da status på OpenVPN Service skulle kontrolleres."
    IDS_ERR_SERVICE_START_FAILED "OpenVPN Service kunne ikke starte."
    IDS_ERR_OPEN_SCMGR "OpenSCManager fejlramt (%d)"
    IDS_ERR_STOP_SERVICE "En fejl opstod ved stop af OpenVPN Service"
    IDS_NFO_RESTARTED "OpenVPN Service genstartet."
    IDS_ERR_ACCESS_SERVICE_PIPE "Access to service pipe failed."
    IDS_ERR_WRITE_SERVICE_PIPE "Writing to service pipe failed."
    IDS_ERR_INSTALL_ISERVICE     """OpenVPNServiceInteractive"" is not installed.\n\
Tasks requiring administrative access may not work."
    IDS_ERR_NOTSTARTED_ISERVICE  """OpenVPNServiceInteractive"" is not started.\n\
Tasks requiring administrative access may not work."
    IDS_ERR_NOTSTARTED_ISERVICE_ADM  """OpenVPNServiceInteractive"" is not started.\n\
Wintun driver will not work."

    /* registry */
    IDS_ERR_GET_WINDOWS_DIR "Kunne ikke finde mappen hvor Windows er installeret."
    IDS_ERR_GET_PROFILE_DIR "Error getting User Profile Directory."
    IDS_ERR_GET_PROGRAM_DIR "Kunne ikke finde stien til dit ""Programmer"" mappe."
    IDS_ERR_OPEN_REGISTRY "Fejl under åbning af register til læsning (HKLM\\SOFTWARE\\OpenVPN).\n \
OpenVPN er måske ikke installeret."
    IDS_ERR_READING_REGISTRY "Fejl under læsning af register-nøgle (HKLM\\SOFTWARE\\OpenVPN)."
    IDS_ERR_PASSPHRASE_ATTEMPTS "Register-værdi ""passphrase_attempts"" skal være et tal mellem 1 og 9."
    IDS_ERR_CONN_SCRIPT_TIMEOUT "Register-værdi ""connectscript_timeout"" skal være et tal mellem 0 og 99."
    IDS_ERR_DISCONN_SCRIPT_TIMEOUT "Register-værdi ""disconnectscript_timeout"" skal være et tal mellem 1 og 99."
    IDS_ERR_PRECONN_SCRIPT_TIMEOUT "Register-værdi ""preconnectscript_timeout"" skal være et tal mellem 1 og 99."
    IDS_ERR_CREATE_REG_KEY "Fejl under oprettelse af register-nøgle HKLM\\SOFTWARE\\OpenVPN-GUI."
    IDS_ERR_OPEN_WRITE_REG "Fejl under åbning af register til skrivning. Du skal starte programmet \
en gang som administrator for at opdatere registret."
    IDS_ERR_READ_SET_KEY "Fejl under læsning og skrivning af register-værdi ""%s""."
    IDS_ERR_WRITE_REGVALUE "Fejl under skrivning af register-værdi ""HKEY_CURRENT_USER\\%s\\%s""."

    /* importation */
    IDS_ERR_IMPORT_EXISTS "A config named ""%s"" already exists."
    IDS_ERR_IMPORT_FAILED "Failed to import file. The following path could not be created.\n\n\
%s\n\nMake sure you have the right permissions."
    IDS_NFO_IMPORT_SUCCESS "File imported successfully."
    IDS_NFO_IMPORT_OVERWRITE "A config named ""%s"" already exists. Do you want to replace it?"
    IDS_ERR_IMPORT_SOURCE "Cannot import file <%s> as it is already in the global or local config directory"

    /* save/delete password */
    IDS_NFO_DELETE_PASS "Press OK to delete saved passwords for config ""%s"""

    /* Token password related */
    IDS_NFO_TOKEN_PASSWORD_CAPTION "OpenVPN – Token Password"
    IDS_NFO_TOKEN_PASSWORD_REQUEST "Input Password/PIN for Token '%S'"

    IDS_NFO_AUTH_PASS_RETRY "Wrong credentials. Try again…"
    IDS_NFO_KEY_PASS_RETRY  "Wrong password. Try again…"
    IDS_ERR_INVALID_PASSWORD_INPUT "Invalid character in password"
    IDS_ERR_INVALID_USERNAME_INPUT "Invalid character in username"
    IDS_NFO_AUTO_CONNECT    "Connecting automatically in %u seconds…"
    IDS_NFO_CLICK_HERE_TO_START "OpenVPN GUI is already running. Right click on the tray icon to start."
    IDS_NFO_BYTECOUNT "Bytes in: %s  out: %s"

END
