/*
 *  OpenVPN-GUI -- A Windows GUI for OpenVPN.
 *
 *  Copyright (C) 2004 Mathias Sundman <mathias@nilings.se>
 *                2009 Heiko Hund <heikoh@users.sf.net>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program (see the file COPYING included with this
 *  distribution); if not, write to the Free Software Foundation, Inc.,
 *  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

#pragma code_page(1252)

/* About Dialog */
ID_DLG_ABOUT DIALOG 0, 0, 260, 135
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "About - OpenVPN GUI for Windows"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    PUSHBUTTON "OK", IDOK, 99, 115, 63, 14
    ICON ID_ICO_CONNECTED, 204, 11, 8, 21, 20
    LTEXT "OpenVPN GUI v" PACKAGE_VERSION " - A Windows GUI for OpenVPN", 101, 40, 5, 215, 8
    LTEXT "Copyright (C) 2004-2005 Mathias Sundman <info@openvpn.se>", 102, 40, 15, 215, 8
    LTEXT "http://openvpn.se/", 103, 40, 25, 215, 8
    LTEXT "OpenVPN - An application to securely tunnel IP networks " \
          "over a single UDP port, with support for SSL/TLS-based " \
          "session authentication and key exchange, packet " \
          "encryption, packet authentication, and packet compression.",
          104, 11, 51, 235, 34
    LTEXT "Copyright (C) 2002-2005 OpenVPN Solutions LLC <info@openvpn.net>", 105, 11, 87, 235, 11
    LTEXT "http://openvpn.net/", 106, 11, 98, 235, 10
END

/* Passphrase Dialog */
ID_DLG_PASSPHRASE DIALOGEX 6, 18, 120, 51
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
EXSTYLE WS_EX_TOPMOST
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    LTEXT "Enter Password:", 201, 6, 6, 100, 10
    EDITTEXT ID_EDT_PASSPHRASE, 6, 17, 107, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 6, 33, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 64, 33, 50, 14
END

/* Auth Username/Password Dialog */
ID_DLG_AUTH DIALOG 6, 18, 160, 62
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER | DS_SETFOREGROUND
CAPTION "OpenVPN - User Authentication"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    LTEXT "Username:", 0, 6, 9, 50, 10
    LTEXT "Password:", 0, 6, 26, 50, 10
    EDITTEXT ID_EDT_AUTH_USER, 60, 6, 94, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_AUTH_PASS, 60, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 20, 42, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 90, 42, 52, 14
END

/* Status Dialog */
ID_DLG_STATUS DIALOG 6, 18, 380, 210
STYLE WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    LTEXT "Connecting...", ID_TXT_STATUS, 20, 5, 200, 10
    PUSHBUTTON "Disconnect", ID_DISCONNECT, 50, 190, 50, 14
    PUSHBUTTON "Reconnect", ID_RESTART, 150, 190, 50, 14
    PUSHBUTTON "Hide", ID_HIDE, 100, 190, 50, 14
END

/* Change Passphrase Dialog */
ID_DLG_CHGPASS DIALOG 6, 18, 193, 82
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "OpenVPN - Change Passphrase"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    LTEXT "Old Password:", 171, 6, 9, 85, 10
    LTEXT "New Password:", 172, 6, 26, 85, 10
    LTEXT "Confirm New Password:", 173, 6, 42, 85, 10
    EDITTEXT ID_EDT_PASS_CUR, 95, 6, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW, 95, 23, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PASS_NEW2, 95, 39, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 40, 59, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 103, 59, 50, 14
    LTEXT "", ID_TXT_KEYFORMAT, 0, 0, 0, 0
    LTEXT "", ID_TXT_KEYFILE, 0, 0, 0, 0
END

/* Proxy Settings Dialog */
ID_DLG_PROXY DIALOG 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Proxy"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    GROUPBOX "   ", 201, 6, 46, 235, 52
    AUTORADIOBUTTON "Use OpenVPN Config-file Settings", ID_RB_PROXY_OPENVPN, \
                    13, 16, 200, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Use System Proxy Settings", \
                    ID_RB_PROXY_MSIE, 13, 31, 200, 10
    AUTORADIOBUTTON "Manual Configuration", ID_RB_PROXY_MANUAL, 13, 46, 79, 10
    AUTORADIOBUTTON "HTTP Proxy", ID_RB_PROXY_HTTP, 20, 62, 90, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "SOCKS Proxy", ID_RB_PROXY_SOCKS, 120, 62, 90, 10
    LTEXT "Address:", ID_TXT_PROXY_ADDRESS, 20, 77, 32, 10
    RTEXT "Port:", ID_TXT_PROXY_PORT, 171, 77, 20, 10
    EDITTEXT ID_EDT_PROXY_ADDRESS, 53, 75, 117, 12, ES_AUTOHSCROLL
    EDITTEXT ID_EDT_PROXY_PORT, 196, 75, 30, 12, ES_AUTOHSCROLL
END

/* General Settings Dialog */
ID_DLG_GENERAL DIALOGEX 6, 18, 249, 104
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "General"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    GROUPBOX "User Interface", 201, 6, 12, 235, 30
    LTEXT "Language:", ID_TXT_LANGUAGE, 17, 25, 52, 12
    COMBOBOX ID_CMB_LANGUAGE, 57, 23, 171, 400, CBS_DROPDOWNLIST | WS_TABSTOP
END

/* Proxy Authentication Dialog */
ID_DLG_PROXY_AUTH DIALOG 29, 23, 154, 65
STYLE DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_CENTER
CAPTION "OpenVPN - Proxy Authentication"
FONT 8, "Microsoft Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    LTEXT "Username:", 201, 9, 8, 38, 10
    EDITTEXT ID_EDT_PROXY_USER, 49, 5, 94, 12, ES_AUTOHSCROLL
    LTEXT "Password:", 202, 9, 26, 38, 10
    EDITTEXT ID_EDT_PROXY_PASS, 49, 23, 94, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON "OK", IDOK, 58, 43, 40, 14
END

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
    IDS_LANGUAGE_NAME "English"

    /* Tray - Resources */
    IDS_TIP_DEFAULT "OpenVPN GUI "
    IDS_TIP_CONNECTED "\nConnected to: "
    IDS_TIP_CONNECTING "\nConnecting to: "
    IDS_TIP_CONNECTED_SINCE "\nConnected since: "
    IDS_TIP_ASSIGNED_IP "\nAssigned IP: %s"
    IDS_MENU_SERVICE "OpenVPN Service"
    IDS_MENU_SETTINGS "Settings..."
    IDS_MENU_ABOUT "About..."
    IDS_MENU_CLOSE "Exit"
    IDS_MENU_CONNECT "Connect"
    IDS_MENU_DISCONNECT "Disconnect"
    IDS_MENU_STATUS "Show Status"
    IDS_MENU_VIEWLOG "View Log"
    IDS_MENU_EDITCONFIG "Edit Config"
    IDS_MENU_PASSPHRASE "Change Password"
    IDS_MENU_SERVICE_START "Start"
    IDS_MENU_SERVICE_STOP "Stop"
    IDS_MENU_SERVICE_RESTART "Restart"
    IDS_MENU_SERVICEONLY_START "Connect"
    IDS_MENU_SERVICEONLY_STOP "Disconnect"
    IDS_MENU_SERVICEONLY_RESTART "Reconnect"
    IDS_MENU_ASK_STOP_SERVICE "Do you want to disconnect (Stop the OpenVPN Service)?"

    /* Logviewer - Resources */
    IDS_ERR_START_LOG_VIEWER "Error starting log-viewer: %s"
    IDS_ERR_START_CONF_EDITOR "Error starting config-editor: %s"

    /* OpenVPN */
    IDS_ERR_MANY_CONFIGS "OpenVPN GUI does not support more than %d configs. Please contact the author if you have the need for more."
    IDS_ERR_ONE_CONN_OLD_VER "You can only have one connection running at the same time when using an older version on OpenVPN than 2.0-beta6."
    IDS_ERR_STOP_SERV_OLD_VER "You cannot use OpenVPN GUI to start a connection while the OpenVPN Service is running (with OpenVPN 1.5/1.6). Stop OpenVPN Service first if you want to use OpenVPN GUI."
    IDS_ERR_CREATE_EVENT "CreateEvent failed on exit event: %s"
    IDS_ERR_UNKNOWN_PRIORITY "Unknown priority name: %s"
    IDS_ERR_LOG_APPEND_BOOL "Log file append flag (given as '%s') must be '0' or '1'"
    IDS_ERR_GET_MSIE_PROXY "Could not to get MSIE proxy settings."
    IDS_ERR_INIT_SEC_DESC "InitializeSecurityDescriptor failed."
    IDS_ERR_SET_SEC_DESC_ACL "SetSecurityDescriptorDacl failed."
    IDS_ERR_CREATE_PIPE_OUTPUT "CreatePipe on hOutputWrite failed."
    IDS_ERR_CREATE_PIPE_INPUT "CreatePipe on hInputRead failed."
    IDS_ERR_DUP_HANDLE_OUT_READ "DuplicateHandle on hOutputRead failed."
    IDS_ERR_DUP_HANDLE_IN_WRITE "DuplicateHandle on hInputWrite failed."
    IDS_ERR_CREATE_PROCESS "CreateProcess failed, exe='%s' cmdline='%s' dir='%s'"
    IDS_ERR_CREATE_THREAD_STATUS "CreateThread to show Status window Failed."
    IDS_NFO_STATE_WAIT_TERM "Current State: Waiting for OpenVPN to terminate..."
    IDS_NFO_STATE_CONNECTED "Current State: Connected"
    IDS_NFO_NOW_CONNECTED "%s is now connected."
    IDS_NFO_ASSIGN_IP "Assigned IP: %s"
    IDS_ERR_CERT_EXPIRED "Unable to connect because your certificate has expired or the system time is incorrect."
    IDS_ERR_CERT_NOT_YET_VALID "Unable to connect because your certificate is not yet valid. Check that your system time is correct."
    IDS_NFO_STATE_RECONNECTING "Current State: Reconnecting"
    IDS_NFO_STATE_DISCONNECTED "Current State: Disconnected"
    IDS_NFO_CONN_TERMINATED "Connection to %s was terminated."
    IDS_NFO_STATE_FAILED "Current State: Failed to connect"
    IDS_NFO_CONN_FAILED "Connecting to %s has failed."
    IDS_NFO_STATE_FAILED_RECONN "Current State: Failed to reconnect"
    IDS_NFO_RECONN_FAILED "ReConnecting to %s has failed."
    IDS_NFO_STATE_SUSPENDED "Current State: Suspended"
    IDS_ERR_READ_STDOUT_PIPE "Error reading from OpenVPN StdOut Pipe."
    IDS_ERR_CREATE_EDIT_LOGWINDOW "Creating RichEdit LogWindow Failed!!"
    IDS_ERR_SET_SIZE "Set Size failed!"
    IDS_ERR_AUTOSTART_CONF "Cannot find requested config to autostart: %s"
    IDS_ERR_CREATE_PIPE_IN_READ "CreatePipe on hInputRead failed."
    IDS_NFO_STATE_CONNECTING "Current State: Connecting"
    IDS_NFO_CONNECTION_XXX "OpenVPN Connection (%s)"
    IDS_NFO_STATE_CONN_SCRIPT "Current State: Running Connect Script"
    IDS_NFO_STATE_DISCONN_SCRIPT "Current State: Running Disconnect Script"
    IDS_ERR_RUN_CONN_SCRIPT "Error running Connect Script: %s"
    IDS_ERR_GET_EXIT_CODE "Failed to get ExitCode of Connect Script (%s)"
    IDS_ERR_CONN_SCRIPT_FAILED "Connect Script failed. (exitcode=%ld)"
    IDS_ERR_RUN_CONN_SCRIPT_TIMEOUT "Connect Script failed. TimeOut after %d sec."
    IDS_ERR_CONFIG_EXIST "There already exist a config file named '%s'. You cannot " \
                         "have multiple config files with the same name, even if " \
                         "they reside in diffrent folders."
    /* main - Resources */
    IDS_ERR_OPEN_DEBUG_FILE "Error opening debug file (%s) for output."
    IDS_ERR_LOAD_RICHED20 "Could not load RICHED20.DLL."
    IDS_ERR_SHELL_DLL_VERSION "Your shell32.dll version is to low (0x%lx). You need at least version 5.0."
    IDS_ERR_GUI_ALREADY_RUNNING "OpenVPN GUI is already running."
    IDS_NFO_SERVICE_STARTED "OpenVPN Service started."
    IDS_NFO_SERVICE_STOPPED "OpenVPN Service stopped."
    IDS_NFO_ACTIVE_CONN_EXIT "There are still active connections that will be closed if you exit OpenVPN GUI." \
                             "\n\nAre you sure you want to exit?"
    IDS_NFO_SERVICE_ACTIVE_EXIT "You are currently connected (the OpenVPN Service is running). " \
                                "You will stay connected even if you exit OpenVPN GUI.\n\n" \
                                "Do you want to proceed and exit OpenVPN GUI?"

    /* options - Resources */
    IDS_NFO_USAGE "--help\t\t\t: Show this message.\n" \
                  "--connect cnn \t\t: Connect to ""cnn"" at startup. (extension must be included)\n" \
                  "\t\t\t   Example: openvpn-gui --connect office.ovpn\n" \
                  "\n" \
                  "Options to override registry settings:\n" \
                  "--exe_path\t\t: Path to openvpn.exe.\n" \
                  "--config_dir\t\t: Path to dir to search for config files in.\n" \
                  "--ext_string\t\t: Extension on config files.\n" \
                  "--log_dir\t\t\t: Path to dir where log files will be saved.\n" \
                  "--priority_string\t\t: Priority string (See install.txt for more info).\n" \
                  "--append_string\t\t: 1=Append to log file. 0=Truncate logfile when connecting.\n" \
                  "--log_viewer\t\t: Path to log viewer.\n" \
                  "--editor\t\t\t: Path to config editor.\n" \
                  "--allow_edit\t\t: 1=Show Edit Config menu item.\n" \
                  "--allow_service\t\t: 1=Show Service control menu.\n" \
                  "--allow_password\t\t: 1=Show Change Password menu item.\n" \
                  "--allow_proxy\t\t: 1=Show Proxy Settings menu.\n" \
                  "--show_balloon\t\t: 0=Never, 1=At initial connect, 2=At every re-connect.\n" \
                  "--service_only\t\t: 1=Enable Service Only mode.\n" \
                  "--silent_connection\t\t: 1=Do not show the status dialog while connecting.\n" \
                  "--show_script_window\t: 0=Hide Script execution window, 1=Show it.\n" \
                  "--passphrase_attempts\t: Number of passphrase attempts to allow.\n" \
                  "--connectscript_timeout\t: Time to wait for connect script to finish.\n" \
                  "--disconnectscript_timeout\t: Time to wait for disconnect script to finish.\n" \
                  "--preconnectscript_timeout\t: Time to wait for preconnect script to finish.\n"

    IDS_NFO_USAGECAPTION "OpenVPN GUI Usage"
    IDS_ERR_BAD_PARAMETER "I'm trying to parse ""%s"" as an --option parameter " \
                      "but I don't see a leading '--'"
    IDS_ERR_BAD_OPTION "Options error: Unrecognized option or missing parameter(s): --%s\n" \
                   "Use openvpn-gui --help for more info."

    /* passphrase - Resources */
    IDS_ERR_CREATE_PASS_THREAD "CreateThread to show ChangePassphrase dialog failed."
    IDS_NFO_CHANGE_PWD "Change Password (%s)"
    IDS_ERR_PWD_DONT_MATCH "The passwords you typed do not match. Try again."
    IDS_ERR_PWD_TO_SHORT "Your new password must be at least %d characters long."
    IDS_NFO_EMPTY_PWD "Are you sure you want to set an EMPTY password?"
    IDS_ERR_UNKNOWN_KEYFILE_FORMAT "Unknown keyfile format."
    IDS_ERR_OPEN_PRIVATE_KEY_FILE "Error opening private key file (%s)."
    IDS_ERR_OLD_PWD_INCORRECT "The old password is incorrect."
    IDS_ERR_OPEN_WRITE_KEY "Error opening private key file for writing (%s)."
    IDS_ERR_WRITE_NEW_KEY "Error writing new private key file (%s)."
    IDS_NFO_PWD_CHANGED "Your password has been changed."
    IDS_ERR_READ_PKCS12 "Error reading PKCS #12 file (%s)."
    IDS_ERR_CREATE_PKCS12 "Error creating new PKCS #12 object. Change Password has failed."
    IDS_ERR_OPEN_CONFIG "Could not open config file for reading: (%s)"
    IDS_ERR_ONLY_ONE_KEY_OPTION "You cannot have more than one ""key"" option in your config."
    IDS_ERR_ONLY_KEY_OR_PKCS12 "You cannot have both ""key"" and ""pkcs12"" options in your config."
    IDS_ERR_ONLY_ONE_PKCS12_OPTION "You cannot have more than one ""pkcs12"" option in your config."
    IDS_ERR_HAVE_KEY_OR_PKCS12 "Your config file does not contain any ""key"" or ""pkcs12"" option."
    IDS_ERR_KEY_FILENAME_TO_LONG "Your key filename in the config is too long!"
    IDS_ERR_PASSPHRASE2STDIN "Error passing passphrase to stdin."
    IDS_ERR_AUTH_USERNAME2STDIN "Error passing auth username to stdin."
    IDS_ERR_AUTH_PASSWORD2STDIN "Error passing auth password to stdin."
    IDS_ERR_CR2STDIN "Error passing CR to stdin."
    IDS_ERR_INVALID_CHARS_IN_PSW "Your new password contains non-valid characters. " \
                             "Please choose another one."

    /* settings */
    IDS_SETTINGS_CAPTION "OpenVPN - Settings"

    /* proxy */
    IDS_ERR_HTTP_PROXY_ADDRESS "You must specify a HTTP proxy address."
    IDS_ERR_HTTP_PROXY_PORT "You must specify a HTTP proxy port."
    IDS_ERR_HTTP_PROXY_PORT_RANGE "You must specify a HTTP proxy port between 1-65535"
    IDS_ERR_SOCKS_PROXY_ADDRESS "You must specify a SOCKS proxy address."
    IDS_ERR_SOCKS_PROXY_PORT "You must specify a SOCKS proxy port."
    IDS_ERR_SOCKS_PROXY_PORT_RANGE "You must specify a SOCKS proxy port between 1-65535"
    IDS_ERR_CREATE_REG_HKCU_KEY "Error creating ""HKEY_CURRENT_USER\\%s"" key."
    IDS_ERR_GET_TEMP_PATH "Error determining TempPath with GetTempPath(). Using ""C:\\"" instead."

    /* service */
    IDS_ERR_OPEN_SCMGR_ADMIN "OpenSCManager failed. You need Administrator rights to start a service."
    IDS_ERR_OPEN_VPN_SERVICE "Failed to open ""OpenVPNService"""
    IDS_ERR_START_SERVICE "Failed to start ""OpenVPNService"""
    IDS_ERR_QUERY_SERVICE "Failed to query service status."
    IDS_ERR_SERVICE_START_FAILED "OpenVPN Service failed to start."
    IDS_ERR_OPEN_SCMGR "OpenSCManager failed (%d)"
    IDS_ERR_STOP_SERVICE "Failed to stop OpenVPN Service"
    IDS_NFO_RESTARTED "OpenVPN Service Restarted."

    /* registry */
    IDS_ERR_GET_WINDOWS_DIR "Error getting Windows Directory."
    IDS_ERR_GET_PROGRAM_DIR "Error getting ""Program"" folder name."
    IDS_ERR_OPEN_REGISTRY "Error opening registry for reading (HKLM\\SOFTWARE\\OpenVPN).\n " \
                      "OpenVPN is probably not installed"
    IDS_ERR_READING_REGISTRY "Error reading registry value (HKLM\\SOFTWARE\\OpenVPN)."
    IDS_ERR_PASSPHRASE_ATTEMPTS "Registry value ""passphrase_attempts"" must be a number between 1 and 9."
    IDS_ERR_CONN_SCRIPT_TIMEOUT "Registry value ""connectscript_timeout"" must be a number between 0 and 99."
    IDS_ERR_DISCONN_SCRIPT_TIMEOUT "Registry value ""disconnectscript_timeout"" must be a number between 1 and 99."
    IDS_ERR_PRECONN_SCRIPT_TIMEOUT "Registry value ""preconnectscript_timeout"" must be a number between 1 and 99."
    IDS_ERR_CREATE_REG_KEY "Error creating HKLM\\SOFTWARE\\OpenVPN-GUI key."
    IDS_ERR_OPEN_WRITE_REG "Failed to open the registry for writing. You need to run this application " \
                       "once as Administrator to update the registry."
    IDS_ERR_READ_SET_KEY "Error reading and setting registry key ""%s""."
    IDS_ERR_WRITE_REGVALUE "Error writing registry value ""HKEY_CURRENT_USER\\%s\\%s""."
END
