# The name of our workflow
name: Build
on: [push, pull_request]

jobs:
  checkuncrustify:
    name: "Check code style with Uncrustify"
    # Ubuntu 22.04 has uncrustify 0.72_f
    runs-on: ubuntu-22.04
    steps:
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y uncrustify
      - name: Checkout OpenVPN-GUI
        uses: actions/checkout@v3
      - name: Show uncrustify version
        run: uncrustify --version
      - name: Run uncrustify
        run: ./dev-tools/reformat-all.sh
      - name: Check for changes
        run: git diff --output=uncrustify-changes.patch
      - name: Show changes on standard output
        run: git diff
      - uses: actions/upload-artifact@v3
        with:
          name: uncrustify-changes.patch
          path: uncrustify-changes.patch
      - name: Set job status
        run: test ! -s uncrustify-changes.patch

  msvc:
    strategy:
      matrix:
        arch: [x86, x64, arm64]
        conf:
          - name: ""
            value: "release"
        ovpn3:
          - preset: ""
            name: ""
            upload_name: ""
          - preset: -ovpn3
            name: "- ovpn3"
            upload_name: "_ovpn3"
        include:
          - conf:
              name: " ASAN"
              value: "asan"
            arch: x64

    name: 'msvc - ${{matrix.arch}} ${{ matrix.ovpn3.name }}${{ matrix.conf.name }}'
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - uses: lukka/get-cmake@latest

    - name: Restore artifacts, or setup vcpkg (do not install any package)
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgDirectory: '${{ runner.workspace }}/b/vcpkg'
        vcpkgGitCommitId: 6220088b956e4e4c7de27fb5f5eff8c9745cb4c8

    - name: Run CMake consuming CMakePreset.json and vcpkg.json by mean of vcpkg.
      uses: lukka/run-cmake@v10
      with:
        configurePreset: '${{ matrix.arch }}${{ matrix.ovpn3.preset }}'
        buildPreset: '${{ matrix.arch }}-${{ matrix.conf.value }}${{ matrix.ovpn3.preset }}'

    - uses: actions/upload-artifact@v3
      with:
        name: openvpn-gui_${{ matrix.arch }}_${{ matrix.conf.value }}${{ matrix.ovpn3.upload_name }}
        path: |
          out/build/${{ matrix.arch }}${{ matrix.ovpn3.preset }}/${{ matrix.conf.value }}/*.dll
          out/build/${{ matrix.arch }}${{ matrix.ovpn3.preset }}/${{ matrix.conf.value }}/*.exe

  mingw:
    strategy:
      fail-fast: false
      matrix:
        target: [mingw64, mingw]
        include:
          - target: mingw64
            chost: x86_64-w64-mingw32
          - target: mingw
            chost: i686-w64-mingw32

    name: "gcc-mingw - ${{matrix.target}}"
    runs-on: ubuntu-20.04

    env:
      MAKEFLAGS: -j3

    steps:
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y mingw-w64 libtool automake autoconf
      - name: Checkout
        uses: actions/checkout@v3

      - name: autoconf
        run: autoreconf -fvi

      - name: configure
        run: ./configure --host=${{ matrix.chost }}

      - name: make
        run: make
